.case-summary .card-header {
  font-family: 'Lato';
  font-weight: 400;
  padding-left: 10px;
  padding-right: 0px;
  font-size: 20px;
  background:#ffffff;
  border: 0px;
  padding-bottom: 0px;
  color: #585858;
}
.case-summary .mat-mdc-card-title{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
}
.card-header {
  font-family: 'Lato';
  font-weight: 400;
  padding-left: 10px;
  font-size: 20px;
}

.ui-datatable-tableheader {
    background-color:  #3A8BAF !important;
    border:0px !important;
    color: white !important;
}

.data-categories-table{
	padding: 0 !important;
}

/* .table-striped > tbody >  tr:nth-of-type(even){
	background-color: #aac1d4;
} */

.table-striped > tbody > tr:nth-child(even) {
	background-color: #fafafb;
}

.summary-card-name-left-cell {
	word-wrap:break-word;
	white-space:normal;
	padding-right:20px;
	padding-bottom: 3px;
	text-align: right;
}

.summary-card-value-left-cell {
	word-wrap:break-word !important;
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px;
	padding-left:10px;
	text-align: left;
	border-right: 1px solid #ddd;
}

.summary-card-name-right-cell {
	word-wrap:break-word;
	white-space:normal;
	padding-bottom: 3px;
	padding-right:20px;
	padding-left:10px;
	text-align: right;
}

.summary-card-value-right-cell {
	word-wrap:break-word !important;
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px;
	text-align: left;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px
}

::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #a4bdcb
}
::-webkit-scrollbar-thumb{
	background: #245571;
}

.tab-table-field-name {
	padding-right:10px;
	padding-bottom: 3px;
	white-space:normal;
	text-align: right;
}

.tab-table-field-value {
	padding-right:2px;
	padding-bottom: 3px;
	word-wrap:break-word !important;
	white-space:normal;
	text-align: left;
}

//@@@PDC-461 Make all summary dialog windows headers sticky
.container-fluid {
	//position: relative;;
	top:6.5em;
	bottom:3em;
	//overflow-y:auto;
	//width:78%;
}

::ng-deep {
	.ui-table table {
		table-layout: unset !important;
	}

	.ui-paginator .ui-paginator-page.ui-state-active {
		background-color: #3A8BAF;
	}

	.ui-table tr td, .ui-table-thead tr, .table, .table tr td, .table tr th {
		font-size: 14px !important;
	}
}


  ::ng-deep .mat-dialog-container {
  width: 75vw !important;
  max-width: 75vw !important;
  min-width: 75vw !important;
  margin: 2.5vh auto !important;
  padding: 0 !important;
}

// Additional override for Angular Material dialog
::ng-deep .cdk-overlay-pane {
  width: 75vw !important;
  max-width: 75vw !important;
}

::ng-deep .mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 90vh !important;
  overflow-y: auto !important;
}

// Center the dialog content
::ng-deep .mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// Center the main content row
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// Center the main flex container
.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}

// Center the dialog title
::ng-deep .mat-dialog-title,
::ng-deep h2[mat-dialog-title] {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
}
.close-btn i {
  color: #333 !important;
  font-size: 20px;
  font-weight: bold;
}
