.study-summary .card {
    padding-right: 0px;
    border: 0px;
    padding-top: 0px;
    padding-left: 0px;
	margin-left: 2px;
    margin: -108px auto 0;
    width: 100%;
}
.study-summary .card-header {
  font-family: 'Lato';
  font-weight: 400;
  padding-left: 10px;
  padding-right: 0px;
  font-size: 20px;
  background:#ffffff;
  border: 0px;
  padding-bottom: 0px;
  color: #585858;
}
.study-summary .mat-card-title{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
}
.card-header {
  font-family: 'Lato';
  font-weight: 400;
  padding-left: 10px;
  font-size: 20px;
}

.ui-datatable-tableheader {
    background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important;
    border:0px !important;
    color: white !important;
}

.data-categories-table{
	padding: 0 !important;
}
 
.table-striped > tbody >  tr:nth-of-type(odd){
	background-color: #ffffff;
}
 
.table-striped > tbody >  tr:nth-of-type(even){
	background-color: rgb(225, 239, 252);
}
  
::-webkit-scrollbar {
    width: 8px;
	height: 8px
}

::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #a4bdcb
}
::-webkit-scrollbar-thumb{
	background: #245571;
}

.mat-card-content{
	font-size:12px;
}

.table .summary-table{
	border: 0;
	overflow-y:auto;
	
}

.summary-card-name-left-cell {
	word-wrap:break-word; 
	white-space:normal;
	padding-right:20px; 
	padding-bottom: 3px;
	text-align: right;
}

.summary-card-value-left-cell {
	word-wrap:break-word !important; 
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px; 
	padding-left:10px; 
	text-align: left; 
	border-right: 1px solid #ddd;
}

.summary-card-name-right-cell {
	word-wrap:break-word; 
	white-space:normal; 
	padding-bottom: 3px;
	padding-right:20px;
	padding-left:10px;
	text-align: right;
}

.summary-card-value-right-cell {
	word-wrap:break-word !important; 
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px; 
	text-align: left;
}

.tab-table-field-name {
	padding-right:10px;
	padding-bottom: 3px; 
	white-space:normal;
	text-align: right;
}

.tab-table-field-value {
	padding-right:2px;
	padding-bottom: 3px; 
	word-wrap:break-word !important; 
	white-space:normal; 
	text-align: left;
}

//@@@PDC-461 Make all summary dialog windows headers sticky
.container-fluid {
	//position:absolute;
	top:6.5em;
	bottom:3em;
	//overflow-y:auto;
	//width:78%;
}

/* @@@PDC-1160: Add cases and aliquots to the study summary page */
:host /deep/ .ui-table th {
    word-wrap: break-word !important;
}

//@@@PDC-1219: Add a new experimental design tab on the study summary page
:host /deep/ .ui-table tr td .colValue div {
	font-weight: bold;
	font-style: italic;
	color: #3A8BB7;
}

.help-icon {
	font-size: 20px !important;
}

//@@@PDC-1420: Cannot sort the columns in "Clinical" table of the Study summary page
:host /deep/ .ui-table table {
	width: 100% !important;
}

//@@@PDC-1421: Unable to expand columns in the tables of Study Summary page
#clinicalDataTable, #studyExperimentalDesignTable, #biospecimensDataTable {
	height: 350px;
    overflow-y: scroll;
}