<title>Gene {{geneSummaryData?.gene_name}}</title>
<div style="padding-left: 5px; overflow-x:hidden">
  <mat-sidenav-container style="min-height: 1100px; padding-left:5px!important">
      <mat-sidenav #sidenav style=" margin-top: 3px; width:330px; padding-left:15px!important; visibility:visible!important" mode="side" opened [(opened)]="opened" class="sideBarNavigation">

        <mat-card class="card" style="padding:0px!important">
          <mat-card-header class="browse-filter">
          </mat-card-header>
         <gene-filters (selectedFilters)=onFilterSelected($event)>
            Starting filters...
          </gene-filters>
        </mat-card>
     <button mat-icon-button style="padding-right:0px!important; padding-top: 0px"
      matTooltip="Hide filters" (click)="sidenav.toggle()" aria-label="Hide Filters"><fa-icon name="angle-double-left"></fa-icon></button>

    </mat-sidenav>

    <mat-sidenav-content style="margin-top: 3px; overflow: hidden;">
      <button *ngIf="opened"  mat-icon-button style="padding-right:0px!important; padding-top: 0px"
        matTooltip="Hide filters" (click)="sidenav.toggle()" id="hideFiltersOptionTop" aria-label="Hide Filters"><fa-icon name="angle-double-left"></fa-icon></button>
     <button mat-icon-button matTooltip="Show filters"
        *ngIf="!opened" (click)="sidenav.toggle()" id="showFilters" aria-label="Show Filters"><fa-icon name="angle-double-right"></fa-icon>
      </button>
	  <div class="" style="padding-left:10px; padding-right:15px;  margin-left:10px!important">
		<h2 mat-dialog-title style="color:#245672" id="geneName">GENE: {{geneSummaryData?.gene_name}}</h2>
		<div class="row" style="width: 100%;">
			<mat-card style="width:100%">
				<mat-card-content style="overflow-y: auto; word-wrap: break-word; white-space: normal;font-size: 14px;">
					<div *ngIf="loadingGeneSummary"><i class="pi pi-spin pi-spinner" style="font-size: 3em;"></i></div>
					<table id="geneSummaryCard">
						<tr><td class="summary-card-name-left-cell">NCBI Gene ID</td><td class="summary-card-value-left-cell">{{geneSummaryData?.ncbi_gene_id}}</td>
							<td class="summary-card-name-right-cell">Chromosome</td><td class="summary-card-value-right-cell">{{geneSummaryData?.chromosome}}</td>
						</tr>
						<tr><td class="summary-card-name-left-cell">Authority</td><td class="summary-card-value-left-cell">{{geneSummaryData?.authority}}</td>
							<td class="summary-card-name-right-cell">Locus</td><td class="summary-card-value-right-cell">{{geneSummaryData?.locus}}</td>
						</tr>
						<tr><td class="summary-card-name-left-cell">Description</td><td class="summary-card-value-left-cell">{{geneSummaryData?.description}}</td>
							<td class="summary-card-name-right-cell">Proteins</td><td class="summary-card-value-right-cell">{{geneSummaryData?.proteins}}</td>
						</tr>
						<tr><td class="summary-card-name-left-cell">Organism</td><td class="summary-card-value-left-cell">{{geneSummaryData?.organism}}</td>
							<td class="summary-card-name-right-cell">Assays</td><td class="summary-card-value-right-cell">{{geneSummaryData?.assays}}
								<div *ngIf="isAssaysEmpty()">N/A</div>
							</td>
						</tr>
					</table>
				</mat-card-content>
			</mat-card>
		</div>
		<br>
		<div class="row" style="width: 80%;">
			<p-table class="table-striped ui-datatable-odd" id="geneSummaryPTMDataTable" [value]="genePTMData" [lazy]="true" [paginator]="true" [(first)]="ptmOffset"
					 scrollHeight="200px" [rows]="10" [pageLinks]="5" [totalRecords]="ptmTotalRecords" [loading]="loading"
					 [resizableColumns]="true" responsive="true" (onLazyLoad)="loadPTMData($event)" [ngStyle]="{'width':'100%'}"
					 [autoLayout]="true" [frozenColumns]="frozenPTMColumns" [scrollable]="true" frozenWidth="150px">
				<ng-template pTemplate="caption">
					<div style="float:left">Detected Post-translational Modifications</div>
					<div class="ui-helper-clearfix">
						<div style="float:right">Total PTM sites: {{ptmTotalRecords}}</div>
					</div>
				</ng-template>
<!-- 				<ng-template pTemplate="frozenheader" let-frozenPTMColumns>
					<tr>
						<th class="ui-datatable-tableheader">PTM Type</th>
					</tr>
				</ng-template> -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th class="ui-datatable-tableheader" pFrozenColumn>PTM Type</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Site</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Peptide</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="frozenbody" let-ptmData let-frozenPTMColumns>
					<tr class="table-striped">
						<td style="word-wrap: break-word; white-space: normal;">{{ptmData.ptm_type }}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-ptmData>
					<tr class="table-striped">
						<td style="word-wrap: break-word; white-space: normal;" pFrozenColumn>{{ptmData.ptm_type }}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{ptmData.site}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{ptmData.peptide}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div><br>
		<!--@@@PDC-7690 use gene_id to get gene info-->
		<div class="row" style="width: 100%; height:100%" >
			<app-oncoprint style="width:100%" [gene_id]="geneSummaryData?.gene_name" [uuid]="geneSummaryData?.gene_id" [newFilterValue]="newFilterValue"></app-oncoprint>
		</div>
		<div class="row" style="width: 100%;">
			<p-table #dt class="table-striped ui-datatable-odd" id="geneSummaryDataTable" [value]="studySpectralCountsList" [lazy]="true" [paginator]="true" [(first)]="studyOffset"
					[rows]="10" [pageLinks]="5" [totalRecords]="studyTotalRecords"  [(selection)]="selectedStudies"
					[loading]="loading" [resizableColumns]="true" responsive="true" (onLazyLoad)="loadNewPageStudySpectralCounts($event)" [columns]="cols"
					[ngStyle]="{'width':'100%'}"  (selectionChange)="onSelectionChange($event)" scrollHeight="500px" [autoLayout]="true" [frozenColumns]="frozenGeneStudiesColumns" [scrollable]="true" frozenWidth="200px">
				<ng-template pTemplate="caption">
					<div style="float:left">Studies in Which the Gene Product Was Detected</div>
					<div class="ui-helper-clearfix">
						<div style="float:right">Total Studies: {{studyTotalRecords}}</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px !important">
								<span id="selectedStudiesCount" *ngIf="!isDownloadDisabled()" style="float:left;padding-top:5px;">Studies selected for download: {{selectedStudies.length}}</span>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 manifestDownload">
								<button id="downloadStudyManifest" mat-raised-button mat-primary label="Download Selection" (click)="studyTableExportCSV(dt)" style="font-family:'Lato';" [disabled]="isDownloadDisabled()" aria-label="Download Study Manifest">Export Study Manifest</button>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr class="safari_only">
						<th class="ui-datatable-tableheader" style="width:50px;align-content: center !important; overflow: unset;" alt="Check All checkboxes in the table" pFrozenColumn>
							<label><p-checkbox  id="studyDataChk" [(ngModel)]="headercheckbox" binary="true" (onChange)="onTableHeaderCheckboxToggle()" ></p-checkbox></label>
							<mat-select id="dataForManifestExport" class="card-body card-list" [(ngModel)]="selectedHeaderCheckbox"
							(selectionChange)="changeHeaderCheckbox($event)">
								<mat-option *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption">
									{{checkboxOption}}
								</mat-option>
							</mat-select>
							<span style="display:none;">Select All</span>
						</th>
						<th class="ui-datatable-tableheader fixedWidthCol" style="width:150px;" pFrozenColumn>PDC Study ID</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Study</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Experiment Type</th>
						<th class="ui-datatable-tableheader cursorPointer fixedWidthCol" [matTooltip]="studyTotalRecords?'Total number of spectra matched to peptides associated with the gene in acquisitions over all analytical samples in the study':null">Spectral Counts</th>
						<th class="ui-datatable-tableheader cursorPointer fixedWidthCol" [matTooltip]="studyTotalRecords?'Total number of distinct peptide sequences associated with the gene in acquisitions over all analytical samples in the study':null">Distinct Peptides</th>
						<th class="ui-datatable-tableheader cursorPointer fixedWidthCol" [matTooltip]="studyTotalRecords?'Total number of unshared peptide sequences associated with the gene in acquisitions over all analytical samples in the study':null">Unshared Peptides</th>
						<th class="ui-datatable-tableheader cursorPointer fixedWidthCol" [matTooltip]="studyTotalRecords?'Number of analytical samples in the study':null">No of Aliquots</th>
						<th class="ui-datatable-tableheader cursorPointer fixedWidthCol" [matTooltip]="studyTotalRecords?'Number of experimental runs in the study':null" matTooltipPosition="left">No of Plexes</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-studyCountData>
					<tr [pSelectableRow]="studyCountData">
            <!--	<label><p-tableCheckbox  [pSelectableRow]="studyData" #browsePageCheckboxes id="studyData{{studyData.submitter_id_name}}" [value]="studyData"  class="browsePageCheckboxes" style="cursor:pointer !important;"></p-tableCheckbox></label> -->
						<td style="width:50px;align-content: center !important" pFrozenColumn><label><p-tableCheckbox #browsePageCheckboxes id="studyCountData{{studyCountData.submitter_id_name}}" [value]="studyCountData" class="browsePageCheckboxes" [pSelectableRow]="studyCountData"></p-tableCheckbox></label></td>
						<td style="width:150px;word-wrap: break-word; white-space: normal;" pFrozenColumn>{{studyCountData.pdc_study_id}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.submitter_id_name}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.experiment_type}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.spectral_count}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.distinct_peptide}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.unshared_peptide}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.aliquots_count}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{studyCountData.plexes_count}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
		<br>
		<div class="row" style="width: 100%;">
			<span style="color:red">{{aliquotSpectralCountLoadError}}</span>
			<p-table class="table-striped ui-datatable-odd" id="aliquotRecordTable" [value]="aliquotSpectralCountsList" [lazy]="true" [paginator]="aliquotTotalRecords > aliquotLimit" [(first)]="aliquotOffset"
					[rows]="10" [pageLinks]="5" [totalRecords]="aliquotTotalRecords"
					[loading]="loadingAliquotRecords" [resizableColumns]="true" responsive="true" (onLazyLoad)="loadNewPageAliquotSpectralCounts($event)"
					[ngStyle]="{'width':'100%'}"  scrollHeight="500px" [autoLayout]="true" [frozenColumns]="frozenGeneBiospecimenColumns" [scrollable]="true" frozenWidth="150px">
				<ng-template pTemplate="caption">
					<div style="float:left">Biospecimens/Samples in Which the Gene Product Was Detected</div>
					<div class="ui-helper-clearfix">
						<div style="float:right">Total Biospecimens: {{aliquotTotalRecords}}</div>
					</div>
				</ng-template>
<!-- 				<ng-template pTemplate="frozenheader" let-frozenGeneBiospecimenColumns>
					<tr>
						<th class="ui-datatable-tableheader">Aliquot</th>
					</tr>
				</ng-template> -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th class="ui-datatable-tableheader" pFrozenColumn>Aliquot</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Plex (Dataset alias)</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Label</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Study</th>
						<th class="ui-datatable-tableheader fixedWidthCol">Experiment Type</th>
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Number of spectra matched to peptides associated with the gene in acquisitions from a specific analytical sample':null">Spectral Counts</th>
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Number of distinct peptide sequences associated with the gene in acquisitions from a specific analytical sample':null">Distinct Peptides</th>
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Number of unshared peptide sequences associated with the gene in acquisitions from a specific analytical sample':null">Unshared Peptides</th>
						<!-- @@@PDC-557 -->
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Total precursor area of peptide ions associated with the gene in acquisitions from a specific biological sample':null">Precursor Area</th>
						<!--th class="ui-datatable-tableheader">Unshared Precursor Area</th-->
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Total precursor area of peptide ions of unshared peptides only associated with the gene in acquisitions from a specific biological sample':null">Unshared Area</th>
						<!-- @@@PDC-669 -->
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Average log-ratio of sample reporter-ion to common reference of peptide ions associated with the gene in acquisitions from a specific biological sample':null" matTooltipPosition="left">Log2 Ratio</th>
						<th class="ui-datatable-tableheader fixedWidthCol" [matTooltip]="aliquotTotalRecords?'Average log2ratio of sample reporter ion intensity to common reference ion intensity for peptides uniquely associated with the gene in acquisitions':null" matTooltipPosition="left">Unshared Log2 Ratio</th>
					</tr>
				</ng-template>
<!-- 				<ng-template pTemplate="frozenbody" let-aliquotCountData let-frozenGeneBiospecimenColumns>
					<tr>
						<td style="word-wrap: break-word; white-space: normal;">{{aliquotCountData.aliquot_id}}</td>
					</tr>
				</ng-template> -->
				<ng-template pTemplate="body" let-aliquotCountData>
					<tr>
						<td style="word-wrap: break-word; white-space: normal;" pFrozenColumn>{{aliquotCountData.aliquot_id}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{aliquotCountData.plex}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{aliquotCountData.label}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{aliquotCountData.submitter_id_name}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{aliquotCountData.experiment_type}}</td>
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.spectral_count?'Number of spectra matched to peptides associated with the gene in acquisitions from a specific analytical sample':null">{{aliquotCountData.spectral_count}}</td>
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.distinct_peptide?'Number of distinct peptide sequences associated with the gene in acquisitions from a specific analytical sample':null">{{aliquotCountData.distinct_peptide}}</td>
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.unshared_peptide?'Number of unshared peptide sequences associated with the gene in acquisitions from a specific analytical sample':null">{{aliquotCountData.unshared_peptide}}</td>
						<!-- @@@PDC-557: Add protein abundance data to the Gene Summary screen -->
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.precursor_area?'Total precursor area of peptide ions associated with the gene in acquisitions from a specific biological sample':null">{{aliquotCountData.precursor_area}}</td>
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.unshared_precursor_area?'Total precursor area of peptide ions of unshared peptides only associated with the gene in acquisitions from a specific biological sample':null">{{aliquotCountData.unshared_precursor_area}}</td>
						<!-- @@@PDC-669 -->
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.log2_ratio?'Average log-ratio of sample reporter-ion to common reference of peptide ions associated with the gene in acquisitions from a specific biological sample':null">{{aliquotCountData.log2_ratio}}</td>
						<td style="word-wrap: break-word; white-space: normal;" [matTooltip]="aliquotCountData.unshared_log2_ratio?'Average log-ratio of sample reporter-ion to common reference of peptide ions of unshared peptides only associated with the gene in acquisitions from a specific biological sample':null">{{aliquotCountData.unshared_log2_ratio}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	  </div>
	</mat-sidenav-content>
   </mat-sidenav-container>
</div>
