.gene-summary .card-header {
  font-family: 'Lato';
  font-weight: 400;
  padding-left: 10px;
  padding-right: 0px;
  font-size: 20px;
  background:#ffffff;
  border: 0px;
  padding-bottom: 0px;
  color: #585858;
}
.gene-summary .mat-card-title{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
}

.ui-datatable-tableheader {
    background-color:  #3A8BAF !important;
    border:0px !important;
    color: white !important;
}

.ui-datatable-odd {
    background-color: rgb(225, 239, 252);
}

.data-categories-table{
	padding: 0 !important;
}

.table-striped > tbody >  tr:nth-of-type(even){
	background-color: rgb(225, 239, 252);
}
  
.summary-card-name-left-cell {
	word-wrap:break-word; 
	white-space:normal;
	padding-right:20px; 
	padding-bottom: 3px;
	text-align: right;
}

.summary-card-value-left-cell {
	word-wrap:break-word !important; 
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px; 
	padding-left:10px; 
	text-align: left; 
	border-right: 1px solid #ddd;
}

.summary-card-name-right-cell {
	word-wrap:break-word; 
	white-space:normal; 
	padding-bottom: 3px;
	padding-right:20px;
	padding-left:10px;
	text-align: right;
}

.summary-card-value-right-cell {
	word-wrap:break-word !important; 
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px; 
	text-align: left;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px
}

::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #a4bdcb
}
::-webkit-scrollbar-thumb{
	background: #245571;
}

//@@@PDC-461 Make all summary dialog windows headers sticky
.container-fluid {
	//position:absolute;
	top:6.5em;
	bottom:3em;
	//overflow-y:auto;
	//width:78%;
}

//@@@PDC-687: Add tool tip to gene summary page and also reorder the columns in the aliquot table
#aliquotRecordTable th,  #aliquotRecordTable td{
	cursor: pointer;
}


.mat-button.mat-small {
  min-width: 1%;
}

.toolbar-second-row {
    background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%);
  }
//  $header-height: 12.8rem;
//  $card-height: 37.8rem;

.browse-page .header {
    display: flex;
    align-items: center;
    // height: 10rem;
    margin-left: 0px;
   // box-sizing: border-box;
    // border-bottom: solid 1px rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.6);  
  
  }
  .browse-page .card {
    padding-right: 0px;
    border: 0px;
   // margin: -12.8rem auto 0;
    padding-top: 0px;
    padding-left: 0px;
    // width: 100%;
}
.browse-page .card-header {
  font-family: 'Lato';
  font-weight: 400;
  // padding-left: 1.0rem;
  padding-right: 0px;
  font-size: 16px;
  background:#ffffff;
  border: 0px;
  padding-bottom: 0px;
  color: #585858;
}
.browse-filter {
  font-family: 'Lato';
  background: #254A61;
  // background: rgb(149, 190, 212);
 // box-shadow: 0 2px 7px 0 rgba(0,0,0,0.24);
  border: 0px;
  font-size: 20px;
  //padding-top: 0.5rem;
  //padding-bottom: 0.5rem;
  //padding-left: 0.5rem;
  //padding-right: 1.0rem;
  // margin-bottom: 0.1rem;
//  border-radius: 0 0px 0px 0px;
  color: #ffffff
}

.browse-filter .card-header {
 
  font-weight: 400;
 // padding-left: 1.0rem;
  font-size: 16px;
  color: #585858;
}
.browse-page .card-body {
  padding-left: 0px;
  border-left: 0px;
  margin-left: 0px;
  border-right-style: none;
  border-left-style: none;
  box-shadow: none !important;
}

.browse-filter-header-image {
  background-image: url('../../assets/css/images/Triangle.png');
}

.side-bar-tabs /deep/.mat-tab-label{
	min-width: 110px!important;
	padding: 10px!important;
	justify-content: left!important;
   }

/deep/ .sidenavFiltersPanel .mat-expansion-panel-body {
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}

/deep/ .sidenavFiltersPanel .mat-list-item {
	padding-right: 0px!important;
	height: 35px!important;
	line-height: 100%;
}

/deep/.mat-expansion-indicator {
    position: absolute!important;
	left: 7.5px!important;
  }

.mat-expansion-panel-header, .mat-expansion-panel-header:hover{
	background: rgb(120, 167, 192)!important;
	padding-right:0px!important;
}

.mat-expansion-panel-header-title{
	margin-right:0px!important;
}

/deep/ .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight,
/deep/ .ui-table .ui-table-tbody .ui-state-highlight {
   background-color: #aac1d4 !important;
   color: #000 !important;
} 

/deep/ .table-striped tbody tr:nth-of-type(odd) {
	background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%) !important;
}

/deep/ .ui-table table {
    table-layout: unset !important;
} 

/deep/ {
	.ui-table tr td, .ui-table-thead tr, .table, .table tr td, .table tr th {
		font-size: 14px !important;
	} 

	#geneSummaryPTMDataTable .ui-table-unfrozen-view .ui-table-thead th,
	#geneSummaryPTMDataTable .ui-table-unfrozen-view .ui-table-tbody td  {
		width: 200px !important;
		min-width: 200px !important;
		max-width: 200px !important;
	}

	.ui-table-unfrozen-view .ui-table-thead th {
		border: 1px solid #D5D5D5 !important;
	}

	#geneSummaryDataTable, #aliquotRecordTable {
		.ui-table-unfrozen-view .ui-table-thead th,
		.ui-table-unfrozen-view .ui-table-tbody td  {
			width: 150px !important;
			min-width: 150px !important;
			max-width: 150px !important;
		}
	}

	.ui-datatable-tableheader {
		background-color: #3A8BAF;
	}

	.ui-paginator .ui-paginator-page.ui-state-active {
		background-color: #3A8BAF;
	}

	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  
	  .safari_only { 
		height: 67px !important;
	  }
	}}
}

// PDC-620: Make the filter selection tabs along the left side of the window
/deep/ {
	/* .sideBarNavigation .mat-tab-label-container {
		display: flex;
		flex-grow: 1;
		overflow: hidden;
		z-index: 1;
		width: 38px;
	}
	.sideBarNavigation .mat-tab-group {
		flex-direction: row;
	}
	.sideBarNavigation .mat-tab-labels {
		flex-direction: column;
		width: 60px;
		height: 540px;
		margin-left: -40px;
	}
	.sideBarNavigation .mat-tab-body-wrapper {
		flex: 1 1 auto;
	}
	.sideBarNavigation .mat-tab-header {
		border-bottom: none;
	}

	.sideBarNavigation .mat-ink-bar {
		height: 100%;
		left: 98% !important;
	}

	.sideBarNavigation .mat-tab-header-pagination {
		display: none !important;
	}

	.sideBarNavigation .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
		background-color: #F0F0F0;
	}

	.sideBarNavigation .mat-tab-label-active{
		background-color: #E8E8E8 !important;
		border-radius: 2px;
	}

	.sideBarNavigation .mat-tab-label {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		min-width: 200%;
		border-right: 1px solid #dddddd;
		height: 100%;
		text-transform: uppercase;
		font-weight: bold;
		color: black;
	}

	.sideBarNavigation #mat-tab-label-1-1 {
		min-width: 150px !important;
		padding-top: 50px !important;
	}

	.sideBarNavigation #mat-tab-label-1-0, .sideBarNavigation #mat-tab-label-1-1, .sideBarNavigation #mat-tab-label-1-2,
	.sideBarNavigation #mat-tab-label-1-3,  .sideBarNavigation #mat-tab-label-1-4{
		justify-content: center !important;
		padding-left: 20px !important;
	} */

	/*PDC-2852: Add tooltips to Gene summary page column headers*/
	.cursorPointer {
		cursor: pointer;
	}

	//@@@PDC-3765: A 'S' symbol in Genes/ under checkbox of "Studies in Which the Gene Product Was Detected
	.mat-select-value-text {
		display: none !important;
	}

}