<mat-toolbar>
  <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
  <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
</mat-toolbar>
<div class="row" style="font:Lato; margin-top:-75px!important; margin-left:20px; margin-right: 20px; align-items: center;" >
<mat-card class="about-page card card-body pageMargins">
  <mat-card-content style="padding-right: 55px;padding-left: 15px;display: block; margin: auto auto; vertical-align: middle;">
  <div class="row"><h3>Data Harmonization</h3></div>
  <div class="row">
    <p>
      The goal of PDC data harmonization process is to transform proteomic data from disparate sources and workflows into derived forms by common data analysis methods and tools. The harmonization process is therefore useful for removing data analysis variables, enabling comparisons across datasets.
    </p>
    <p>
       Harmonization starts with assigning standard identifiers, data integrity checks, adherence to standards (community-accepted vocabulary and nomenclature for clinical attributes, peptides, proteins, protein sequence variants, and modifications) and PDC data model.
    </p>
  </div>
  <div class="row"><h3>Proteomic Data Harmonization</h3>
  </div>
  <div class="row">
    <p>
      The PDC uses submitted raw mass spectrometry data files to produce derived analysis results which can be used to study identification of proteins and post-translational modifications (PTMs).  All processing is done through Common Data Analysis Pipelines (CDAP).  Whenever possible, quantitative results are also extracted from the raw data, enabling downstream analyses of differential expression between samples at the protein- or PTM site-level.   A version of the CDAP will soon be available within the workspace for users to run on their own data files.
    </p>
  </div>  
  <div class="row"><h3>Common Data Types</h3>
  </div>
  <div class="row">
    <p>
      One goal of the PDC is to harmonize a diversity of proteomics data types.  All current data types are mass spectrometry data acquired using data dependent acquisition (DDA), but pipelines are under construction for the analysis of data acquired using data independent acquisition (DIA) or SWATHTM.  DDA deposited in the PDC so far includes label-free, iTRAQ4 and TMT10.  The CDAP is capable of processing data from unenriched, phospho-, and glyco-enriched peptide samples.
    </p>
  </div>   
  <div class="row"><h3>Common Data Analysis Pipeline for DDA</h3>
  </div>
  <div class="row">
    <p>
      PDC uses the CDAP developed at NIST and Georgetown University and in use at  the CPTAC Data Coordinating Center
      (described <a href="https://cptac-data-portal.georgetown.edu/cptac/aboutData/show?scope=dataLevels" target="_blank">here</a> and published <a href="https://www.ncbi.nlm.nih.gov/pubmed/26860878" target="_blank">here</a>)
      as a starting point for DDA datasets. The pipeline is implemented in the Galaxy Framework that runs on Amazon Cloud. Software programs and parameters are also detailed in <a href="assets/CDAP_ProteinReports_description_20180914.pdf" target="_blank">this</a> document.  In general, the pipeline proceeds in the following order:
    </p>
  </div>     
  <div class="row" style="margin: auto auto; vertical-align: middle;">
      <ul>
        <li>
           Spectral conversion to standard formats from proprietary.  This step also extracts peak area values for any reporter ion intensities, if an isobaric labeling strategy has been used (current tool: ReAdW4Mascot2.exe from NIST)
        </li>
        <li>
           Sequence database search (current tool: <a href="https://omics.pnl.gov/software/ms-gf" target="_blank">MSGF+</a> from PNNL)
        </li>
        <li>
           MS1 data processing used for label-free quantitation (current tool: ProMS from NIST)
        </li>
        <li>
           Phosphosite localization (i.e., scoring) if the sample has been enriched (current tool: <a href="http://ms.imp.ac.at/index.php?action=phosphors" target="_blank">PhosphoRS</a> from the Mechtler Lab)
        </li>
        <li>
           Generalized parsimony and “roll-up” of any quantitative information to the gene level (from the spectrum and peptide-levels).  This step also includes normalization and calculation of individual aliquot values to log2ratio values for iTRAQ4 and TMT10 studies. (current tool: PSMLab from the <a href="http://edwardslab.bmcb.georgetown.edu/" target="_blank">Edwards Lab</a> at Georgetown)
        </li>
     </ul>
  </div>
  <div>
    <img src="./assets/css/images/PDC-CDAP-DDA.png" alt="PDC CDAP DDA Image"/>
  </div>
  <div class="row">
    <p>
      The results of the pipeline for a multiplexed labeling study is a matrix in which rows are genes and columns are aliquots (samples).  Values in the cells represent protein (gene) expression for that sample relative to a common reference (typically a pooled sample).
    </p>
  </div>
  <div class="row"><h3>Common Data Analysis Pipeline for DIA</h3>
  </div>
  <div class="row">
    <p>
      Our current pipeline for analysis of data independent acquisition is based on work in the <a href="https://bitbucket.org/searleb/encyclopedia/wiki/Home" target="_blank">MacCoss Lab</a>.  If available, sample or pool-specific data are used to build a spectral library.  The peptides in the library are then scored assigned match scores for each DIA data file.      
    </p>
  </div>  
  <div class="row" style="margin: auto auto; vertical-align: middle;">
    <ul>
      <li>
         Spectral conversion to standard formats from proprietary (current tool: <a href="http://proteowizard.sourceforge.net/tools.shtml" target="_blank">msconvert</a>)
      </li>
      <li>
         If library building data files were also provided, those files are then searched using either a DDA or a DIA search engine, depending on the input data type.  For DDA,  <a href="http://crux.ms/" target="_blank">Crux</a> is used.  For DIA data, <a href="https://www.ncbi.nlm.nih.gov/pubmed/28783153" target="_blank">PECAN</a> is used.
      </li>
      <li>
         Following database searching of the library data, a library is generated from the search results after post search processing with <a href="https://www.ncbi.nlm.nih.gov/pubmed/27572102" target="_blank">Percolator</a>
      </li>
      <li>
         The spectral library is then used to search each data file (current tool: <a href="https://www.biorxiv.org/content/early/2018/03/07/277822" target="_blank">EncyclopeDIA</a>)
      </li>
      <li>
         The output can be written directly to reports and viewed in <a href="https://skyline.ms/project/home/software/Skyline/begin.view" target="_blank">Skyline</a>
      </li>
   </ul>  
  </div>
  <div>
    <img src="./assets/css/images/PDC-CDAP-DIA.png" alt="PDC CDAP DIA Image"/>
  </div>
  <div class="row"><h3>Availability of Results</h3>
  </div>
  <div class="row">
    <p>
      Following analysis by either CDAP, the results are available as Protein Assembly reports on the PDC Data Portal along with original and processed RAW data and metadata according to approved release schedules.  For the MVP only the RAW data will be available from the users private workspace, the results from the harmonization will be available in later iterations of our development cycle.   
    </p>
  </div> 
  </mat-card-content>
</mat-card>
</div>