<mat-toolbar>
  <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
  <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
</mat-toolbar>
<div class="row" style="font-family:'Lato'; margin-top:-75px!important; margin-left:20px; margin-right: 20px; align-items: center;" >
<mat-card class="card card-body">
  <mat-card-content style="margin-bottom: 13%">
    <div #Top style="font-family:'LatoBold'; font-size: 20px; margin-bottom: 5px;">Requesting Data Submission</div><br>
    <div>The Proteomic Data Commons (PDC) was established to advance understanding of how proteins help to shape the risk, diagnosis, development, progression, and treatment of cancer. The PDC currently reviews potential submissions and studies are evaluated on the clarity of the biological question being asked, the quality and quantity of the data, and the study size with likely impact on the field of cancer proteomics.
    <br>
    <!-- PDC-5758-update-how-to-submit-->
    Data submission request can be made by filling out the <a href="assets/ProteomicDataCommonsDataSubmissionRequestForm.docx" download="Proteomic Data Commons Data (PDC) Submission Request Form.docx">submission request form </a> and send to <a href="mailto:PDCHelpDesk@mail.nih.gov?Subject=PDC Help" target="_blank">PDCHelpDesk@mail.nih.gov</a>.</div>
  </mat-card-content>
</mat-card>
</div>
