.browse-file {
    font-family: 'Lato';
    font-size: 12px;
}

.breadCrumbButtons {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 3px;
}

.ui-datatable-odd {
    background: rgb(225, 239, 252);
}
.ui-datatable-even {
    background: none repeat scroll 0 0 rgb(154, 181, 204);
}

.ui-datatable-tableheader {
    /* background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important; */
    background-color: #3A8BAF !important;
    border:0px !important;
    color: white !important;
}
.file-filter-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
.workflow-btn {
    font-family: 'Lato';
    font-size: 14px;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
}
.workflow-btn .workflow-menu {
    font-size: 10px !important
}

.ui-datatable-tableheader-flex-container{
    display:-webkit-flex; 
    display:flex;
    float: left;
    align-items: center;
 }
 
 /*PDC-2795 Add embargo date to Files tab on Browse page and files manifest*/
 .future_embargo_date {
	color: #de350b;
	font-weight: 800;
}

 :host /deep/ #dataForManifestExport .mat-select-value {
    display:none !important;
  }

 /* @@@PDC-551: Need smaller font for paginator pages on Browse page tables to fit 3 digit numbers */
 :host /deep/ .ui-paginator .ui-paginator-pages .ui-paginator-page{ 
    min-width: 2.5em !important; 
 }

  /* @@@PDC-1063: Implement select all, select page, select none for all tabs */
 :host /deep/ .ui-table th {
    word-wrap: break-word;
 }

 /* @@@PDC-1419: Fix the tooltip position for "Export Full Manifest" feature on Browse Page */
 :host /deep/ .ui-table-caption {
    padding-left: 0px;
    text-align: unset !important;
 }

/*  @media only screen  and (max-width: 1317px) {
    .faqLink {
        width: 200px;
        text-align: center;
    }
  } */

:host /deep/ .ui-table-unfrozen-view .ui-table-thead th,
:host /deep/ .ui-table-unfrozen-view .ui-table-tbody td {
    width: 130px !important;
    min-width: 130px !important;
    max-width: 130px !important;
}

:host /deep/ .ui-table table {
    table-layout: unset !important;
} 

:host /deep/ #fileDataTable .ui-table-unfrozen-view .ui-table-scrollable-header-box {
    padding-right: 17px !important;
}