	<div class="row" style="font-family:'Lato'; font-size: 12px;">
	<div class="container-fluid ui-helper-clearfix button-container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div *ngIf="totalRecords > 0 && !loading" >
						<h3 style="font-family: 'Lato'; font-size:14px;margin-top:10px!important">{{totalRecords > 1 ? 'Total files: ' + totalRecords : 'Total file: ' + totalRecords }}</h3>
				</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div class="wholeManifestDownload">
						<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest()" style="font-family:'Lato';font-weight:bold;" [disabled]="iscompleteManifestDisabled()" aria-label="Download all Manifests">Export All Manifests</button>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!--@@@PDC-1433 unable to select a single record when there are multiple records of the same file name on the same page -->
      <p-table class="table-striped ui-datatable-odd " #dt [columns]="cols" [value]="filteredFilesData" [lazy]="true" [paginator]="true" [(first)]="offset"
				[rows]="10" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100]" [totalRecords]="totalRecords"
				[loading]="loading" [resizableColumns]="true" columnResizeMode="expand" [style]="{'width':'100%', 'min-width':'1000px'}"
				(onRowUnselect) ="onRowUnselected($event)" (onRowSelect)="onRowSelected($event)" [(selection)]="selectedFiles" (onLazyLoad)="loadFiles($event)" id="fileDataTable" paginatorPosition="both">
		<ng-template pTemplate="caption">
			<div class="container-fluid ui-helper-clearfix button-container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="showStudySummary()" aria-label="Show Study Summary">CDAP</button>
									<button mat-menu-item>Other</button>
							</mat-menu>
							<div id="selectedFilesDataCount" *ngIf="!isDownloadDisabled()" style="float:left;padding-top:5px;">Files data selected for download: {{selectedFiles.length}}</div>
						</div>
						<!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 manifestDownload">
							<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadFileManifest" mat-raised-button mat-primary label="Download Selection" (click)="fileTableExportCSV()" [disabled]="isDownloadDisabled()" style="font-family:'Lato';" aria-label="Download File Manifest">Export File Manifest</button>
						</div>-->
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 manifestDownload">
							<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadFileManifest" mat-raised-button mat-primary label="Download Selection" (click)="fileTableExportCSV()" [disabled]="isDownloadDisabled()" style="font-family:'Lato';" aria-label="Download File Manifest">Export File Manifest</button>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 manifestDownload">
							<button matTooltip="Please use local download manager to download the files" id="downloadFiles" mat-raised-button mat-primary label="Download Files" (click)="setDownloadBatch()" [disabled]="isDownloadDisabled()" style="font-family:'Lato';" aria-label="Download Files">Download Files</button>
						</div>
					</div>
					<!-- PDC-1702: Add a button/help link to FAQ page multiple download section from Browse page-->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:#de350b; padding-left: 0!important;">
								Some data are under an <a href="/pdc/faq#Embargo_Date" target="_" style="color:#de350b !important;">EMBARGO</a> for publication and/or citation.
								For more details, visit the summary page for the study of interest.
							</div>
							<!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 faqLink">
								<a href="/pdc/faq/Multiple_Files" target="_blank" style="font-size: 13px;">Download multiple files at once&nbsp;<mat-icon matTooltip="Download multiple files at once" class="help-icon" style="font-size: 14px !important;height: 0px !important;vertical-align: sub;">help</mat-icon></a>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>-->
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 faqLink" style="text-align: right;">
								<a href="/pdc/faq/Multiple_Files" target="_blank" style="font-size: 13px;">More ways to download&nbsp;<mat-icon matTooltip="More ways to download" class="help-icon" style="font-size: 14px !important;height: 0px !important;vertical-align: sub;">help</mat-icon></a>
							</div>
						</div>
				</div>
			</div>
		</ng-template>
				<ng-template pTemplate="header">
					<tr style="font-size: 12px;">
						<th class="ui-datatable-tableheader" style="width:5%;overflow: unset;">
							<label><p-checkbox  id="fileDataChk" [(ngModel)]="headercheckbox" binary="true" (onChange)="onTableHeaderCheckboxToggle()"></p-checkbox >
							<mat-select id="dataForManifestExport" class="card-body card-list" [(ngModel)]="selectedHeaderCheckbox"
							(selectionChange)="changeHeaderCheckbox($event)">
								<mat-option *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption">
									{{checkboxOption}}
								</mat-option>
							</mat-select>
							<span style="display:none">Select this row</span></label>
						</th>
						<!-- @@@PDC-262 link headers to data dictionary -->
						<th class="ui-datatable-tableheader" style="width:18%;" [pSortableColumn]="cols[0].field"><a
								href="{{staticUrlBase}}dictionaryitem.html?eName=Study" target="_blank" style="color:white">Study</a>
							<p-sortIcon [field]="cols[0].field" ariaLabel="Sort Study column in ascending/descending order"></p-sortIcon>
						</th>
						<th class="ui-datatable-tableheader" style="width:25%" [pSortableColumn]="cols[1].field"><a
								href="{{staticUrlBase}}dictionaryitem.html?eName=File#file_name" target="_blank" style="color:white">File
								Name</a>
							<p-sortIcon [field]="cols[1].field" ariaLabel="Sort File name column in ascending/descending order"></p-sortIcon>
						</th>
						<th class="ui-datatable-tableheader" style="width:10%" [pSortableColumn]="cols[2].field">
							<div class="ui-datatable-tableheader-flex-container">
								<div>
									<a href="{{staticUrlBase}}dictionaryitem.html?eName=Study%20Run%20Metadata" target="_blank"
										style="color:white">
										Run Metadata<br>ID
									</a>
								</div>
								<div>
									<p-sortIcon [field]="cols[2].field" ariaLabel="Sort Run Metadata ID column in ascending/descending order"></p-sortIcon>
								</div>
							</div>
						</th>
						<th class="ui-datatable-tableheader" style="width:13%" [pSortableColumn]="cols[3].field"><a
								href="{{staticUrlBase}}dictionaryitem.html?eName=Project" target="_blank" style="color:white">Project</a>
							<p-sortIcon [field]="cols[3].field" ariaLabel="Sort Project column in ascending/descending order"></p-sortIcon>
						</th>
						<th rowspan=3 class="ui-datatable-tableheader" style="width:11%" [pSortableColumn]="cols[4].field"><a href="/pdc/faq/Files_Download" target="_blank" style="color:white">Data Category</a>
							<p-sortIcon [field]="cols[4].field" ariaLabel="Sort Data Category column in ascending/descending order"></p-sortIcon>
						</th>
						<th rowspan=3 class="ui-datatable-tableheader" style="width:9%" [pSortableColumn]="cols[5].field"><a href="/pdc/faq/Files_Download" target="_blank" style="color:white">File Type</a>
							<p-sortIcon [field]="cols[5].field" ariaLabel="Sort File Type column in ascending/descending order"></p-sortIcon>
						</th>
						<th rowspan=3 class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[6].field">Access
							<p-sortIcon [field]="cols[6].field" ariaLabel="Sort Access column in ascending/descending order"></p-sortIcon>
						</th>
						<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[7].field">
							<div class="ui-datatable-tableheader-flex-container">
								<div class="ui-datatable-tableheader-flex-header">
									File<br>Size (MB)
								</div>
								<div class="ui-datatable-tableheader-flex-sorticon">
									<p-sortIcon [field]="cols[7].field" ariaLabel="Sort Fize Size column in ascending/descending order"></p-sortIcon>
								</div>
							</div>
						</th>
						<th class="ui-datatable-tableheader" style="width:10%" [pSortableColumn]="cols[8].field">
								<div class="ui-datatable-tableheader-flex-container">
									<div class="ui-datatable-tableheader-flex-header">
										Downloadable
									</div>
									<div class="ui-datatable-tableheader-flex-sorticon">
										<p-sortIcon [field]="cols[8].field" ariaLabel="Sort Downloadable column in ascending/descending order"></p-sortIcon>
									</div>
								</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-fileData let-rowIndex="rowIndex">
					<tr style="font-size: 11px;" [pSelectableRow]="fileData">
						<td style="width:5%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
							<p-tableCheckbox id="fileData-{{rowIndex}}-{{fileData.submitter_id_name}}" [value]="fileData" class="browsePageCheckboxes"></p-tableCheckbox>
						</td>
						<td style="width:13%;word-wrap: break-word; white-space: normal;">{{fileData.submitter_id_name }}</td>
						<td style="width:25%;word-wrap: break-word; white-space: normal;">{{fileData.file_name}}</td>
						<td style="width:10%;word-wrap: break-word; white-space: normal;">{{fileData.study_run_metadata_submitter_id}}</td>
						<td style="width:13%;word-wrap: break-word; white-space: normal;">{{fileData.project_name}}</td>
						<td style="width:9%;word-wrap: break-word; white-space: normal;">{{fileData.data_category}}</td>
						<td style="width:9%;word-wrap: break-word; white-space: normal;">{{fileData.file_type}}</td>
						<td style="width:9%;word-wrap: break-word; white-space: normal;">{{fileData.access}}</td>
						<td style="width:10%;word-wrap: break-word; white-space: normal;">{{fileData.file_size / 1048576 | number:'.3'}}
						</td>
						<td style="width:9%;word-wrap: break-word; white-space: normal;"><span *ngIf="fileData.downloadable == 'No'">{{fileData.downloadable}}</span><span *ngIf="fileData.downloadable == 'Yes'"><button matTooltip="Please use CPTAC Data Portal for downloading the files" mat-raised-button mat-primary label="Download Selection" (click)="downloadFile(fileData)" style="font-family:'Lato';background-color: black;color: white;" aria-label="Download">Download&nbsp;&nbsp;&nbsp;<i class="fas fa-download"></i></button></span></td>
					</tr>
				</ng-template>
		<p-paginator rows="10" totalRecords="120"></p-paginator>
      </p-table>
      <br>
    </div>
