/* @@@PDC-7012 - improve checkbox intuitiveness */
#dataForManifestExport {
  visibility: hidden;
}

/* PDC-7903-table-rows-difficult-to-read-when-selected */


.table-panels mat-tab-header {
    border-bottom: 1px solid #e9e9e9;
}

.table-panels .exportButtonsRow {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  }

  .table-panels .mat-tab-label {
    border: 1px solid rgba(0,0,0,.12);
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  }

  .table-panels .ui-widget-header {
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  }
  /* PDC-8279 - fix 508 compliance */
  .table-panels .ui-datatable-tableheader {
    background-color: #387BA8;
  }

  .table-panels .ui-paginator .ui-paginator-page.ui-state-active {
    background-color: #387BA8;
  }

 .table-panels .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight,
 .table-panels .ui-table .ui-table-tbody .ui-state-highlight {
    background-color: red;
    color: #000;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  }


  .table-striped tr:nth-of-type(even).p-highlight,
  .table-striped tr.p-highlight {
    background: #aac1d4 !important;
    color: #000 !important;
 }
 /* end PDC-7903 */

.browse-file {
    font-family: 'Lato';
    font-size: 12px;
}

.breadCrumbButtons {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 3px;
}

.ui-datatable-odd {
    background: rgb(225, 239, 252);
}
.ui-datatable-even {
    background: none repeat scroll 0 0 rgb(154, 181, 204);
}
/* PDC-8279 - fix 508 compliance */
.ui-datatable-tableheader {
    /* background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important; */
    background-color: #387BA8 !important;
    color: white !important;
}
.file-filter-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
.workflow-btn {
    font-family: 'Lato';
    font-size: 14px;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
}
.workflow-btn .workflow-menu {
    font-size: 10px !important
}

.ui-datatable-tableheader-flex-container{
    display:-webkit-flex;
    display:flex;
    float: left;
    align-items: center;
 }

 /*PDC-2795 Add embargo date to Files tab on Browse page and files manifest*/
 .future_embargo_date {
	color: #de350b;
	font-weight: 800;
}

 :host ::ng-deep #dataForManifestExport .mat-select-value {
    display:none !important;
  }

 /* @@@PDC-551: Need smaller font for paginator pages on Browse page tables to fit 3 digit numbers */
 :host ::ng-deep .ui-paginator .ui-paginator-pages .ui-paginator-page{
    min-width: 2.5em !important;
 }

  /* @@@PDC-1063: Implement select all, select page, select none for all tabs */
 :host ::ng-deep .ui-table th {
    word-wrap: break-word;
 }

 /* @@@PDC-1419: Fix the tooltip position for "Export Full Manifest" feature on Browse Page */
 :host ::ng-deep .ui-table-caption {
    padding-left: 0px;
    text-align: unset !important;
 }

/*  @media only screen  and (max-width: 1317px) {
    .faqLink {
        width: 200px;
        text-align: center;
    }
  } */

:host ::ng-deep .ui-table-unfrozen-view .ui-table-thead th,
:host ::ng-deep .ui-table-unfrozen-view .ui-table-tbody td {
    width: 130px !important;
    min-width: 130px !important;
    max-width: 130px !important;
}

:host ::ng-deep .ui-table table {
    table-layout: unset !important;
}

:host ::ng-deep #fileDataTable .ui-table-unfrozen-view .ui-table-scrollable-header-box {
    padding-right: 17px !important;
}

.downloadButtons {
	border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
	padding: 0.25em 0.5em;
}

.downloadButtons button {
    font-weight: 700;
}

:host ::ng-deep #fileDataTable .p-paginator-top {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    padding: 0.25em 0.5em;
    margin: 0px !important;
}
