<title>Files</title>
<button mat-icon-button style="position: absolute; top: 10px; right: 10px; z-index: 1000;" (click)="close()" aria-label="Close">
	<i class="fa fa-times" style="color: #333333 !important; font-size: 20px; font-weight: bold;"></i>
</button>
<div id="FilesOvelrayTitle" mat-dialog-title style="padding-bottom: 15px;">
<h2 style="color:#245672; margin-bottom: 10px;">Files</h2>
<div class="breadcrumb-container" style="word-wrap: break-word; line-height: 1.5;">
<button class="btn btn-primary breadCrumbButtons" style="background-color: black; margin-right: 3px;" disabled="true">Study Name</button><button *ngIf="study_names_param.length == 1" class="btn btn-primary breadCrumbButtons" disabled="true">IS</button>&nbsp;
<button *ngIf="study_names_param.length == 1" class="btn btn-primary breadCrumbButtons" style="background-color: grey; margin-right: 3px" disabled="true">{{studyData.summaryData.study_name}}</button>
<span *ngIf="study_names_param.length > 1">
	<button  class="btn btn-primary breadCrumbButtons" disabled="true">IN</button>&nbsp;(
	<button *ngFor="let StudyName of study_names_param" class="btn btn-primary breadCrumbButtons" style="background-color: grey; margin-right: 3px;" disabled="true">{{StudyName}}</button> &nbsp;)
</span>
&nbsp;<button class="btn btn-primary breadCrumbButtons" disabled="true">AND</button>&nbsp;
<button *ngIf="studyData.summaryData.data_category!=''" class="btn btn-primary breadCrumbButtons" style="background-color: black; margin-right: 3px" disabled="true">Data Category</button> <button *ngIf="studyData.summaryData.data_category!=''"class="btn btn-primary breadCrumbButtons" disabled="true">IS</button>&nbsp;
<button *ngIf="studyData.summaryData.data_category!=''" class="btn btn-primary breadCrumbButtons" style="background-color: grey; margin-right: 3px" disabled="true">{{studyData.summaryData.data_category}}</button> <button *ngIf="studyData.summaryData.file_type!=''" class="btn btn-primary breadCrumbButtons" disabled="true">AND</button>&nbsp;
<button *ngIf="studyData.summaryData.file_type!=''" class="btn btn-primary breadCrumbButtons" style="background-color: black; margin-right: 3px" disabled="true">File Type</button> <button *ngIf="studyData.summaryData.file_type!=''" class="btn btn-primary breadCrumbButtons" disabled="true">IS</button>&nbsp;
<button *ngIf="studyData.summaryData.file_type!=''" class="btn btn-primary breadCrumbButtons" style="background-color: grey; margin-right: 3px" disabled="true">{{studyData.summaryData.file_type}}</button>
<button *ngIf="studyData.summaryData.acquisition_type!=''" class="btn btn-primary breadCrumbButtons" style="background-color: black; margin-right: 3px" disabled="true">Acqusition Type</button> <button  *ngIf="studyData.summaryData.acquisition_type!=''" class="btn btn-primary breadCrumbButtons" disabled="true">IS</button>&nbsp;
<button *ngIf="studyData.summaryData.acquisition_type!=''" class="btn btn-primary breadCrumbButtons" style="background-color: grey; margin-right: 3px" disabled="true">{{studyData.summaryData.acquisition_type}}</button> <button *ngIf="studyData.summaryData.acquisition_type!=''" class="btn btn-primary breadCrumbButtons" disabled="true">AND</button>&nbsp;
<button *ngIf="studyData.summaryData.experiment_type!=''" class="btn btn-primary breadCrumbButtons" style="background-color: black; margin-right: 3px" disabled="true">Experiment Type</button> <button *ngIf="studyData.summaryData.experiment_type!=''" class="btn btn-primary breadCrumbButtons" disabled="true">IS</button>&nbsp;
<button *ngIf="studyData.summaryData.experiment_type!=''" class="btn btn-primary breadCrumbButtons" style="background-color: grey; margin-right: 3px" disabled="true">{{studyData.summaryData.experiment_type}}</button>
</div>
</div>

<mat-dialog-content style='max-height: 85vh; padding: 10px;'>
<div class="row" style="width: 100%;vertical-align: middle; margin: 0;" (window:resize)="onResize($event)">

	<div class="container-fluid ui-helper-clearfix button-container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div *ngIf="totalRecords > 0 && !loading" >
						<h3 style="font-family: 'Lato'; font-size:14px;margin-top:10px!important">{{totalRecords > 1 ? 'Total files: ' + totalRecords : 'Total file: ' + totalRecords }}</h3>
				</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><h3 *ngIf="studyVersion" style="color:#de350b; font-size:14px; font-weight:800; text-align:center;">Showing files for study version {{studyVersion}}</h3></div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<!--<div class="wholeManifestDownload">
						Export All Manifests
						<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest('csv')" style="font-family:'Lato';font-weight:bold;min-width:1%;" [disabled]="iscompleteManifestDisabled()" aria-label="Download all Manifests">CSV</button>
						<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest('tsv')" style="font-family:'Lato';font-weight:bold;min-width:1%;" [disabled]="iscompleteManifestDisabled()" aria-label="Download all Manifests">TSV</button>
				</div>-->
				</div>
			</div>
		</div>
	</div>
	<!--@@@PDC-1433 unable to select a single record when there are multiple records of the same file name on the same page -->
      <p-table class="table-striped ui-datatable-odd " #dt [columns]="cols" [value]="filteredFilesData" [lazy]="true" [paginator]="publicationsFiles.length === 0" [(first)]="offset"
				[rows]="10" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100]" [totalRecords]="totalRecords"
				[loading]="loading" [resizableColumns]="true" columnResizeMode="expand"[ngStyle]="{'width':'100%'}"
				(onRowUnselect) ="onRowUnselected($event)" (onRowSelect)="onRowSelected($event)" [(selection)]="selectedFiles" (onLazyLoad)="loadFiles($event)" id="fileDataTable" id="{{publicationsFiles.length === 0 ? 'fileDataTable': 'publicationsFileDataTable'}}" paginatorPosition="both"
				scrollHeight="500px" [autoLayout]="true" [frozenColumns]="frozenCols" [scrollable]="true" [frozenWidth]="publicationsFiles.length == 0 ? '150px': '50px'">
		<ng-template pTemplate="caption">
			<div class="container-fluid ui-helper-clearfix button-container-fluid downloadButtons">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<mat-menu #menu="matMenu">
									<button mat-menu-item (click)="showStudySummary()" aria-label="Show Study Summary">CDAP</button>
									<button mat-menu-item>Other</button>
							</mat-menu>
							<div id="selectedFilesDataCount" *ngIf="!isDownloadDisabled()" style="float:left;padding-top:5px;">Files data selected for download: {{selectedFiles.length}}</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 manifestDownload">
							Export File Manifest
							<div class="custom-tooltip-wrapper">
								<button id="downloadFileManifest" mat-raised-button mat-primary label="Download Selection" (click)="fileTableExportCSV(false, false, 'csv')" [disabled]="isDownloadDisabled()" style="font-family:'Lato';min-width:1%;" aria-label="Download File Manifest">CSV</button>
								<span class="custom-tooltip">Exports all selected rows for the current data table</span>
							</div>&nbsp;
							<div class="custom-tooltip-wrapper">
								<button id="downloadFileManifest" mat-raised-button mat-primary label="Download Selection" (click)="fileTableExportCSV(false, false, 'tsv')" [disabled]="isDownloadDisabled()" style="font-family:'Lato';min-width:1%;" aria-label="Download File Manifest">TSV</button>
								<span class="custom-tooltip">Exports all selected rows for the current data table</span>
							</div>&nbsp;
							<div class="custom-tooltip-wrapper">
								<button id="downloadFileManifest" mat-raised-button mat-primary label="Download Selection" (click)="fileTableExportCSV(false, false, 'pfb')" [disabled]="isDownloadDisabled()" style="font-family:'Lato';min-width:1%;" aria-label="Download File Manifest">PFB</button>
								<span class="custom-tooltip">Exports all selected rows for the current data tab</span>
							</div><a href="/pdc/cloud-data-analysis" target="_blank" style="font-size: 13px;">
								<i class="fa fa-question-circle" aria-hidden="true" title="Data exchange format with FireCloud" style="font-size: 14px !important; padding-left: 4px"></i>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 manifestDownload">
							<div class="custom-tooltip-wrapper">
								<button id="downloadFiles" mat-raised-button mat-primary label="Download Files" (click)="setDownloadBatch()" [disabled]="isDownloadDisabled()" style="font-family:'Lato';" aria-label="Download Files">Download Files</button>
								<span class="custom-tooltip">Please use local download manager to download the files</span>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
<!-- 							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:#de350b; padding-left: 0!important;">
								Some data are under an <a href="/pdc/faq#Embargo_Date" target="_" style="color:#de350b !important;">EMBARGO</a> for publication and/or citation.
								For more details, visit the summary page for the study of interest.
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div> -->
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 faqLink" style="text-align: right;">
								<a href="/pdc/faq/Multiple_Files" target="_blank" style="font-size: 13px; font-weight: bold">More ways to download&nbsp;
									<i class="fa fa-question-circle" aria-hidden="true" title="More ways to download" style="font-size: 14px !important;"></i>
								</a>
							</div>
						</div>
				</div>
			</div>
		</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr class="safari_only">
						<th class="ui-datatable-tableheader" style="width:50px;overflow: unset;" pFrozenColumn>
							<!-- @@@PDC-7012 - improve checkbox intuitiveness -->
							<!-- @@@PDC-7109 - improve checkbox intuitiveness -->
							<label><p-checkbox id="fileDataChk" [(ngModel)]="headercheckbox" binary="true" (onChange)="triggerchangeHeaderCheckbox()"></p-checkbox>
							<mat-select #dataForManifestExport id="dataForManifestExport" class="card-body card-list" [(ngModel)]="selectedHeaderCheckbox"
							(selectionChange)="changeHeaderCheckbox($event)">
								<mat-option *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption" (onSelectionChange)="chkBoxSelectionCheck(checkboxOption)">
									{{checkboxOption}}
								</mat-option>
							</mat-select>
							<span style="display:none">Select this row</span></label>
						</th>
						<!-- PDC-2795 -->
						<!-- @@@PDC-4978 update links to migrated documentation pages -->
						<th *ngIf="publicationsFiles.length === 0" class="ui-datatable-tableheader" style="width:100px;" [pSortableColumn]="cols[0].field" pFrozenColumn><a
								href="/pdc/data-dictionary/Study" target="_blank" style="color:white">PDC Study ID</a>
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort PDC Study ID column in ascending/descending order"></i>
						</th>
						<!-- @@@PDC-262 link headers to data dictionary -->
						<th *ngIf="publicationsFiles.length === 0" class="ui-datatable-tableheader" [pSortableColumn]="cols[1].field"><a
								href="/pdc/data-dictionary/Study" target="_blank" style="color:white">Study</a>
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Study column in ascending/descending order"></i>
						</th>
<!-- 						<th *ngIf="publicationsFiles.length === 0" class="ui-datatable-tableheader" [pSortableColumn]="cols[2].field"><a
								href="/pdc/faq#Embargo_Date" target="_blank" style="color:white">Embargo Date</a>
							<p-sortIcon [field]="cols[2].field" ariaLabel="Sort embargo date column in ascending/descending order"></p-sortIcon>
						</th> -->
						<th class="ui-datatable-tableheader" [pSortableColumn]="cols[3].field"><a
								href="/pdc/data-dictionary/File#file_name" target="_blank" style="color:white">File
								Name</a>
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort File name column in ascending/descending order"></i>
						</th>
						<th *ngIf="publicationsFiles.length === 0" class="ui-datatable-tableheader" [pSortableColumn]="cols[4].field">
							<div class="ui-datatable-tableheader-flex-container">
								<div>
									<a href="/pdc/data-dictionary/Study%20Run%20Metadata" target="_blank"
										style="color:white">
										Run Metadata<br>ID
									</a>
								</div>
								<div>
									&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Run Metadata ID column in ascending/descending order"></i>
								</div>
							</div>
						</th>
            <th *ngIf="!isLegacyData" class="ui-datatable-tableheader" [pSortableColumn]="cols[12].field">
              <div class="ui-datatable-tableheader-flex-container">
                <div>
                  <a href="/pdc/data-dictionary/Protocol" target="_blank"
                     style="color:white">
                    Protocol
                  </a>
                </div>
                <div>
                  &nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Study in ascending/descending order"></i>
                </div>
              </div>
            </th>
						<th class="ui-datatable-tableheader" [pSortableColumn]="cols[5].field"><a
								href="/pdc/data-dictionary/Project" target="_blank" style="color:white">Project</a>
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Project column in ascending/descending order"></i>
						</th>
						<th rowspan=3 class="ui-datatable-tableheader" [pSortableColumn]="cols[6].field"><a href="/pdc/faq/Files_Download" target="_blank" style="color:white">Data Category</a>
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Data Category column in ascending/descending order"></i>
						</th>
						<th rowspan=3 class="ui-datatable-tableheader" [pSortableColumn]="cols[7].field"><a href="/pdc/faq/Files_Download" target="_blank" style="color:white">File Type</a>
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort File Type column in ascending/descending order"></i>
						</th>
						<th rowspan=3 class="ui-datatable-tableheader" [pSortableColumn]="cols[8].field">Access
							&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Access column in ascending/descending order"></i>
						</th>
						<th class="ui-datatable-tableheader" [pSortableColumn]="cols[9].field">
							<div class="ui-datatable-tableheader-flex-container">
								<div class="ui-datatable-tableheader-flex-header">
									File<br>Size (MB)
								</div>
								<div class="ui-datatable-tableheader-flex-sorticon">
									&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Fize Size column in ascending/descending order"></i>
								</div>
							</div>
						</th>
						<th class="ui-datatable-tableheader" [pSortableColumn]="cols[11].field">
								<div class="ui-datatable-tableheader-flex-container">
									<div class="ui-datatable-tableheader-flex-header">
										Downloadable
									</div>
									<div class="ui-datatable-tableheader-flex-sorticon">
										&nbsp;<i class="fas fa-sort" style="color: black" ariaLabel="Sort Downloadable column in ascending/descending order"></i>
									</div>
								</div>
						</th>
					</tr>
				</ng-template>
				<!-- @@@PDC-9480 - overlapping text file overlay Tech advancement -->
				<!-- @@@PDC-9690 - file selection should be uniform - removed background-color from frozen columns -->
				<ng-template pTemplate="body" let-fileData let-rowIndex="rowIndex">
					<tr [pSelectableRow]="fileData">
						<td style="width:50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" pFrozenColumn>
							<!-- @@@PDC-7110 - fix checkbox updates -->
							<label><p-checkbox #browsePageCheckboxes id="fileData-{{rowIndex}}-{{fileData.submitter_id_name}}" [value]="fileData" [(ngModel)]="selectedFiles" class="browsePageCheckboxes"></p-checkbox></label>
						</td>
						<td *ngIf="publicationsFiles.length === 0" style="width:100px;word-wrap: break-word; white-space: normal;" pFrozenColumn>{{fileData.pdc_study_id }}</td>
						<td *ngIf="publicationsFiles.length === 0" style="word-wrap: break-word; white-space: normal;">{{fileData.submitter_id_name }}</td>
<!-- 						<td *ngIf="publicationsFiles.length === 0" [ngClass]="getStyleClass(fileData.embargo_date)" style="word-wrap: break-word; white-space: normal;">
							<div *ngIf="fileData.embargo_date == '' || fileData.embargo_date == null">N/A</div>
							{{fileData.embargo_date }}
						</td> -->
						<td style="word-wrap: break-word; white-space: normal;">{{fileData.file_name}}</td>
						<td *ngIf="publicationsFiles.length === 0" style="word-wrap: break-word; white-space: normal;">{{fileData.study_run_metadata_submitter_id}}</td>
            <td *ngIf="!isLegacyData" style="word-wrap: break-word; white-space: normal;">{{fileData.protocol_submitter_id}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{fileData.project_name}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{fileData.data_category}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{fileData.file_type}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{fileData.access}}</td>
						<td style="word-wrap: break-word; white-space: normal;">{{fileData.file_size / 1048576 | number:'.3'}}
						</td>
						<!-- PDC-6728 remove embargo info publication -->
						<td style="word-wrap: break-word; white-space: normal;"><span *ngIf="fileData.downloadable == 'No'">{{fileData.downloadable}}</span><span *ngIf="fileData.downloadable == 'Yes'"><button mat-raised-button mat-primary label="Download Selection" (click)="downloadFile(fileData)" style="font-family:'Lato';background-color: black;color: white;" aria-label="Download">Download&nbsp;&nbsp;&nbsp;<i class="fas fa-download"></i></button></span></td>
					</tr>
				</ng-template>
		<!--<p-paginator rows="10" totalRecords="120"></p-paginator>-->
      </p-table>

</div>
</mat-dialog-content>
