<title>Reset Password</title>
<div class="container-fluid">
	<h3> Reset PDC Password</h3>
	<h4 *ngIf="formInvalidMessage!=''"><br><span style="color:red">{{formInvalidMessage}}</span><br></h4>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="submitNewPassword()" class="form" style="padding:10px" name="pdcRegistrationForm" novalidate>
		<label for="password">New Password:</label>
		<input #password type="password" class="form-control" id="password" required formControlName="user_pass" name="password" >
		<span style="font-size: 9px; color: gray"> 
			 <ul style="padding-inline-start:20px!important; padding-top:2px;">Password requirements:
				<li>Minimum password length: 8 characters</li>
				<li>At least one uppercase letter</li>
				<li>At least one lowercase letter</li>
				<li>At least one number</li>
				<li>At least one non-alphanumeric character</li>
			 </ul>
		</span>
		<mat-error *ngIf="user_pass.invalid && passwordInvalidMessage != ''">{{passwordInvalidMessage}}<br></mat-error>
		<label for="password_confirm">Confirm password:</label>
		<input #password_confirm type="password" class="form-control" id="password_confirm" required formControlName="user_pass" name="password">
		<mat-error *ngIf="user_pass.invalid&&isValidFormSubmitted!=null&&password_confirm!=password">Password does not match</mat-error>
        <br><button id="pdcRegister" mat-raised-button>Submit</button>&nbsp; &nbsp;
	</form>
</div>