<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<a href='{{homePageURL}}' title="Home" rel="home" id="logo">
				<img src="assets/css/images/PDC-NIH-Logo.png" alt="NCI Proteomics Data Commons" class="banner-logo" />
			</a>
		</div>
		<!-- @@@PDC-1474: Make recent releases area a bit larger to handle responsiveness -->
		<div *ngIf='navDisplayFlag' class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<!-- PDC-428 - search field style changes -->
			<div class="row" style="margin-top: 2%;"> 
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
					<div *ngIf='!userLoggedInFlag' class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right; padding-right: 0!important; padding-top: 10px;">
							<button *ngIf='!userLoggedInFlag' mat-raised-button (click)="login()" style="font-size:small" title="Login" id="Login">Login</button>
					</div>
					<div *ngIf='userLoggedInFlag' class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right; padding-right: 0!important;padding-top: 10px;">
						<span *ngIf='userLoggedInFlag' style="font-size:small">&nbsp; Logged in as <a href="javascript:void(0);" (click)="openUserAccountPage()">{{userService.getUserName()}}</a> &nbsp; &nbsp;</span>
						<button *ngIf='userLoggedInFlag' mat-raised-button (click)="logoff()" style="font-size:small" title="Logout" id="logout">Logout</button>
					</div>

					<br><br>
					<form>
						<div class="search-icon-div">
							<span class="search-icon"><i class="fas fa-search" style="font-size: 1.2em; color: lightgrey;">&nbsp;</i></span>
						</div>
						<input type="text" placeholder="e.g. BRCC3, 05BR003, kinase, PDC000123, phs000892" id="search-term" title="Enter a Gene symbol or Case ID"
							matInput [formControl]="searchFormControl" [matAutocomplete]="auto" class="search-input"
							[(ngModel)]="selectedSearchTerm" (ngModelChange)="openSearchTermSummary(option)" style="">
							<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunc">
								<mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="height:55px; line-height:18px;" [innerHtml]="option.name | searchStyle: selectedSearchTerm"></mat-option>
							</mat-autocomplete>
						<button aria-label="Clear" id="clearButton"  title="Clear" (click)="selectedSearchTerm=''" class="search-clear-button"><mat-icon style="font-size:0.9em;height:18px!important;width:18px!important;">close</mat-icon>
						</button>
					</form>
				</div>
				<!-- end of PDC-428 modifications -->
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="searchBarLabel">
<!-- 				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: small; word-break: keep-all !important; color:#de350b; padding-top:7px; font-weight:600">
						NCI is pleased to release these data to the public. Some data are under an <a href="/pdc/faq#Embargo_Date" target="_" style="color:#de350b !important;">EMBARGO</a> for publication and/or citation.
					</div> -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="word-break: keep-all !important; padding-top: 1%; font-weight:600; padding-right: 0px;">
						<a href="/pdc/data-use-guidelines#Cite_PDC" target="_blank" style="color: #337ab7 !important;float:right; font-size: 15px !important;">Citing PDC&nbsp;
							<!-- <fa name="external-link"></fa> -->
						</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf='navDisplayFlag' class="toolbar-narrow">
  <mat-toolbar class="toolbar-row">
	<mat-toolbar-row class="navbar-narrow-screens">
			<span class="navbar-toolbar-spacer"></span>
		<nav mat-tab-nav-bar class="custom-navbar-menu">
			<a mat-button class="custom-navbar-menu-item" id="homeNavbar" href='{{homePageURL}}'>HOME</a>
			<!-- @@@PDC-4696 updates to menu bar wording -->
			<a mat-button class="custom-navbar-menu-item" id="browseNavbar" routerLink='browse'>EXPLORE</a>
			<a mat-button class="custom-navbar-menu-item" id="analysisNavbar" [matMenuTriggerFor]="analysis">ANALYSIS</a>
			<mat-menu [overlapTrigger]="false" yPosition="below" style="min-width:1%; padding-right: 0px" #analysis="matMenu">
				<a mat-button class="custom-menu-item" id="exploreQuantitationData" href="/pdc/explore-quantitation-data" target="_blank">Explore Quantitation Data</a>
				<a mat-button class="custom-menu-item" (click)="trackPage('/jbrowse')" href='/jbrowse/' id="analysisOption" target="_" >Peptide Genome mapping</a>
        <!-- @@@PDC-5831 - link should open in new tab -->
				<a mat-button class="custom-menu-item" id="harmonizationUrl" routerLink='harmonization' target="_blank">Common Data Analysis Pipeline (CDAP)</a><br/>
				<!-- @@@PDC-1711 add external link icon -->
				<a mat-button (click)="trackPage('/pepquery')" href='http://pepquery2.pepquery.org/' id="analysisOption" target="_" >Pepquery</a><a matTooltip="Exit Disclaimer" href="https://www.cancer.gov/policies/linking" target="_">&nbsp;<i class="fas fa-external-link-alt"></i><span style="display: none">Exit Disclaimer</span></a>
				<a mat-button class="custom-menu-item" id="cProSite" href="http://cprosite.ccr.cancer.gov/" target="_blank">cProSite</a>
				<a mat-button class="custom-menu-item" id="pfb" href="/pdc/cloud-data-analysis" target="_blank">Analyze PDC Data in the Cloud</a>
			</mat-menu>
			<!-- @@@PDC-4696 <a mat-button class="custom-navbar-menu-item" id="dataUseGuidelines" routerLink='data-use-guidelines'>DATA USE</a> -->
			<!-- <a mat-button class="custom-navbar-menu-item" id="submitNavbar" (click)="submitData()">SUBMIT DATA</a> -->
			<a mat-button class="custom-navbar-menu-item" id="publications" routerLink='publications'>PUBLICATIONS</a>
			<a mat-button class="custom-navbar-menu-item" id="submitDataNavBar" [matMenuTriggerFor]="submitDataBtn">SUBMIT DATA</a>
			<mat-menu [overlapTrigger]="false" yPosition="below" #submitDataBtn="matMenu">
				<span *ngIf='!userLoggedInFlag'><a mat-button (click)="submitData()" class="custom-menu-item mat-menu-item" id="submitNavbar">Login to Workspace</a></span>
				<span *ngIf='userLoggedInFlag'>
					<span *ngIf='userRegisteredToWorkspaceFlag'>
						<a mat-button (click)="submitData()" class="custom-menu-item mat-menu-item" id="submitNavbar">Go to Workspace</a>
					</span>
					<span *ngIf='!userRegisteredToWorkspaceFlag'>
						<a mat-button (click)="submitData()" class="custom-menu-item mat-menu-item" id="submitNavbar">Register with Workspace</a>
					</span>
				</span>
				<a mat-menu-item  class="custom-menu-item"  id="submitDataMenu" target="_blank"  href='/pdc/submit-data'>How to Submit Data</a>
				<!-- PDC-5758 - update how to submit page -->
				<a mat-menu-item  class="custom-menu-item"  id="dataSubmissionMenu" target="_blank"  href='/pdc/request-data-submission'>Request Data Submission</a>
			</mat-menu>
			<!-- <a mat-button class="custom-navbar-menu-item" id="newsNavbar" routerLink='news'>NEWS</a> -->

			<a mat-button class="custom-navbar-menu-item" id="aboutNavbar" [matMenuTriggerFor]='about'>ABOUT</a>
			<mat-menu yPosition="below" [overlapTrigger]="false" focusFirstItem="false" #about="matMenu">
				<a mat-menu-item class="custom-menu-item" href="/pdc/about" target="_blank" id="aboutPDC">About PDC</a>
				<a mat-menu-item class="custom-menu-item" href="/pdc/data-use-guidelines" target="_blank" id="dataDictionaryLink">Data Use</a>
				<!-- @@@PDC-4696 updates to menu bar wording -->
			</mat-menu>


			<a mat-button class="custom-navbar-menu-item" id="helpNavbar" [matMenuTriggerFor]="help">MORE</a>
			<mat-menu yPosition="below" [overlapTrigger]="false" focusFirstItem="false" #help="matMenu">
				<a mat-menu-item class="custom-menu-item" href="/pdc/data-dictionary" target="_blank" id="dataDictionaryLink">Data Model and Dictionary</a>
				<a mat-menu-item class="custom-menu-item" href="/pdc/api-documentation" target="_blank" id="APIDocs">API Documentation</a>
				<a mat-menu-item class="custom-menu-item" id="faq" routerLink='faq' target="_blank">Frequently Asked Questions</a>
				<a mat-menu-item class="custom-menu-item" id="faqDataTypes" target="_blank" href='/pdc/faq/Files_Download'>Available Data Types and Files</a>
				<!-- PDC-5573 update download data documentation page -->
				<a mat-menu-item class="custom-menu-item" id="data-download-documentation" routerLink='data-download-documentation' target="_blank">Data Download Documentation</a>
				<a mat-menu-item class="custom-menu-item" href="https://list.nih.gov/cgi-bin/wa.exe?SUBED1=PDC-ANNOUNCE-L&A=1" target="_blank">Subscribe to PDC mailing list</a>
				<a mat-menu-item class="custom-menu-item" id="releaseNotesSubmenu" href="https://pdc-release-notes.s3.amazonaws.com/PDC_Software_Release_Notes.htm" target="_blank">Software Release Notes</a>
				<a mat-menu-item class="custom-menu-item" id="dataReleaseNotesSubmenu" href="https://pdc-release-notes.s3.amazonaws.com/PDC_Data_Release_Notes.htm" target="_blank">Data Release Notes</a>
        <a mat-menu-item class="custom-menu-item" id="WSReleaseNotes" href="https://pdc-release-notes.s3.amazonaws.com/PDC_WS_Release_Notes.htm" target="_blank">Workspace Release Notes</a>
        <a mat-menu-item class="custom-menu-item" href='mailto:PDCHelpDesk@mail.nih.gov?Subject=PDC Help' id="emailNavbar" target="_">Contact Us</a>
        <!--@@PDC-5972-remove discussion link-->
				<!--<a mat-menu-item class="custom-menu-item" href='https://groups.google.com/a/esacinc.com/forum/#!forum/pdc-mvp-feedback' id="discussionNavbar" target="_" >Discussion Forum</a>-->
			</mat-menu>
		</nav>
	</mat-toolbar-row>
  </mat-toolbar>
</div>
