<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<a href='{{homePageURL}}' title="Home" rel="home" id="logo">
				<img src="assets/css/images/PDC-NIH-Logo.png" alt="NCI Proteomics Data Commons" class="banner-logo" />
			</a>
		</div>
		<!-- @@@PDC-1474: Make recent releases area a bit larger to handle responsiveness -->
		<div *ngIf='navDisplayFlag' class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<!-- PDC-428 - search field style changes -->
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
					<div *ngIf='!userLoggedInFlag' class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right; padding-right: 0!important; padding-top: 10px;">
							<button *ngIf='!userLoggedInFlag' mat-raised-button (click)="login()" style="font-size:small" title="Login" id="Login">Login</button>
					</div>
					<div *ngIf='userLoggedInFlag' class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right; padding-right: 0!important;padding-top: 10px;">
						<span *ngIf='userLoggedInFlag' style="font-size:small">&nbsp; Logged in as <a href="javascript:void(0);" (click)="openUserAccountPage()">{{userService.getUserName()}}</a> &nbsp; &nbsp;</span>
						<button *ngIf='userLoggedInFlag' mat-raised-button (click)="logoff()" style="font-size:small" title="Logout" id="logout">Logout</button>
					</div>

					<br><br>
					<form>
						<div class="search-icon-div">
							<span class="search-icon"><i class="fas fa-search" style="font-size: 1.2em; color: lightgrey;">&nbsp;</i></span>
						</div>
						<input type="text" placeholder="e.g. BRCC3, 05BR003, kinase, PDC000123, phs000892" id="search-term" title="Enter a Gene symbol or Case ID"
							matInput [formControl]="searchFormControl" [matAutocomplete]="auto" class="search-input"
							[(ngModel)]="selectedSearchTerm" (ngModelChange)="openSearchTermSummary(option)" style="">
							<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunc">
								<mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="height:55px; line-height:18px;" [innerHtml]="option.name | searchStyle: selectedSearchTerm"></mat-option>
							</mat-autocomplete>
						<button aria-label="Clear" id="clearButton"  title="Clear" (click)="selectedSearchTerm=''" class="search-clear-button"><mat-icon style="font-size:0.9em;height:18px!important;width:18px!important;">close</mat-icon>
						</button>
					</form>
				</div>
				<!-- end of PDC-428 modifications -->
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="searchBarLabel">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: small; word-break: keep-all !important; color:#de350b; padding-top:7px; font-weight:600">
						NCI is pleased to release these data to the public. Some data are under an <a href="/pdc/faq#Embargo_Date" target="_" style="color:#de350b !important;">EMBARGO</a> for publication and/or citation.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf='navDisplayFlag' class="toolbar-narrow">
  <mat-toolbar class="toolbar-row">
	<mat-toolbar-row class="navbar-narrow-screens">
			<span class="navbar-toolbar-spacer"></span>
		<nav mat-tab-nav-bar class="custom-navbar-menu">
			<a mat-button class="custom-navbar-menu-item" id="homeNavbar" href='{{homePageURL}}'>HOME</a>
			<a mat-button class="custom-navbar-menu-item" id="browseNavbar" routerLink='browse'>BROWSE</a>
			<a mat-button class="custom-navbar-menu-item" id="analysisNavbar" [matMenuTriggerFor]="analysis">ANALYSIS</a>
			<mat-menu [overlapTrigger]="false" yPosition="below" style="min-width:1%; padding-right: 0px" #analysis="matMenu">
				<a mat-button (click)="trackPage('/jbrowse')" href='/jbrowse/' id="analysisOption" target="_" >Peptide Genome mapping</a><br/>
				<!-- @@@PDC-1711 add external link icon -->
				<a mat-button (click)="trackPage('/pepquery')" href='http://pepquery.esacinc.com/pepquery' id="analysisOption" target="_" >Pepquery</a><a matTooltip="Exit Disclaimer" href="https://www.cancer.gov/policies/linking" target="_">&nbsp;<i class="fas fa-external-link-alt"></i><span style="display: none">Exit Disclaimer</span></a>
			</mat-menu>
			<a mat-button class="custom-navbar-menu-item" id="dataUseGuidelines" routerLink='data-use-guidelines'>DATA USE</a>
			<!-- <a mat-button class="custom-navbar-menu-item" id="submitNavbar" (click)="submitData()">SUBMIT DATA</a> -->
			<a mat-button class="custom-navbar-menu-item" id="submitDataNavBar" [matMenuTriggerFor]="submitDataBtn">SUBMIT DATA</a>
			<mat-menu [overlapTrigger]="false" yPosition="below" #submitDataBtn="matMenu">
				<span *ngIf='!userLoggedInFlag'><a mat-button (click)="submitData()" class="custom-menu-item mat-menu-item" id="submitNavbar">Login to Workspace</a></span>
				<span *ngIf='userLoggedInFlag'>
					<span *ngIf='userRegisteredToWorkspaceFlag'>
						<a mat-button (click)="submitData()" class="custom-menu-item mat-menu-item" id="submitNavbar">Go to Workspace</a>
					</span>
					<span *ngIf='!userRegisteredToWorkspaceFlag'>
						<a mat-button (click)="submitData()" class="custom-menu-item mat-menu-item" id="submitNavbar">Register with Workspace</a>
					</span>
				</span>
				<a mat-menu-item  class="custom-menu-item"  id="submitDataMenu" target="_blank"  href='/pdc/submit-data'>How to Submit Data</a>
				<a mat-menu-item  class="custom-menu-item"  id="dataSubmissionMenu" target="_blank"  href='/pdc/request-data-submission'>Request Data Submission</a>
			</mat-menu>
			<!-- <a mat-button class="custom-navbar-menu-item" id="newsNavbar" routerLink='news'>NEWS</a> -->
			<a mat-button class="custom-navbar-menu-item" id="aboutNavbar" routerLink='about'>ABOUT</a>
			<a mat-button class="custom-navbar-menu-item" id="helpNavbar" [matMenuTriggerFor]="help">HELP</a>
			<mat-menu yPosition="below" [overlapTrigger]="false" focusFirstItem="false" #help="matMenu">
				<a mat-menu-item class="custom-menu-item" href={{dictionary_url}} target="_blank" id="dataDictionaryLink">Data Model and Dictionary</a>
				<a mat-menu-item class="custom-menu-item" href={{apidocumentation_url}} target="_blank" id="APIDocs">API Documentation</a>
				<a mat-menu-item class="custom-menu-item" id="faq" routerLink='faq' target="_blank">Frequently Asked Questions</a>
				<a mat-menu-item class="custom-menu-item" id="faqDataTypes" target="_blank" href='/pdc/faq/Files_Download'>Available Data Types and Files</a>
				<a mat-menu-item class="custom-menu-item" id="submitDataSubmenu" href="/pdc/submit-data" target="_blank">How to Submit Data</a>
				<a mat-menu-item class="custom-menu-item" href="https://list.nih.gov/cgi-bin/wa.exe?SUBED1=PDC-ANNOUNCE-L&A=1" target="_blank">Subscribe to PDC mailing list</a>
				<a mat-menu-item class="custom-menu-item" id="releaseNotesSubmenu" href="https://drive.google.com/file/d/1k_sPoPuhusZPRDJWkVecWEnyCqvQm8nA/view?ths=true" target="_blank">Software Release Notes</a>
				<a mat-menu-item class="custom-menu-item" id="dataReleaseNotesSubmenu" href="https://docs.google.com/document/d/1K8rSin-9KrDS08vB3Tpnfcch_NMK78MAt27rpkdM-HE/view?ths=true" target="_blank">Data Release Notes</a>
        <a mat-menu-item class="custom-menu-item" href='mailto:PDCHelpDesk@mail.nih.gov?Subject=PDC Help' id="emailNavbar" target="_">Contact Us</a>
        <a mat-menu-item class="custom-menu-item" href='https://groups.google.com/a/esacinc.com/forum/#!forum/pdc-mvp-feedback' id="discussionNavbar" target="_" >Discussion Forum</a>
			</mat-menu>
		</nav>
	</mat-toolbar-row>
  </mat-toolbar>
</div>
