<mat-toolbar style="margin-bottom: 5px;" >
	<mat-toolbar-row class="toolbar-row-button">
	<a routerLink="/pdc/" title="Home" rel="home" id="logo">
		<img src="assets/css/images/logo_PDC.png" width="340" height="55" alt="NCI Proteomics Data Commons" class="banner-logo" />
	</a>
	<span class="navbar-toolbar-spacer">
	<div *ngIf='navDisplayFlag'>
	   <!-- PDC-428 - search field style changes -->
		<span class="navbar-toolbar-spacer"></span>
		<button *ngIf='userLoggedInFlag' mat-button (click)="logoff()" style="float:right; font-size:small" title="Logout" id="logout">Logout&nbsp;<i class="fas fa-sign-out-alt"></i></button>
		<div *ngIf='userLoggedInFlag' style="float:right; font-size:small">&nbsp; Logged in as <a routerLink='user-account'>{{loggedInUser}}</a> &nbsp; &nbsp;</div>
		<button *ngIf='!userLoggedInFlag' mat-button (click)="login()" style="float:right; font-size:small" title="Login" id="Login">Login&nbsp;<i class="fas fa-sign-in-alt"></i></button>
		<br>
	    <span class="navbar-toolbar-spacer"></span>
		<button mat-button *ngIf="selectedSearchTerm" mat-icon-button style="float:right" aria-label="Clear" id="clearButton"  title="Clear" (click)="selectedSearchTerm=''">
			<mat-icon>close</mat-icon>
		</button>
		<span>
			<input type="text" placeholder="e.g. BRCC3, 05BR003, kinase" id="search-term" title="Enter a Gene symbol or Case ID" 
			matInput [formControl]="searchFormControl" [matAutocomplete]="auto" 
			[(ngModel)]="selectedSearchTerm" (ngModelChange)="openSearchTermSummary(option)" style="background:rgb(250, 250, 250); border-radius: 2px; width:60%; float: right">
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunc">
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="height:55px; line-height:18px;" [innerHtml]="option.name | searchStyle: selectedSearchTerm"></mat-option>
			</mat-autocomplete>
		</span>
		<i class="fas fa-search" style="float:right;font-size: 2em; color: lightgrey;">&nbsp;</i>
		<!-- end of PDC-428 modifications -->
	  </div>
	</span>
	</mat-toolbar-row>
</mat-toolbar>
<div *ngIf='navDisplayFlag'>
	<mat-toolbar style="min-height: 0px;">
		<mat-toolbar-row class="toolbar-row-button" style="height: 21px;">
			<span style="position: absolute;" id="searchTermLabel">
				<label for="search-term" style="vertical-align: text-bottom;line-height: initial;font-size: 12px;font-weight:bolder">Search by Gene or Case ID</label>
			</span>	
		</mat-toolbar-row>
	</mat-toolbar>
</div>
<div *ngIf='navDisplayFlag'>
  <mat-toolbar class="toolbar-row">
	<mat-toolbar-row >
			<span class="navbar-toolbar-spacer"></span>
		<nav mat-tab-nav-bar class="custom-navbar-menu">
			<a mat-button class="custom-navbar-menu-item" id="homeNavbar" routerLink='pdc'>HOME</a>
			<a mat-button class="custom-navbar-menu-item" id="browseNavbar" routerLink='browse'>BROWSE</a>
			<a mat-button class="custom-navbar-menu-item" id="analysisNavbar" [matMenuTriggerFor]="analysis">ANALYSIS</a>
			<mat-menu [overlapTrigger]="false" yPosition="below" style="min-width:1%; padding-right: 0px" #analysis="matMenu">
				<a mat-button (click)="trackPage('/jbrowse')" href='/jbrowse/' id="analysisOption" target="_" >Peptide Genome mapping</a><br/>
				<a mat-button (click)="trackPage('/pepquery')" href='http://pepquery.esacinc.com:3838/pepquery' id="analysisOption" target="_" >Pepquery</a>
			</mat-menu>
			<!-- <a mat-button class="custom-navbar-menu-item" id="submitNavbar" (click)="submitData()">SUBMIT DATA</a> -->
			<a mat-button class="custom-navbar-menu-item" id="submitDataNavBar" [matMenuTriggerFor]="submitDataBtn">SUBMIT DATA</a>
			<mat-menu [overlapTrigger]="false" yPosition="below" #submitDataBtn="matMenu">
				<a mat-button (click)="submitData()" id="submitNavbar">Login to Workspace</a>	
				<a mat-menu-item  class="custom-menu-item"  id="submitDataMenu" target="_blank"  href='/pdc/submit-data'>How to Submit Data</a>
			</mat-menu>
			<!-- <a mat-button class="custom-navbar-menu-item" id="newsNavbar" routerLink='news'>NEWS</a> -->
			<a mat-button class="custom-navbar-menu-item" id="aboutNavbar" routerLink='about'>ABOUT</a>
			<a mat-button class="custom-navbar-menu-item" id="helpNavbar" [matMenuTriggerFor]="help">HELP</a>
			<mat-menu yPosition="below" [overlapTrigger]="false" focusFirstItem="false" #help="matMenu">
				<a mat-menu-item class="custom-menu-item" href={{dictionary_url}} target="_blank" id="dataDictionaryLink">Data Model and Dictionary</a>
				<a mat-menu-item class="custom-menu-item" [href]=getSubmissionPortalDocsURL() target="_blank" id="submissionPortalDocs">Submission Portal Documentation</a>
				<a mat-menu-item class="custom-menu-item" href={{apidocumentation_url}} target="_blank" id="APIDocs">API Documentation</a>
				<a mat-menu-item class="custom-menu-item" id="faq" routerLink='faq'>FAQ</a>
				<a mat-menu-item class="custom-menu-item" id="feedbackSubmenu" [matMenuTriggerFor]="feedback">Feedback</a>
				<a mat-menu-item class="custom-menu-item" id="submitDataSubmenu" href="/pdc/submit-data" target="_blank">How to Submit Data</a>
			</mat-menu>
			
			<mat-menu [overlapTrigger]="false" yPosition="below" #feedback="matMenu">
				<a mat-button href='mailto:nci.pdc.help@esacinc.com?Subject=PDC Help' id="emailNavbar" target="_" >Email</a>
				<a mat-button href='https://groups.google.com/a/esacinc.com/forum/#!forum/pdc-mvp-feedback' id="discussionNavbar" target="_" >Discussion Forum</a>	
			</mat-menu>
		</nav>
	</mat-toolbar-row>
  </mat-toolbar>
</div>
