<mat-toolbar>
    <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>    
    <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>    
</mat-toolbar>
<div class="row" style="font-family:'Lato'; margin-top:-75px!important; margin-left:20px; margin-right: 20px; align-items: center;" >
<mat-card class="about-page card card-body">
    <mat-card-content>
		<div style="font-family:'LatoBold'; font-size: 20px; margin-bottom: 5px;">Proteomics Data Commons FAQs</div>
        <div class="faq-question" >Is PDC launched? </div>

			<p class="faq-response">The alpha-phase of the PDC launched in September 2018, is currently in beta phase, and anticipates going to full production in March 2020.</p>

		<div class="faq-question" >Can I submit data to PDC? </div>

			<p class="faq-response">Yes, PDC now accepts Mass Spectrometry data from proteomic experiments specifically for data dependent and data independent acquisitions. 
			You may contact <a href="mailto:nci.pdc.help@esacinc.com" target="_top">nci.pdc.help@esacinc.com</a> to request an account.</p>

		<div class="faq-question" >How do I download data? </div>

			<p class="faq-response">Once you identify the files of your interest, move to ‘FIles’ tab and select one or all files. Then click ‘Download File Manifest’. 
			The manifest will contain a download URL each selected file in a separate row. The URLs will expire after 48 hours. <br><br>

			Note: PDC is hosted on AWS cloud and is under active development. To reduce egress costs, not all files are currently available for download. 
			However we will simplify the data download process in the coming months. If you are specifically interested in downloading CPTAC data, 
			you may do so from <a href="https://cptac-data-portal.georgetown.edu/cptacPublic/" target="_blank">CPTAC Data Portal</a>. </p>


    </mat-card-content>
</mat-card>
</div>
<mat-card>
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-content>
        Feedback? Join our Google discussion group: <a href="https://groups.google.com/a/esacinc.com/forum/#!forum/pdc-mvp-feedback" target="_">PDC Feedback Group</a>
        <br>
        Contact us: <a href="mailto:nci.pdc.help@esacinc.com?Subject=PDC Help" target="_top">Email</a>
    </mat-card-content>
</mat-card>