	<div class="row" style="font-family:'Lato'; font-size: 12px;">
		<div class="container-fluid ui-helper-clearfix button-container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div *ngIf="totalRecords > 0 && !loading" >
							<h3 style="font-family: 'Lato'; font-size:14px;margin-top:10px!important">{{totalRecords > 1 ? 'Total records: ' + totalRecords : 'Total record: ' + totalRecords }}</h3>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<div class="wholeManifestDownload">
							<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest()" style="font-family:'Lato';font-weight:bold" [disabled]="iscompleteManifestDisabled()" aria-label="Download All Manifests">Export All Manifests</button>
						</div>
					</div>
				</div>
			</div>
		</div>

      <p-table class="table-striped ui-datatable-odd" #dt [columns]="cols" [value]="filteredClinicalData" [lazy]="true" [paginator]="true" [(first)]="offset" 
				[rows]="10" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50]" [totalRecords]="totalRecords"
				[loading]="loading" [resizableColumns]="true" columnResizeMode="expand" [style]="{'width':'100%', 'min-width':'1000px'}" 
				(onRowUnselect) ="onRowUnselected($event)" (onRowSelect)="onRowSelected($event)" [(selection)]="selectedClinicalData" 
				dataKey="case_submitter_id" (onLazyLoad)="loadNewPage($event)" id="clinicalDataTable" paginatorPosition="both">
		<ng-template pTemplate="caption">
			<div class="container-fluid ui-helper-clearfix button-container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<span id="selectedClinicalDataCount" *ngIf="!isDownloadDisabled()" style="float:left;padding-top:5px;">Clinical data selected for download: {{selectedClinicalData.length}}</span>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 manifestDownload">
							<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadClinical"  mat-raised-button mat-primary label="Download Selection" (click)="clinicalTableExportCSV(dt)" [disabled]="isDownloadDisabled()" style="font-family:'Lato';" aria-label="Download Clinical Manifests">Export Clinical Manifest</button>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
        <ng-template style="font-size: 12px; background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%);" pTemplate="header">
            <tr style="font-size: 12px;">
				<th class="ui-datatable-tableheader" style="width:5%;overflow: unset;">
					<label><p-checkbox  id="clinicalDataChk" [(ngModel)]="headercheckbox" binary="true" (onChange)="onTableHeaderCheckboxToggle()" ></p-checkbox >
					<mat-select id="dataForManifestExport" class="card-body card-list" [(ngModel)]="selectedHeaderCheckbox"
					(selectionChange)="changeHeaderCheckbox($event)">
						<mat-option *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption">
							{{checkboxOption}}
						</mat-option>
					</mat-select>
					<span style="display:none">Select all rows</span>
					</label>
				</th>
				<!-- @@@PDC-262 link headers to data dictionary -->                
                <th class="ui-datatable-tableheader" style="width:10%;" [pSortableColumn]="cols[1].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Case" target="_blank" style="color:white">Case</a><p-sortIcon [field]="cols[1].field" ariaLabel="Sort Case submitter ID in ascending/descending order"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:10%" [pSortableColumn]="cols[2].field" pResizableColumn>
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Case#gdc_case_id" target="_blank" style="color:white">
								Genomic and Imaging<br> Data Resource
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[2].field" ariaLabel="Sort External Case ID in ascending/descending order"></p-sortIcon>
						</div>
					</div>
				</th>			
				<th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[3].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#ethnicity" target="_blank" style="color:white">Ethnicity</a><p-sortIcon [field]="cols[3].field" ariaLabel="Sort Ethinicity column in ascending/descending order"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:5%" [pSortableColumn]="cols[4].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#gender" target="_blank" style="color:white">Gender</a><p-sortIcon [field]="cols[4].field" ariaLabel="Sort Gender column in ascending/descending order"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:5%" [pSortableColumn]="cols[5].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#race" target="_blank" style="color:white">Race</a><p-sortIcon [field]="cols[5].field" ariaLabel="Sort Race column in ascending/descending order"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[6].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#morphology" target="_blank" style="color:white">Morphology</a><p-sortIcon [field]="cols[6].field" ariaLabel="Sort Morphology column in ascending/descending order"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:10%" [pSortableColumn]="cols[7].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#primary_diagnosis" target="_blank" style="color:white">Primary Diagnosis</a><p-sortIcon [field]="cols[7].field" ariaLabel="Sort Primary Diagnosis column in ascending/descending order"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[8].field" pResizableColumn>
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#site_of_resection_or_biopsy" target="_blank" style="color:white">
								Site of Resection<br> or Biopsy
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[8].field" ariaLabel="Sort Site of Resection column in ascending/descending order"></p-sortIcon>
						</div>
					</div>
				</th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[9].field" pResizableColumn>
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tissue_or_organ_of_origin" target="_blank" style="color:white">
								Tissue or <br>Organ of Origin
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[9].field" ariaLabel="Sort Tissue column in ascending/descending order"></p-sortIcon>
						</div>
					</div>
				</th>
				<th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[10].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tumor_grade" target="_blank" style="color:white">Tumor Grade</a><p-sortIcon [field]="cols[10].field" ariaLabel="Sort Tumor Grade column in ascending/descending order"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[11].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tumor_stage" target="_blank" style="color:white">Tumor Stage</a><p-sortIcon [field]="cols[11].field" ariaLabel="Sort Tumor Stage column in ascending/descending order"></p-sortIcon></th>
				<!-- @@@PDC-1305 add age_at_diagnosis et al -->				
				<th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[12].field" pResizableColumn>
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#age_at_diagnosis" target="_blank" style="color:white">
								Age at<br> Diagnosis
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[12].field" ariaLabel="Sort Age at Diagnosis column in ascending/descending order"></p-sortIcon>
						</div>
					</div>
				</th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[13].field" pResizableColumn>
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#classification_of_tumor" target="_blank" style="color:white">
								Classification<br> of Tumor
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[13].field" ariaLabel="Sort Classification of Tumor column in ascending/descending order"></p-sortIcon>
						</div>
					</div>
				</th>
				<th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[14].field" pResizableColumn>
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#days_to_recurrence" target="_blank" style="color:white">
								Days to<br> Recurrence
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[14].field" ariaLabel="Sort Days to Recurrence column in ascending/descending order"></p-sortIcon>
						</div>
					</div>
				</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clinicalData>
            <tr style="font-size: 11px;" [pSelectableRow]="clinicalData" >
				<td style="width:5%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><p-tableCheckbox id="clinicalData{{clinicalData.case_submitter_id}}" [value]="clinicalData" class="browsePageCheckboxes"></p-tableCheckbox></td>
				<!-- @@@PDC-462 show submitter id -->                
                <td style="width:10%;word-wrap: break-word; white-space: normal;"><a href="javascript:void(0);" (click)="showCaseSummary(clinicalData.case_submitter_id)">{{clinicalData.case_submitter_id }}</a>&nbsp;&nbsp;<span style='color:red' *ngIf="clinicalData.status == 'Disqualified'">{{clinicalData.status}}</span></td>
				<td style="width:10%;word-wrap: break-word; white-space: normal;text-align: center"><a [href]="fetchUrl(clinicalData.external_case_id)" title="Go to genomic resource" target="_blank"><img [src]="getIcon(clinicalData.external_case_id, 'genomic')" alt=""><span style="display:none">Click on the External Reference Image</span>{{displayTextforExternalID(clinicalData.external_case_id)}}</a>
					<div *ngIf="clinicalData.imaging_resource">
						<a href="{{clinicalData.imaging_resource}}" title="Go to imaging resource" target="_blank"><img [src]="getIcon(clinicalData.external_case_id, 'tcia')" alt="" style="height: 20px;margin-top: 6%;background-color: gray;"><span style="display:none">Click on the External Reference Image</span></a>
					</div>
				</td>
                <td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.ethnicity}}</td>
                <td style="width:5%;word-wrap: break-word; white-space: normal;">{{clinicalData.gender}}</td>
				<td style="width:5%;word-wrap: break-word; white-space: normal;">{{clinicalData.race}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.morphology}}</td>
				<td style="width:10%;word-wrap: break-word; white-space: normal;">{{clinicalData.primary_diagnosis}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.site_of_resection_or_biopsy}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.tissue_or_organ_of_origin}}</td>
				<td style="width:6%;word-wrap: break-word; white-space: normal;">{{clinicalData.tumor_grade}}</td>
				<td style="width:6%;word-wrap: break-word; white-space: normal;">{{clinicalData.tumor_stage}}</td>
				<!-- @@@PDC-1305 add age_at_diagnosis et al -->				
				<td style="width:4%;word-wrap: break-word; white-space: normal;">{{clinicalData.age_at_diagnosis}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.classification_of_tumor}}</td>
				<td style="width:4%;word-wrap: break-word; white-space: normal;">{{clinicalData.days_to_recurrence}}</td>
            </tr>
        </ng-template>
		<p-paginator rows="10" totalRecords="120"></p-paginator> 
      </p-table>
      <br>
    </div>
