	<div class="row" style="font-family:'Lato';">
		<div style="width: 100%">
				<div *ngIf="totalRecords > 0 && !loading" >
						<h3 style="font-family: 'Lato'; font-size:14px;float:left">{{totalRecords > 1 ? 'Total records: ' + totalRecords : 'Total record: ' + totalRecords }}</h3>
				</div>
				<div style="float: right; padding: 2%">
						<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest()" style="font-family:'Lato';float:right;font-weight:bold" [disabled]="iscompleteManifestDisabled()">Download All Manifests</button>
				</div>
		</div>

      <p-table class="table-striped ui-datatable-odd" #dt [columns]="cols" [value]="filteredClinicalData" [lazy]="true" [paginator]="true" [(first)]="offset" 
				[rows]="10" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50]" [totalRecords]="totalRecords"
				[loading]="loading" [resizableColumns]="true" columnResizeMode="expand" responsive="true" 
				(onRowUnselect) ="onRowUnselected($event)" (onRowSelect)="onRowSelected($event)" [(selection)]="selectedClinicalData" 
				dataKey="case_submitter_id" (onLazyLoad)="loadNewPage($event)" id="clinicalDataTable">
	    <ng-template pTemplate="caption">
			<div class="ui-helper-clearfix">
				<div id="selectedClinicalDataCount" *ngIf="!isDownloadDisabled()" style="float:left">Clinical data selected for download: {{selectedClinicalData.length}}</div>
				<button matTooltip="Please use CPTAC Data Portal for downloading the files" id="downloadClinical"  mat-raised-button mat-primary label="Download Selection" (click)="clinicalTableExportCSV(dt)" [disabled]="isDownloadDisabled()" style="font-family:'Lato';float:right" >Download Clinical Manifest</button>
			</div>
		</ng-template>
        <ng-template style="font-size: 12px; background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%);" pTemplate="header">
            <tr style="font-size: 12px;">
				<th class="ui-datatable-tableheader" style="width:6%;overflow: unset;">
					<p-checkbox  id="clinicalDataChk" [(ngModel)]="headercheckbox" binary="true" (onChange)="onTableHeaderCheckboxToggle()" ></p-checkbox >
					<mat-select id="dataForManifestExport" class="card-body card-list" [(ngModel)]="selectedHeaderCheckbox"
					(selectionChange)="changeHeaderCheckbox($event)">
						<mat-option *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption">
							{{checkboxOption}}
						</mat-option>
					</mat-select>
				</th>
				<!-- @@@PDC-262 link headers to data dictionary -->                
                <th class="ui-datatable-tableheader" style="width:12%;" [pSortableColumn]="cols[0].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Case" target="_blank" style="color:white">Cases Submitter ID</a><p-sortIcon [field]="cols[0].field"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:15%" [pSortableColumn]="cols[1].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Case#gdc_case_id" target="_blank" style="color:white">External Case ID</a><p-sortIcon [field]="cols[1].field"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[2].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#ethnicity" target="_blank" style="color:white">Ethnicity</a><p-sortIcon [field]="cols[2].field"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[3].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#gender" target="_blank" style="color:white">Gender</a><p-sortIcon [field]="cols[3].field"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:6%" [pSortableColumn]="cols[4].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#race" target="_blank" style="color:white">Race</a><p-sortIcon [field]="cols[4].field"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[5].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#morphology" target="_blank" style="color:white">Morphology</a><p-sortIcon [field]="cols[5].field"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:10%" [pSortableColumn]="cols[6].field" pResizableColumn><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#primary_diagnosis" target="_blank" style="color:white">Primary Diagnosis</a><p-sortIcon [field]="cols[6].field"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[7].field">
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#site_of_resection_or_biopsy" target="_blank" style="color:white">
								Site of Resection<br> or Biopsy
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[7].field"></p-sortIcon>
						</div>
					</div>
				</th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[8].field">
					<div class="ui-datatable-tableheader-flex-container">
						<div>
							<a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tissue_or_organ_of_origin" target="_blank" style="color:white">
								Tissue or <br>Organ of Origin
							</a>
						</div>
						<div class="ui-datatable-tableheader-flex-sorticon">
							<p-sortIcon [field]="cols[8].field"></p-sortIcon>
						</div>
					</div>
				</th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[9].field"><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tumor_grade" target="_blank" style="color:white">Tumor Grade</a><p-sortIcon [field]="cols[9].field"></p-sortIcon></th>
				<th class="ui-datatable-tableheader" style="width:8%" [pSortableColumn]="cols[10].field"><a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tumor_stage" target="_blank" style="color:white">Tumor Stage</a><p-sortIcon [field]="cols[10].field"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clinicalData>
            <tr style="font-size: 11px;" [pSelectableRow]="clinicalData" >
				<td style="width:6%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><p-tableCheckbox id="clinicalData{{clinicalData.case_submitter_id}}" [value]="clinicalData"></p-tableCheckbox></td>
				<!-- @@@PDC-462 show submitter id -->                
                <td style="width:15%;word-wrap: break-word; white-space: normal;"><a href="javascript:void(0);" (click)="showCaseSummary(clinicalData.case_submitter_id)">{{clinicalData.case_submitter_id }}</a>&nbsp;&nbsp;<span style='color:red' *ngIf="clinicalData.status == 'Disqualified'">{{clinicalData.status}}</span></td>
                <td style="width:12%;word-wrap: break-word; white-space: normal;text-align: center"><a [href]="fetchUrl(clinicalData.external_case_id)" target="_blank"><img [src]="getIcon(clinicalData.external_case_id)">{{displayTextforExternalID(clinicalData.external_case_id)}}</a></td>
                <td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.ethnicity}}</td>
                <td style="width:6%;word-wrap: break-word; white-space: normal;">{{clinicalData.gender}}</td>
				<td style="width:6%;word-wrap: break-word; white-space: normal;">{{clinicalData.race}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.morphology}}</td>
				<td style="width:10%;word-wrap: break-word; white-space: normal;">{{clinicalData.primary_diagnosis}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.site_of_resection_or_biopsy}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.tissue_or_organ_of_origin}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.tumor_grade}}</td>
				<td style="width:8%;word-wrap: break-word; white-space: normal;">{{clinicalData.tumor_stage}}</td>
            </tr>
        </ng-template>
		<p-paginator rows="10" totalRecords="120"></p-paginator> 
      </p-table>
      <br>
    </div>
