<mat-toolbar>
    <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>    
    <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>    
</mat-toolbar>
<div class="row" style="font:Lato; margin-top:-75px!important; margin-left:20px; margin-right: 20px; align-items: center;" >
<mat-card class="about-page card card-body">
        <mat-card-content>
        <div class="row">
            <div class="col-md-6" style="margin-right: 7%">
            <h4>How to submit data:</h4>
            <ol>
                <li><b>Register your Program Name:</b><br><br><p>If you are a PI or program manager, please contact us at nci.pdc.help@esacinc.com to initiate the registration process. Once approved by the NCI, we will set up a program for you to which you may submit data. </p></li>
                <li><b>Register with PDC</b><br><br><p>Go to <a href="https://pdc.esacinc.com" target="_blank">https://pdc.esacinc.com</a> and click login in the top right corner. You may use a Google or eRA commons account, or NIH email to register with PDC. If you do not have any of these, you may create an account by clicking ‘Click here to sign up’ and by following the instructions. You will receive an email; click the provided link to confirm your registration. </p><br><br>
                    <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/W-Register.png" alt="Register with PDC"></div>
                </li>   
                <li><b>Register on the PDC workspace as a data submitter for a Program:</b><br><br>         
                    <p>Return to <a href="https://pdc.esacinc.com" target="_blank">https://pdc.esacinc.com</a> and click ‘SUBMIT DATA’. In the dialog box, start typing the program name and select the relevant program from the drop-down list. Click submit and you will receive an email confirmation for your request. You will receive another email once the request for membership to the program is approved. </p><br><br>
                    <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/W-Register-2.png" alt="Register with PDC"></div>
                </li>
                <li><b>Login to the PDC Workspace:</b><br><br> 
                    <p>Return to <a href="https://pdc.esacinc.com" target="_blank">https://pdc.esacinc.com</a>, click ‘SUBMIT DATA’, and login with your registered credentials. You will see a screen displaying something like this:</p><br><br>
                    <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/pdcLogin.png" alt="Login to PDC"></div>
                </li>
                <li><b>Submission process:</b><br><br> 
                    <p>Now you are ready to begin the submission process.</p>
                    <p>If you have not done so already, you should first request program membership or creation. Next, you can either create a project or an instrument. These steps have no prerequisites other than belonging to a program with mass spectrometers.  We recommend that you follow the steps in the order given in the Submission Overview at the top of this document. Registering an instrument will let you upload raw files from that instrument, after it has been approved by the PI. Once you have created a project and have uploaded raw data to the Workspace cloud, you should next create the Protocol used for your Study.</p>
                    <p>Finally, you can create Studies (experiments) and organize them into your created Projects. You can't create a study (experiment) without linking the study to a Project.</p>
                    <p>A Study is a group of instrument raw files that are acquired using a specific experimental Protocol.  Study metadata (e.g., TMT channel to sample mappings) and well-annotated study and experimental design (e.g., sample to file mappings) are also combined to create a Study.  A Study is typically analyzed through a single bioinformatics pipeline.</p>
                    <p>The PDC Workspace accepts files with the “.raw”, “.d”; “.wiff”; “.wiff.scan”; “.wiff.mtd”; “.dat”; “.mis”. These files are produced directly on the mass spectrometer acquisition computer and are typically in proprietary formats.</p>
                    <p>You must be an assigned instrument operator to upload data to an instrument.  If you are not, you must first be added as an Operator to the instrument.</p>
                    <ol>
                        <li><b>Create an instrument:</b><br><br><p>An instrument is an instance of the mass spectrometer from your lab. Go to create, click instrument, and enter the relevant information about the mass spectrometer from your lab. If you are a program member, you will receive an email once approved by PDC admin or the program lead (PI).</p><br><br>
                            <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/createInstrument.png" alt="Login to PDC"></div>
                        <br></li>
                        <li><b>Upload raw files:</b><br><br><p>Click upload, and in the dialog requesting information, select the instrument you previously created. You can upload directly from your local computer or from the cloud - AWS S3.</p><br><br>
                                <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/updateRawfiles.png" alt="Login to PDC"></div>
                            <p>Tip: You may create a separate instrument for each study that you would like to create, even if all of those files are generated from the same mass spectrometer. </p>
                        <br></li>
                        <li><b>Create a Project:</b><br><br>
                            <p>You can create a Study or add your Protocol, you first need to create a Project.  Click Create->Project to open the wizard.  Next, give your Project a name, select a Program and area of Research.  You may also add collaborators to your project using the Sharing tab.</p><br><br>
                            <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/createProject.png" alt="Create a project"></div>
                        <br></li>
                        <li><b>Create a Protocol:</b><br><br>
                            <p>You will add the Protocol metadata use in your Study.  Click Add->Protocol to open the wizard.  Only metadata with * are required.  If you feel that the wizard does not adequately meet your annotation needs for your particular Protocol, please contact the PDC by email for help resolving any issues.</p><br><br>
                            <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/createProtocol.png" alt="Create a project"></div>
                        <br></li>
                        <li><b>Create a Study:</b><br><br>
                            <p>Finally, a Study can be created, linking your files to a Protocol, Project, and Program.  In the PDC workspace, a study is a group of instrument raw files that are generated using a specific experimental protocol, with well annotated experimental design (sample to file mapping) that can be analyzed through a single bioinformatics pipeline.</p>
                            <p>In order to create a study, you have already connected the raw files with the Protocol and added additional metadata data about the experimental design.  To create the Study, click Create->Study to launch the wizard.  In any wizard steps requiring you to enter data in tabular form, you may cut-and-paste from spreadsheets.</p><br><br>
                            <div style="text-align:center"><img mat-card-image style="align-content: center" src="assets/createStudy.png" alt="Create a project"></div>
                            <p><b>This completes the process of submission of a dataset for release through PDC data portal.  If you have any questions about this process, please contact the PDC by email for help (<a href="mailto:nci.pdc.help@esacinc.com" target="_blank">nci.pdc.help@esacinc.com</a>).</b></p>
                        <br></li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="col-md-5" class="sticky-nav fixed-class">
            <h4 id="architectureHeading">PDC Workspace Data Submission Overview</h4>
            <img id="submitDataArchitectureimg" mat-card-image src="assets/SubmitDataArchitecture.png" alt="PDC Workspace Architecture diagram">
        </div>
    </div>
    </mat-card-content>
 </mat-card>
</div>
