.gene-summary .card-header {
  font-family: 'Lato';
  font-weight: 400;
  padding-left: 10px;
  padding-right: 0px;
  font-size: 20px;
  background:#ffffff;
  border: 0px;
  padding-bottom: 0px;
  color: #585858;
}
.gene-summary .mat-mdc-card-title{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
}

.ui-datatable-tableheader {
    background-color: #3A8BAF !important;
    border:0px !important;
    color: white !important;
}

.ui-datatable-odd {
    background-color: rgb(225, 239, 252);
}

.data-categories-table{
	padding: 0 !important;
}

.table-striped > tbody >  tr:nth-of-type(even){
	background-color: rgb(225, 239, 252);
}

.summary-card-name-left-cell {
	word-wrap:break-word;
	white-space:normal;
	padding-right:20px;
	padding-bottom: 3px;
	text-align: right;
}

.summary-card-value-left-cell {
	word-wrap:break-word !important;
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px;
	padding-left:10px;
	text-align: left;
	border-right: 1px solid #ddd;
}

.summary-card-name-right-cell {
	word-wrap:break-word;
	white-space:normal;
	padding-bottom: 3px;
	padding-right:20px;
	padding-left:10px;
	text-align: right;
}

.summary-card-value-right-cell {
	word-wrap:break-word !important;
	white-space:normal;
	padding-bottom: 3px;
	padding-right:10px;
	text-align: left;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px
}

::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #a4bdcb
}
::-webkit-scrollbar-thumb{
	background: #245571;
}

//@@@PDC-461 Make all summary dialog windows headers sticky
.container-fluid {
	//position:absolute;
	top:6.5em;
	bottom:3em;
	//overflow-y:auto;
	//width:78%;
}

//@@@PDC-687: Add tool tip to gene summary page and also reorder the columns in the aliquot table
#aliquotRecordTable th,  #aliquotRecordTable td{
	cursor: pointer;
}

//@@@PDC-957 reduce whitespace in the overlay window
::ng-deep .cdk-overlay-pane {
	height: max-content!important;
	width: max-content!important;
}

::ng-deep .table-striped tbody tr:nth-of-type(odd) {
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%) !important;
}

:host ::ng-deep .ui-table-unfrozen-view .ui-table-thead th,
:host ::ng-deep .ui-table-unfrozen-view .ui-table-tbody td  {
	width: 100px !important;
	min-width: 100px !important;
	max-width: 100px !important;
}

//@@@PDC-4995: Alignment issues
:host ::ng-deep .ui-table-unfrozen-view .ui-table-scrollable-header-box {
	padding-right: 17px !important;
}

:host ::ng-deep .mat-dialog-container {
  max-width: 80vw !important;
  width: 80vw !important;
  min-width: 600px;
  padding: 32px;
  box-sizing: border-box;
}

/* Optional: match study-summary look */
:host ::ng-deep .mat-dialog-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.18);
}
  ::ng-deep .mat-dialog-container {
  width: 75vw !important;
  max-width: 75vw !important;
  min-width: 75vw !important;
  margin: 2.5vh auto !important;
  padding: 0 !important;
}


::ng-deep .cdk-overlay-pane {
  width: 75vw !important;
  max-width: 75vw !important;
}

::ng-deep .mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 90vh !important;
  overflow-y: auto !important;
}

::ng-deep .mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}


::ng-deep .mat-dialog-title,
::ng-deep h2[mat-dialog-title] {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}