.researcherType-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0;
    margin-left: 170px;
  }

   /* @@@PDC-1280: Update the "Join PDC" modal displayed after a user logins through NIH account */
  .nihLoginModal {
    margin-left: 20%;
  }

  .nihLabel1 {
    font-weight: bold;
    font-size: 18px;
  }