<div class="nci-hero" data-eddl-landing-item="hero" style="position: relative; padding: 0px; margin-top: 0px; background-image: url('/assets/images/homepagebg.png'); background-size: 100% auto; background-position: center top; background-repeat: no-repeat; min-height: fit-content;">
  <div class="nci-hero__content" style="position: relative; z-index: 1; padding: 15px; margin-top: 0px;">
    <div class="grid-container flex flex-col lg:flex-row gap-5 w-full" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="flex flex-col gap-4 w-full lg:w-1/2">
        <span class="nci-heading-h1" style="color: #606062;margin-top:15px;"><strong>Discover the Proteomic Data Commons (PDC)</strong></span>
        <span class="usa-prose" style="color: #01679D;font-size:22.24px;margin-top:5px;">
                <strong>
                  Open access to harmonized cancer proteomic data,
                  with visual connections and cross-references to genomic and imaging resources,
                  helping researchers make multi-omic discoveries.
                </strong>
              </span>
        <a class="nci-hero__cta-button usa-button" href="/pdc/browse" style="width:200px;">
          Explore Data
        </a>
      </div>
      <div class="flex flex-col gap-4 w-full lg:w-1/2 ">
        <app-human-body-chart class="max-w-full"></app-human-body-chart>
      </div>
    </div>
  </div>
</div>





