.bottom-navbar-links {
  font-family: 'Lato';
  background-color: #00314b !important;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title-center {
  margin: 0 auto;
}
