<!-- PDC-9906-redesign updates-->
<footer class="usa-footer usa-footer--nci-big" id="nci-footer" aria-label="NCI big footer example">
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <div class="usa-footer__primary-link">About</div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="/pdc/about">About PDC</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="/pdc/data-use-guidelines">Data Use</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <div class="usa-footer__primary-link">Resources</div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="mailto:PDCHelpDesk@mail.nih.gov">Contact Us</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="/pdc/publications">Publications</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="/pdc/data-dictionary">PDC Data Dictionary</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <div class="usa-footer__primary-link">Policies</div>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="https://www.cancer.gov/policies/accessibility">Accessibility</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="https://www.cancer.gov/policies/foia">FOIA</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="javascript:void(0)" (click)="viewPrivacyPolicy()">Privacy &amp; Security</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="https://www.cancer.gov/policies/disclaimer">Disclaimers</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">Vulnerability
                        Disclosure</a>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row desktop:grid-col-5">
          <div class="mobile-lg:grid-col-auto mobile-lg:margin-bottom-3">
            <p class="usa-footer__logo-heading">
              <span class="logo__agency-name">National Cancer Institute</span>
              <span class="logo__parent-organization">at the National Institute of Health</span>
            </p>
          </div>
        </div>

        <div class="usa-footer__contact-links mobile-lg:grid-col-7">
          <div class="usa-footer__contact-heading">Contact Us</div>
          <div class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="tablet:grid-col-auto">
                <a href="mailto:PDCHelpDesk@mail.nih.gov?Subject=PDC Help">PDCHelpDesk&#64;mail.nih.gov</a>
              </div>
              <div class="tablet:grid-col-auto">
                <a class="no-exit-notification" href="https://nci.az1.qualtrics.com/jfe/form/SV_aeLLobt6ZeGVn5I"
                   target="_blank">Site Feedback</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="grid-row grid-gap">
        <div class="usa-footer__social-links desktop:grid-col-5">


        </div>
        <div class="usa-footer__contact-links desktop:grid-col-7">
          <div class="usa-footer__address height-full">
            <div class="usa-footer__contact-info grid-row grid-gap height-full">
              <address>
                <a href="https://www.hhs.gov/">
                  U.S. Department of Health and Human Services
                </a>
                <a href="https://www.nih.gov/"> National Institutes of Health </a>
                <a href="https://www.cancer.gov/"> National Cancer Institute </a>
                <a href="https://usa.gov/">USA.gov</a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <mat-toolbar-row class="mat-toolbar-row bottom-navbar-links title-center" style="height: 35px; font-size: 12px !important;"> Build Tag: {{releaseVersionsData.build_tag}}, Data Release: {{releaseVersionsData.data_release}} </mat-toolbar-row>
  </div>
  <div class="usa-footer__nci-return-to-top show" aria-label="Back to Top">
    <a href="#top"><span>Back to Top</span></a>
  </div>

</footer>


