.bottom-navbar-links {
    font-family: 'Lato';
    background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%);
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title-center {
   margin: 0 auto;
}
