{
	"swagger": "2.0",
	"info": {
		"description": "This is a PDC data server. ",
		"version": "1.0.0",
		"title": "PDC API"
	},
	"host": "pdc.host.com",
	"basePath": "/graphql",
	"schemes": [
		"http"
	],
	"paths": {
		"/allPrograms": {
			"get": {
				"summary": "Gets all programs",
				"description": "",
				"operationId": "allPrograms",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Program"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "Program not found"
					}
				}
			}
		},
		"/program": {
			"get": {
				"summary": "Find program by ID",
				"description": "Returns a single program with its projects",
				"operationId": "program",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"name": "programId",
						"in": "path",
						"description": "ID of program to return",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/Program"
						}
					},
					"400": {
						"description": "Invalid ID supplied"
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "Program not found"
					}
				}
			}
		},
		"/gene": {
			"get": {
				"summary": "Get available Projects for a Gene",
				"description": "Returns spectral counts of available projects for a gene",
				"operationId": "gene",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"name": "gene_name_id",
						"in": "path",
						"description": "Name of gene to return",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/Gene"
						}
					},
					"400": {
						"description": "Invalid Name supplied"
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "Gene not found"
					}
				}
			}
		},
		"/protein": {
			"get": {
				"summary": "Get available Projects for a Protein",
				"description": "Returns spectral counts of available projects for a protein",
				"operationId": "protein",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"name": "protein",
						"in": "path",
						"description": "Name of protein to return",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/Gene"
						}
					},
					"400": {
						"description": "Invalid Name supplied"
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "Protein not found"
					}
				}
			}
		}
	},
	"definitions": {
		"Program": {
			"type": "object",
			  "required": [
				"programId",
				"uuid"
			  ],
			"properties": {
				"programId": {
					"type": "string",
					"description": "PK",
				},
				"uuid": {
					"type": "string",
					"description": "unique identifier",
				},
				"name": {
					"type": "string",
					"example": "Clinical Proteomic Tumor Analysis Consortium"
				},
				"sponsor": {
					"type": "string",
					"example": "NCI"
				},
				"startDate": {
					"type": "string",
					"format": "date-time"
				},
				"endDate": {
					"type": "string",
					"format": "date-time"
				},
				"programManager": {
					"type": "string",
					"example": "John Doe"
				},
				"projects": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Project"
					}
				}
			},
			"xml": {
				"name": "Program"
			}
		},
		"Project": {
			"type": "object",
			  "required": [
				"projectId",
				"uuid"
			  ],
			"properties": {
				"projectId": {
					"type": "string",
					"description": "PK",
				},
				"uuid": {
					"type": "string",
					"description": "unique identifier",
				},
				"name": {
					"type": "string",
					"example": "Clinical Proteomic Tumor Analysis Consortium"
				},
				"projectType": {
					"type": "string",
					"example": "Research"
				},
				"program": {
					"$ref": "#/definitions/Program"
				}
			},
			"xml": {
				"name": "Project"
			}
		},
		"Gene": {
			"type": "object",
			  "required": [
				"geneNameId",
				"uuid"
			  ],
			"properties": {
				"geneNameId": {
					"type": "string",
					"description": "PK",
				},
				"uuid": {
					"type": "string",
					"description": "unique identifier",
				},
				"NCBIGeneId": {
					  "type": "integer",
					  "format": "int32"
				},
				"authority": {
					"type": "string",
					"example": "HGNC:5"
				},
				"description": {
					"type": "string",
					"example": "alpha-1-B glycoprotein"
				},
				"organism": {
					"type": "string",
					"example": "Homo sapiens"
				},
				"chromosome": {
					"type": "string",
					"example": "19"
				},
				"locus": {
					"type": "string",
					"example": "19q13.43"
				},
				"protein": {
					"type": "string",
					"example": "M0R009;NP_570602.2;P04217;P04217-2"
				},
				"assays": {
					"type": "string",
					"example": "non-CPTAC-1064"
				},
				"spectralCounts": {
					"$ref": "#/definitions/SpectralCount"
				}
			},
			"xml": {
				"name": "Gene"
			}
		},
		"SpectralCount": {
			"type": "object",
			  "required": [
				"geneNameId",
				"studyId",
				"projectId",
				"uuid"
			  ],
			"properties": {
				"geneNameId": {
					"type": "string",
					"description": "PK",
				},
				"studyId": {
					"type": "string",
					"description": "PK",
				},
				"projectId": {
					"type": "string"
				},
				"uuid": {
					"type": "string",
					"description": "unique identifier",
				},
				"experimentType": {
					"type": "string",
					"example": "TMT10"
				},
				"distinctPeptideCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"sharedPeptideCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"unsharedPeptideCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"distinctPeptidePlexCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"sharedPeptidePlexCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"unsharedPeptidePlexCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"distinctPeptideSampleCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"sharedPeptideSampleCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"unsharedPeptideSampleCount": {
					  "type": "integer",
					  "format": "int32"
				},
				"gene": {
					"$ref": "#/definitions/Gene"
				}
			},
			"xml": {
				"name": "SpectralCount"
			}
		}
	},
	"externalDocs": {
		"description": "Find out more about PDC",
		"url": "http://pdc.com"
	}
}
