<div class="overlayScreen">
    <div class="modal-body">
        NCI Proteomic Data Commons (PDC) is a pilot project aimed to democratize access to cancer-related proteomic datasets as well as to provide sustainable computational support to the cancer research community. 
        We invite you to test the application and provide feedback so we can improve and build a resource that better meets the community needs. 
        <br /><br />Please send us your feedback or comments on any issues you experience at <a href="mailto:nci.pdc.help@esacinc.com" target="_blank">nci.pdc.help@esacinc.com</a>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="acceptDisclaimer()">Continue</button>
    </div>
</div>
