.filters-wrapper{
	background: #254A61;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.24);
	border-radius: 0 0px 0px 0px;
}

$header-height: 128px;
$stateActiveBgColor: #3baae3;

.float-button-right {
  // This fills the remaining space, by using flexbox.
  flex: 1 1 auto;
}

.browse-filter {
	font-family: 'Lato';
	padding-left:0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 0px;
}

.browse-filter .checked-state{
	font-weight: 600;
}

.browse-filter .card-header {
	font-weight: 'regular';
	font-size: 14px;
	background: rgb(120, 167, 192);
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 0px;
	border: 1px;
	color: #000000;
	align-items: center;
}

.browse-filter .card-title {
	font-weight: 'regular';
	font-size: 14px;
//	background: #254A61;
	background: rgb(120, 167, 192);
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 8px;
	border: 0px;
	color: #000000;
}

//@@@PDC-683 - Add Gene Name filter to Gene filter tab with prepopulated genes list
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-select-value-text {
    white-space: pre-wrap!important;
    overflow: scroll!important;
    text-overflow: ellipsis!important;
}
.mat-mdc-select-panel .mat-mdc-option {
	font-size: 12px!important;
    line-height: 2em!important;
    height: 2em!important;
    min-width: 520px!important;
}

.mat-panel-title {
	font-size: 14px;
	font-family: 'Lato';
	background: rgb(120, 167, 192);
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 8px;
	border: 0px;
	color: #000000;
}
 .browse-filter .card-body {
 // background: rgb(149, 190, 212);
	background: #FFFFFF;
	padding-top: 0px;
  	padding-left: 0px;
	padding-bottom: 0px;
	//color: #000000;
	 flex:1 1 auto;
}

//@@@PDC-517 styling filter category title and align with reset button
.browse-filter-title{
	color:white;
	font-weight:600;
	font-size:15px;
	height:40px;
	line-height:40px;
}

.card-list-checkbox-single-ln {
	margin-top: -1.0rem;
	margin-bottom: -1.0rem;
	padding-bottom: 0rem;
	padding-top: -1.0rem;
}

.card-list-checkbox-multi-ln {
	margin-top: -0.8rem;
	margin-bottom: -0.8rem;
	padding-bottom: 0rem;
	padding-top: 0rem;
	height: 40px;
}

.browse-data {
	font-family: 'Lato';
	padding-left:0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 0px;
}

//.side-bar-tabs ::ng-deep.mat-tab-label{
//	min-width: 110px!important;
//	padding: 10px!important;
	//justify-content: left!important;
//   }

::ng-deep .sidenavFiltersPanel .mat-expansion-panel-body {
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}

 ::ng-deep .sidenavFiltersPanel .mat-mdc-list-item {
	padding-right: 0px!important;
	height: 35px!important;
	line-height: 100%;
}

::ng-deep.mat-expansion-indicator {
    position: absolute!important;
	left: 7.5px!important;
  }
//@@@PDC-8279-fix-508-compliance
.mat-expansion-panel > mat-expansion-panel-header, .mat-expansion-panel-header:hover{
      background-color: #387BA8 !important;
      font-weight: bold;
	  padding-right:0px !important;
}

.mat-expansion-panel mat-expansion-panel > mat-expansion-panel-header {
      background-color: #2986cc;
	  padding-right:3px!important;
}

.mat-expansion-panel-header-title{
	margin-right:0px!important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
::ng-deep div.mat-tab-label-content button#clearBiospecimenDataCategory.mat-mdc-icon-button {
		width: 20px;
}

//@@@PDC-4625: Implement the UI-UX changes to the filter sidebar
//@@@PDC-4871: UI-UX changes for stacking filters & improvements to the menu section
::ng-deep {
	/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
	.side-bar-tabs .mat-tab-labels {
		display: block !important;
	}
	/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
	.side-bar-tabs .mat-tab-label {
		padding: 0px !important;
		border: 0.5px solid lightgray !important;
		min-width: 98px !important;
		//box-shadow: rgb(0 0 0 / 20%) 0 3px 1px -2px , rgb(0 0 0 / 14%) 0 2px 2px 0 , rgb(0 0 0 / 12%) 0 1px 5px 0;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .25);;
		border-radius: 4px;
		height: 30px !important;
	}
	/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
	.side-bar-tabs .mat-tab-label-container {
		text-align: center;
	}
	/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
	.side-bar-tabs .mat-tab-label-active {
		//background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
		//background-color: #E8E8E8;
		border-bottom: 2px solid #3F51D4 !important;
		font-weight: 700;
	}

	.side-bar-tabs .mat-mdc-icon-button {
		width: 15px !important;
	}

	.side-bar-tabs .mat-mdc-icon-button i {
		line-height: 20px;
		font-size: 12px;
	}

	.sideBarNavigation .mat-expansion-panel-body {
		padding: 5px !important;
	}

	.sidenavFiltersPanel .selectedFilterDiv {
		background-color: #E8E8E8;
	}

	.card-list div {
		font-size: 14px !important;
	}

	.side-bar-tabs .mat-ink-bar {
		visibility: hidden !important;
	}

	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
		/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
		.side-bar-tabs .mat-tab-label-active {
			font-weight: 500 !important;
		}
	}}
	/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
	.side-bar-tabs .mat-tab-header-pagination.mat-tab-header-pagination-disabled,
	.side-bar-tabs .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    	display: none !important;
	}
}

.select-gene {
	border: 1px solid rgb(118, 118, 118);
	width: 97%;
}

.filter-section {
	max-height: 550px;
	overflow-y: auto;
}

.browse-filter-clear {
	font-size: 13px !important;
	//margin-right: 10%;
	width: 30% !important;
}

.invalidGeneBreadCrumb {
	padding: 4px;
	background-color: gray;
}

.invalidGeneBreadCrumbs, .validButNotInPDCStudyGeneBreadCrumbs {
	margin-bottom: 10px;
}

.invalidGenes {
	display: inline-block;
	margin-bottom: 10px;
}

::ng-deep {
	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

		.safari_only {
		height: 67px !important;

		}
	}}
}

//@@PDC-8723 - updates to new study filter search box icon and clear button position
  .search-wrapper {
	position: relative;
	display: flex;
	align-items: center;
  }

  .search-icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2em;
	color: lightgrey;
  }

  .search-input {
	padding-left: 30px; // Adjust padding to make space for the icon
	padding-right: 30px; // Adjust padding to make space for the clear button
	width: 100%;
  }

  .search-clear-button {
	position: absolute;
	right: 10px;
	top: 75%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
  }

  /* @@@@PDC-8961 - fix gene filter display issues
  ::ng-deep.mat-select-arrow {
	//display: none;
  }

  ::ng-deep.mat-select-value-text {
   // display: none !important;

  }
  */

  .mat-mdc-list-item {
	height: auto !important;
	font-size: 14px !important;
  }

/* Simple alignment for all plus and minus signs */
.fa-plus,
.fa-minus {
    width: 16px !important;
    text-align: center !important;
    font-size: 14px !important;
    display: inline-block !important;
}

/* Ensure all toggle buttons have consistent styling */
button[aria-label*="Toggle"] {
    width: 20px !important;
    height: 20px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

// Remove outline from flex items-center ng-star-inserted elements
.flex.items-center.ng-star-inserted {
    outline: none !important;
}

.flex.items-center.ng-star-inserted:focus {
    outline: none !important;
}

// Custom tooltip styling - grey text, white background, outlined rectangle
.mat-mdc-tooltip {
    background-color: white !important;
    color: #666666 !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
    font-size: 12px !important;
    padding: 8px 12px !important;
}

// Fix for the misaligned box - target the cdk-overlay-pane specifically for tooltips only
::ng-deep .cdk-overlay-container .cdk-overlay-pane:has(.mat-tooltip-panel),
::ng-deep .cdk-overlay-container .cdk-overlay-pane:has(.mat-mdc-tooltip) {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
