<mat-card-header class="browse-filter" style="background: #254A61; line-height:2">
    <span class="float-button-left" style="color:white; font-family: Lato; font-size: 20px">
    <img width="20px" height="20px" src="./assets/css/images/Triangle.png" alt="Filters"/>
          &nbsp; FILTERS
    </span>
	<div *ngIf="loading"><i class="pi pi-spin pi-spinner" style="font-size: 3em; color:white"></i></div>
	<span class="float-button-right"></span>
    <button mat-icon-button mat-primary label="Undo" id="clearAllSelections" class="browse-filter-clear" (click)="clearAllSelections()" matTooltip="Clear all selection"
        *ngIf="selectedProjects.length > 0 || selectedPrograms.length > 0 || selectedPrimarySites.length > 0 || selectedDiseases.length > 0 ||
		selectedAnFracs.length > 0 || selectedExpStarts.length > 0 || selectedAcquisitions.length > 0 || selectedStudyFilter.length > 0 ||
		selectedSampleType.length > 0 || selectedEthnicity.length > 0 || selectedRace.length > 0 || selectedGender.length > 0 || selectedTumorGrade.length > 0 " style="color:white">
    <span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
    </mat-card-header>
    <mat-tab-group animationDuration="0ms" class='side-bar-tabs gene-page' [selectedIndex]="selectedTab < 5 ? selectedTab : 0" >
      <mat-tab>
        <ng-template mat-tab-label>
            General
            <span class="float-button-right"></span>
            <button mat-icon-button mat-primary label="Undo" id="clearGeneralSelections" (click)="clearAllGeneralSelections()" matTooltip="Clear all General selection"
            *ngIf="selectedProjects.length > 0 || selectedPrograms.length > 0 || selectedPrimarySites.length > 0 || selectedDiseases.length > 0 || selectedAnFracs.length > 0 || selectedExpStarts.length > 0 || selectedAcquisitions.length > 0" >
            <i class="fa fa-undo"></i></button>
        </ng-template>
        <!-- <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
        <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
          <mat-panel-title>
          <a href="{{staticUrlBase}}dictionaryitem.html?eName=Project" target="_blank" class="browse-filter-title">Project</a>
          <span class="float-button-right"></span>
          <button mat-icon-button mat-primary class="browse-filter-title" id="clearProjectSelections" *ngIf="selectedProjects.length > 0"  label="Undo" (click)="clearSelectionsProjects()" matTooltip="Clear projects selection"><i class="fa fa-undo"></i></button>
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="projectFiltersList">
            <div *ngFor="let project of projectsFilter" class="browse-filter" >
            <label><mat-list-item [ngStyle]="getStyleForCheckbox(project.filterName, selectedProjects)" >
              <p-checkbox name="group1" id="group1{{project.filterName}}"
                value={{project.filterName}}
                [(ngModel)]="selectedProjects"
                [disabled]="project.filterCount == 0"
                (onChange)="filterDataByProject($event)">
              </p-checkbox> &nbsp; &nbsp;
            <div [ngStyle]="getStyleForCheckbox(project.filterName, selectedProjects)">
              {{project.filterName}} ({{project.filterCount}} {{project.filterCount > 1 ? 'Studies' : 'Study'}})
            </div>
            </mat-list-item></label>
          </div>
          </mat-list>
        </mat-expansion-panel> -->

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                  <!-- @@@PDC-4978 update links to migrated documentation pages -->
                  <a href="/pdc/data-dictionary/Case#primary_site" class="browse-filter-title" target="_blank" >Primary Site</a>
                  <!-- @@@PDC-320 -->
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearPrimarysites" *ngIf="selectedPrimarySites.length > 0" label="Undo" (click)="clearSelectionsPrimarySite()" matTooltip="Clear primary sites selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="filter-section">
                <mat-list class="card-body card-list" id="primarySiteList">
                    <div *ngIf="primarySitesFilter.length > 10;then primarySitesContent else primarySitesContent"></div>
                    <ng-template #primarySitesContent>
                      <div *ngFor="let prim_site of primarySitesFilter, let i = index" class="browse-filter" [ngClass]="selectedPrimarySites.indexOf(prim_site.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{prim_site.filterName}}-primSite">
                          <div *ngIf="i<10;then primarySitesInnerContent" class="browse-filter"></div>
                          <div *ngIf="primarySitesFilter.length > 10 && showPSite && i >= 10; then primarySitesInnerContent" class="browse-filter"></div>
                          <ng-template #primarySitesInnerContent><label><mat-list-item  [ngStyle]="getStyleForCheckbox(prim_site.filterName, selectedPrimarySites)" >
                            <p-checkbox name="group2" id="group2{{prim_site.filterName}}"
                                  value={{prim_site.filterName}}
                                  [(ngModel)]="selectedPrimarySites"
                                  [disabled]="prim_site.filterCount == 0"
                                  (onChange)="filterDataByPrimarySite($event, '-primSite', i)">
                              </p-checkbox> &nbsp; &nbsp;
                              <div [ngStyle]="getStyleForCheckbox(prim_site.filterName, selectedPrimarySites)">
                                  {{prim_site.filterName}} ({{prim_site.filterCount}} {{prim_site.filterCount > 1 ? 'Studies' : 'Study'}})
                              </div>
                        </mat-list-item></label></ng-template>
                        <div *ngIf="primarySitesFilter.length > 10 && !showPSite && i==10" (click)="showMoreOrLess('primary_site')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            {{primarySitesFilter.length - 10 }} More...
                        </div>
                        <div *ngIf="primarySitesFilter.length > 10 && showPSite && i==primarySitesFilter.length - 1" (click)="showMoreOrLess('primary_site')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            Less...
                        </div>
                      </div>
                  </ng-template>
                </mat-list>
              </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                  <a href="/pdc/data-dictionary/Program" class="browse-filter-title" target="_blank">Program</a>
                    <!-- @@@PDC-320 -->
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearPrograms" *ngIf="selectedPrograms.length > 0" label="Undo" (click)="clearSelectionsPrograms()" matTooltip="Clear programs selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="filter-section">
                <mat-list class="card-body card-list" id="programsList">
                    <div *ngIf="programsFilter.length > 10;then programContent else programContent"></div>
                    <ng-template #programContent>
                    <div *ngFor="let program of programsFilter, let i = index" class="browse-filter" [ngClass]="selectedPrograms.indexOf(program.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{program.filterName}}-program">
                    <div *ngIf="i<10;then programInnerContent" class="browse-filter"></div>
                    <div *ngIf="programsFilter.length > 10 && showProgram && i >= 10; then programInnerContent" class="browse-filter"></div>
                    <ng-template #programInnerContent><label><mat-list-item  [ngStyle]="getStyleForCheckbox(program.filterName, selectedPrograms)">
                      <p-checkbox name="group3" id="group3{{program.filterName}}"
                            value={{program.filterName}}
                            [(ngModel)]="selectedPrograms"
              [disabled]="program.filterCount == 0"
                            (onChange)="filterDataByProgram($event, '-program', i)">
                        </p-checkbox> &nbsp; &nbsp;
                          <div [ngStyle]="getStyleForCheckbox(program.filterName, selectedPrograms)">
                            {{program.filterName}} ({{program.filterCount}} {{program.filterCount > 1 ? 'Studies' : 'Study'}})
                          </div>
                      </mat-list-item></label></ng-template>
                      <div *ngIf="programsFilter.length > 10 && !showProgram && i==10" (click)="showMoreOrLess('program_name')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                          {{programsFilter.length - 10 }} More...
                      </div>
                      <div *ngIf="programsFilter.length > 10 && showProgram && i==programsFilter.length - 1" (click)="showMoreOrLess('program_name')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                          Less...
                      </div>
                    </div>
                  </ng-template>
                </mat-list>
              </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <a href="/pdc/data-dictionary/Case#disease_type" class="browse-filter-title" target="_blank">Disease Type</a>
                    <!-- @@@PDC-320 -->
                    <span class="float-button-right"></span>
                    <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearDiseaseTypes" *ngIf="selectedDiseases.length > 0" label="Undo" (click)="clearSelectionsDiseaseType()" matTooltip="Clear disease types selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="filter-section">
                <mat-list class="card-body card-list" id="diseaseTypeList">
                    <div *ngIf="diseaseTypesFilter.length > 10;then diseaseTypesContent else diseaseTypesContent"></div>
                    <ng-template #diseaseTypesContent>
                    <div *ngFor="let disease of diseaseTypesFilter, let i = index" class="browse-filter" [ngClass]="selectedDiseases.indexOf(disease.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{disease.filterName}}-diseaseType">
                    <div *ngIf="i<10;then diseaseTypesInnerContent" class="browse-filter"></div>
                    <div *ngIf="diseaseTypesFilter.length > 10 && showDType && i >= 10; then diseaseTypesInnerContent" class="browse-filter"></div>
                    <ng-template #diseaseTypesInnerContent><label><mat-list-item  [ngStyle]="getStyleForCheckbox(disease.filterName, selectedDiseases)">
                          <p-checkbox name="group4" id="group4{{disease.filterName}}"
                                value={{disease.filterName}}
                                [(ngModel)]="selectedDiseases"
                  [disabled]="disease.filterCount == 0"
                                (onChange)="filterDataByDiseaseType($event, '-diseaseType', i)">
                            </p-checkbox> &nbsp; &nbsp;
                              <div [ngStyle]="getStyleForCheckbox(disease.filterName, selectedDiseases)">
                                {{disease.filterName}} ({{disease.filterCount}} {{disease.filterCount > 1 ? 'Studies' : 'Study'}})
                              </div>
                      </mat-list-item></label></ng-template>
                      <div *ngIf="diseaseTypesFilter.length > 10 && !showDType && i==10" (click)="showMoreOrLess('disease_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                          {{diseaseTypesFilter.length - 10 }} More...
                      </div>
                      <div *ngIf="diseaseTypesFilter.length > 10 && showDType && i==diseaseTypesFilter.length - 1" (click)="showMoreOrLess('disease_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                          Less...
                      </div>
                    </div>
                  </ng-template>
                </mat-list>
              </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <a href="/pdc/data-dictionary/Study#analytical_fraction" class="browse-filter-title" target="_blank">Analytical Fraction</a>
                    <!-- @@@PDC-320 -->
                    <span class="float-button-right"></span>
                    <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearAnalyticalFractions" *ngIf="selectedAnFracs.length > 0" label="Undo" (click)="clearSelectionsAnalyticalFraction()" matTooltip="Clear analytical fractions selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="filter-section">
                <mat-list class="card-body card-list" id="analyticalFractionList">
                    <div *ngIf="analyticalFractionsFilter.length > 10;then analyticalFractionContent else analyticalFractionContent"></div>
                    <ng-template #analyticalFractionContent>
                    <div *ngFor="let an_frac of analyticalFractionsFilter, let i = index" class="browse-filter" [ngClass]="selectedAnFracs.indexOf(an_frac.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{an_frac.filterName}}-anFrac">
                    <div *ngIf="i<10;then analyticalFractionsInnerContent" class="browse-filter"></div>
                    <div *ngIf="analyticalFractionsFilter.length > 10 && showAFraction && i >= 10; then analyticalFractionsInnerContent" class="browse-filter"></div>
                    <ng-template #analyticalFractionsInnerContent><label><mat-list-item  [ngStyle]="getStyleForCheckbox(an_frac.filterName, selectedAnFracs)">
                      <p-checkbox name="group5" id="group5{{an_frac.filterName}}"
                                  value={{an_frac.filterName}}

                                  [(ngModel)]="selectedAnFracs"
                  [disabled]="an_frac.filterCount == 0"
                                  (onChange)="filterDataByAnalyticalFraction($event, '-anFrac', i)">
                              </p-checkbox> &nbsp; &nbsp;
                                <div [ngStyle]="getStyleForCheckbox(an_frac.filterName, selectedAnFracs)">
                                  {{an_frac.filterName}} ({{an_frac.filterCount}} {{an_frac.filterCount > 1 ? 'Studies' : 'Study'}})
                                </div>
                        </mat-list-item></label></ng-template>
                        <div *ngIf="analyticalFractionsFilter.length > 10 && !showAFraction && i==10" (click)="showMoreOrLess('analytical_fraction')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            {{analyticalFractionsFilter.length - 10 }} More...
                        </div>
                        <div *ngIf="analyticalFractionsFilter.length > 10 && showAFraction && i==analyticalFractionsFilter.length - 1" (click)="showMoreOrLess('analytical_fraction')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            Less...
                        </div>
                    </div>
                    </ng-template>
                  </mat-list>
              </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <a href="/pdc/data-dictionary/Study#experiment_type" class="browse-filter-title" target="_blank">Experiment Type</a>
                    <!-- @@@PDC-320 -->
                    <span class="float-button-right"></span>
                    <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="experimentTypes" *ngIf="selectedExpStarts.length > 0" label="Undo" (click)="clearSelectionsExperimentalStrategy()" matTooltip="Clear experiment types selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="filter-section">
                <mat-list class="card-body card-list" id="experimentTypeList">
                    <div *ngIf="experimentalStrategiesFilter.length > 10;then experimentalStrategiesContent else experimentalStrategiesContent"></div>
                    <ng-template #experimentalStrategiesContent>
                    <div *ngFor="let exp_start of experimentalStrategiesFilter, let i = index" class="browse-filter" [ngClass]="selectedExpStarts.indexOf(exp_start.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{exp_start.filterName}}-expStrategy">
                      <div *ngIf="i<10;then experimentalStrategiesInnerContent" class="browse-filter"></div>
                      <div *ngIf="experimentalStrategiesFilter.length > 10 && showExpType && i >= 10; then experimentalStrategiesInnerContent" class="browse-filter"></div>
                      <ng-template #experimentalStrategiesInnerContent><label><mat-list-item  [ngStyle]="getStyleForCheckbox(exp_start.filterName, selectedExpStarts)">
                      <p-checkbox name="group6" id="group6{{exp_start.filterName}}"
                              value={{exp_start.filterName}}
                              [(ngModel)]="selectedExpStarts"
                  [disabled]="exp_start.filterCount == 0"
                              (onChange)="filterDataByExperimentalStrategy($event, '-expStrategy', i)">
                          </p-checkbox> &nbsp; &nbsp;
                          <div [ngStyle]="getStyleForCheckbox(exp_start.filterName, selectedExpStarts)">
                            {{exp_start.filterName}} ({{exp_start.filterCount}} {{exp_start.filterCount > 1 ? 'Studies' : 'Study'}})
                          </div>
                        </mat-list-item></label></ng-template>
                        <div *ngIf="experimentalStrategiesFilter.length > 10 && !showExpType && i==10" (click)="showMoreOrLess('experiment_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            {{experimentalStrategiesFilter.length - 10 }} More...
                        </div>
                        <div *ngIf="experimentalStrategiesFilter.length > 10 && showExpType && i==experimentalStrategiesFilter.length - 1" (click)="showMoreOrLess('experiment_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            Less...
                        </div>
                      </div>
                      </ng-template>
                    </mat-list>
                  </div>
        </mat-expansion-panel>

		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
            <mat-panel-title>
              <a href="/pdc/data-dictionary/Study#acquisition_type" class="browse-filter-title" target="_blank">Acquisition
                Type</a>
              <!-- @@@PDC-320 -->
              <span class="float-button-right"></span>
              <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="experimentTypes" *ngIf="selectedAcquisitions.length > 0"
                label="Undo" (click)="clearSelectionsAcquisitions()" matTooltip="Clear acquisition types selection">
                <span>CLEAR&nbsp;</span><i class="fa fa-undo"></i>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="filter-section">
            <mat-list class="card-body card-list" id="experimentTypeList">
              <div *ngIf="acquisitionFilter.length > 10;then acquisitionFilterContent else acquisitionFilterContent"></div>
              <ng-template #acquisitionFilterContent>
              <div *ngFor="let acq_start of acquisitionFilter, let i = index" class="browse-filter" [ngClass]="selectedAcquisitions.indexOf(acq_start.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{acq_start.filterName}}-acqType">
              <div *ngIf="i<10;then acquisitionFilterInnerContent" class="browse-filter"></div>
              <div *ngIf="acquisitionFilter.length > 10 && showAcqType && i >= 10; then acquisitionFilterInnerContent" class="browse-filter"></div>
              <ng-template #acquisitionFilterInnerContent><label><mat-list-item [ngStyle]="getStyleForCheckbox(acq_start.filterName, selectedAcquisitions)">
                  <p-checkbox name="group6" id="group6{{acq_start.filterName}}" value={{acq_start.filterName}} [(ngModel)]="selectedAcquisitions"
                    [disabled]="acq_start.filterCount == 0" (onChange)="filterDataByAcquisition($event, '-acqType', i)">
                  </p-checkbox> &nbsp; &nbsp;
                  <div [ngStyle]="getStyleForCheckbox(acq_start.filterName, selectedAcquisitions)">
                    {{acq_start.filterName}} ({{acq_start.filterCount}} {{acq_start.filterCount > 1 ? 'Studies' : 'Study'}})
                  </div>
                </mat-list-item></label></ng-template>
                <div *ngIf="acquisitionFilter.length > 10 && !showAcqType && i==10" (click)="showMoreOrLess('acquisition_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                    {{acquisitionFilter.length - 10 }} More...
                </div>
                <div *ngIf="acquisitionFilter.length > 10 && showAcqType && i==acquisitionFilter.length - 1" (click)="showMoreOrLess('acquisition_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                    Less...
                </div>
              </div>
              </ng-template>
            </mat-list>
        </div>
        </mat-expansion-panel>
      </mat-tab>
	  <!--PDC-567-->
	  <mat-tab >
          <ng-template mat-tab-label>
              Biospecimen
              <button mat-icon-button mat-primary label="Undo" id="clearBioscpecimenDataCategory" (click)="clearAllBiospecimenSelections()" matTooltip="Clear all Biospecimen selections"
              *ngIf="selectedStudyFilter.length > 0 || selectedSampleType.length > 0" >
              <i class="fa fa-undo"></i></button>
          </ng-template>
		  <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
              <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                  <span class="browse-filter-title float-button-left">
                    <a href="/pdc/data-dictionary/Study" target="_blank" class="browse-filter-title">Study</a>
                  </span>
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title" id="clearStudyFilterSelections" *ngIf="selectedStudyFilter.length > 0" label="Undo" (click)="clearSelectionsStudyID()" matTooltip="Clear studies selection"><i class="fa fa-undo"></i></button>
                  </mat-panel-title>
                </mat-expansion-panel-header>
				<mat-select placeholder="Select one or more studies" class="card-body card-list" [(ngModel)]="selectedStudyFilter"  (selectionChange)="filterDataByStudy($event)" style="border: 1px solid #767676" multiple>
					<mat-option *ngFor="let study of studyFilter" [value]="study.filterName">
						{{study.filterName}}
					</mat-option>
				</mat-select>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
              <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                  <span class="browse-filter-title float-button-left">
                    <a href="/pdc/data-dictionary/Sample#sample_type" target="_blank" class="browse-filter-title">Sample Type</a>
                  </span>
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearDataCategorySelections" *ngIf="selectedSampleType.length > 0" label="Undo" (click)="clearSelectionsSampleType()" matTooltip="Clear sample types selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="filter-section">
                  <mat-list class="card-body card-list" id="dataCategoryList">
                    <div *ngIf="sampleTypeFilter.length > 10;then sampleTypeFilterContent else sampleTypeFilterContent"></div>
                    <ng-template #sampleTypeFilterContent>
                    <div *ngFor="let sampleType of sampleTypeFilter, let i = index" class="browse-filter" [ngClass]="selectedSampleType.indexOf(sampleType.filterName) !== -1 ? 'selectedFilterDiv': ''"  id="{{sampleType.filterName}}-sampType">
                    <div *ngIf="i<10;then sampleTypeInnerContent" class="browse-filter"></div>
                    <div *ngIf="sampleTypeFilter.length > 10 && showSampleType && i >= 10; then sampleTypeInnerContent" class="browse-filter"></div>
                    <ng-template #sampleTypeInnerContent><label><mat-list-item  [ngStyle]="getStyleForCheckbox(sampleType.filterName, selectedSampleType)">
                          <p-checkbox name="group7" id="group7{{sampleType}}"
                              value={{sampleType.filterName}}
                              [(ngModel)]="selectedSampleType"
                              [disabled]="sampleType.filterCount == 0"
                              (onChange)="filterDataBySampleType($event, '-sampType', i)">
                          </p-checkbox> &nbsp; &nbsp;
                          <div>
                            {{sampleType.filterName}} ({{sampleType.filterCount}} {{sampleType.filterCount > 1 ? 'Studies' : 'Study'}})
                          </div>
                        </mat-list-item></label></ng-template>
                        <div *ngIf="sampleTypeFilter.length > 10 && !showSampleType && i==10" (click)="showMoreOrLess('sample_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            {{sampleTypeFilter.length - 10 }} More...
                        </div>
                        <div *ngIf="sampleTypeFilter.length > 10 && showSampleType && i==sampleTypeFilter.length - 1" (click)="showMoreOrLess('sample_type')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
                            Less...
                        </div>
                      </div>
                      </ng-template>
                    </mat-list>
                  </div>
          </mat-expansion-panel>
      </mat-tab>
	  <!--End of PDC-567 -->
	  <!--PDC-535-->
	  <mat-tab>
        <ng-template mat-tab-label>
            Clinical
            <span class="float-button-right"></span>
            <button mat-icon-button mat-primary label="Undo" id="clearClinicalSelections" (click)="clearAllClinicalSelections()" matTooltip="Clear all selection"
            *ngIf="selectedEthnicity.length > 0 || selectedRace.length > 0 || selectedGender.length > 0 || selectedTumorGrade.length > 0" >
            <i class="fa fa-undo"></i></button>
        </ng-template>
        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="/pdc/data-dictionary/Demographic#ethnicity" target="_blank" class="browse-filter-title">Ethnicity</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearEthnicitySelections" *ngIf="selectedEthnicity.length > 0"  label="Undo" (click)="clearSelectionsEthnicity()" matTooltip="Clear ethnicities selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-section">
        <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="ethnicityFiltersList">
        <div *ngIf="ethnicityFilter.length > 10;then ethnicityFilterContent else ethnicityFilterContent"></div>
        <ng-template #ethnicityFilterContent>
        <div *ngFor="let ethnicity of ethnicityFilter, let i = index" class="browse-filter" [ngClass]="selectedEthnicity.indexOf(ethnicity.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{ethnicity.filterName}}-ethn">
        <div *ngIf="i<10;then ethnicityFilterInnerContent" class="browse-filter"></div>
        <div *ngIf="ethnicityFilter.length > 10 && showEthnicity && i >= 10; then ethnicityFilterInnerContent" class="browse-filter"></div>
        <ng-template #ethnicityFilterInnerContent><label><mat-list-item [ngStyle]="getStyleForCheckbox(ethnicity.filterName, selectedEthnicity)" >
					<p-checkbox name="group1" id="group1{{ethnicity.filterName}}"
						value={{ethnicity.filterName}}
						[(ngModel)]="selectedEthnicity"
						[disabled]="ethnicity.filterCount == 0"
						(onChange)="filterDataByEthnicity($event, '-ethn', i)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(ethnicity.filterName, selectedEthnicity)">
						{{ethnicity.filterName}} ({{ethnicity.filterCount}} {{ethnicity.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label></ng-template>
          <div *ngIf="ethnicityFilter.length > 10 && !showEthnicity && i==10" (click)="showMoreOrLess('ethnicity')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              {{ethnicityFilter.length - 10 }} More...
          </div>
          <div *ngIf="ethnicityFilter.length > 10 && showEthnicity && i==ethnicityFilter.length - 1" (click)="showMoreOrLess('ethnicity')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              Less...
          </div>
        </div>
        </ng-template>
        </mat-list>
      </div>
    </mat-expansion-panel>
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="/pdc/data-dictionary/Demographic#race" target="_blank" class="browse-filter-title">Race</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearRaceSelections" *ngIf="selectedRace.length > 0"  label="Undo" (click)="clearSelectionsRace()" matTooltip="Clear races selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-section">
        <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="raceFiltersList">
        <div *ngIf="raceFilter.length > 10;then raceFilterContent else raceFilterContent"></div>
        <ng-template #raceFilterContent>
        <div *ngFor="let race of raceFilter, let i = index" class="browse-filter" [ngClass]="selectedRace.indexOf(race.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{race.filterName}}-race">
        <div *ngIf="i<10;then raceFilterInnerContent" class="browse-filter"></div>
        <div *ngIf="raceFilter.length > 10 && showRace && i >= 10; then raceFilterInnerContent" class="browse-filter"></div>
        <ng-template #raceFilterInnerContent><label><mat-list-item [ngStyle]="getStyleForCheckbox(race.filterName, selectedRace)" >
					<p-checkbox name="group1" id="group1{{race.filterName}}"
						value={{race.filterName}}
						[(ngModel)]="selectedRace"
						[disabled]="race.filterCount == 0"
						(onChange)="filterDataByRace($event, '-race', i)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(race.filterName, selectedRace)">
						{{race.filterName}} ({{race.filterCount}} {{race.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label></ng-template>
          <div *ngIf="raceFilter.length > 10 && !showRace && i==10" (click)="showMoreOrLess('race')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              {{raceFilter.length - 10 }} More...
          </div>
          <div *ngIf="raceFilter.length > 10 && showRace && i==raceFilter.length - 1" (click)="showMoreOrLess('race')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              Less...
          </div>
        </div>
        </ng-template>
      </mat-list>
    </div>
    </mat-expansion-panel>
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="/pdc/data-dictionary/Demographic#gender" target="_blank" class="browse-filter-title">Gender</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearGenderSelections" *ngIf="selectedGender.length > 0"  label="Undo" (click)="clearSelectionsGender()" matTooltip="Clear genders selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-section">
        <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="genderFiltersList">
        <div *ngIf="genderFilter.length > 10;then genderFilterContent else genderFilterContent"></div>
        <ng-template #genderFilterContent>
        <div *ngFor="let gender of genderFilter, let i = index" class="browse-filter" [ngClass]="selectedGender.indexOf(gender.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{gender.filterName}}-gender">
        <div *ngIf="i<10;then genderFilterInnerContent" class="browse-filter"></div>
        <div *ngIf="genderFilter.length > 10 && showGender && i >= 10; then genderFilterInnerContent" class="browse-filter"></div>
        <ng-template #genderFilterInnerContent><label><mat-list-item [ngStyle]="getStyleForCheckbox(gender.filterName, selectedGender)" >
					<p-checkbox name="group1" id="group1{{gender.filterName}}"
						value={{gender.filterName}}
						[(ngModel)]="selectedGender"
						[disabled]="gender.filterCount == 0"
						(onChange)="filterDataByGender($event, '-gender', i)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(gender.filterName, selectedGender)">
						{{gender.filterName}} ({{gender.filterCount}} {{gender.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label></ng-template>
          <div *ngIf="genderFilter.length > 10 && !showGender && i==10" (click)="showMoreOrLess('gender')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              {{genderFilter.length - 10 }} More...
          </div>
          <div *ngIf="genderFilter.length > 10 && showGender && i==genderFilter.length - 1" (click)="showMoreOrLess('gender')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              Less...
          </div>
        </div>
        </ng-template>
      </mat-list>
    </div>
    </mat-expansion-panel>
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="/pdc/data-dictionary/Diagnosis#tumor_grade" target="_blank" class="browse-filter-title">Tumor Grade</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title browse-filter-clear" id="clearProjectGradeSelections" *ngIf="selectedTumorGrade.length > 0"  label="Undo" (click)="clearSelectionsTumorGrade()" matTooltip="Clear tumor grades selection"><span>CLEAR&nbsp;</span><i class="fa fa-undo"></i></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-section">
        <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="tumorGradeFiltersList">
        <div *ngIf="tumorGradeFilter.length > 10;then tumorGradeFilterContent else tumorGradeFilterContent"></div>
        <ng-template #tumorGradeFilterContent>
        <div *ngFor="let tumorGrade of tumorGradeFilter, let i = index" class="browse-filter" [ngClass]="selectedTumorGrade.indexOf(tumorGrade.filterName) !== -1 ? 'selectedFilterDiv': ''" id="{{tumorGrade.filterName}}-tumorGrade">
        <div *ngIf="i<10;then tumorGradeFilterInnerContent" class="browse-filter"></div>
        <div *ngIf="tumorGradeFilter.length > 10 && showTmrGrade && i >= 10; then tumorGradeFilterInnerContent" class="browse-filter"></div>
        <ng-template #tumorGradeFilterInnerContent><label><mat-list-item [ngStyle]="getStyleForCheckbox(tumorGrade.filterName, selectedTumorGrade)" >
					<p-checkbox name="group1" id="group1{{tumorGrade.filterName}}"
						value={{tumorGrade.filterName}}
						[(ngModel)]="selectedTumorGrade"
						[disabled]="tumorGrade.filterCount == 0"
						(onChange)="filterDataByTumorGrade($event, '-tumorGrade', i)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(tumorGrade.filterName, selectedTumorGrade)">
						{{tumorGrade.filterName}} ({{tumorGrade.filterCount}} {{tumorGrade.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label></ng-template>
          <div *ngIf="tumorGradeFilter.length > 10 && !showTmrGrade && i==10" (click)="showMoreOrLess('tumor_grade')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              {{tumorGradeFilter.length - 10 }} More...
          </div>
          <div *ngIf="tumorGradeFilter.length > 10 && showTmrGrade && i==tumorGradeFilter.length - 1" (click)="showMoreOrLess('tumor_grade')" class="browse-filter" style="text-align: right;font-size: 1.2rem; color: rgb(107, 98, 98);cursor:pointer;font-weight:700;">
              Less...
          </div>
        </div>
        </ng-template>
      </mat-list>
    </div>
  </mat-expansion-panel>
	  </mat-tab>
    <!--   <mat-tab label="Third"  >Content 3</mat-tab> -->
    </mat-tab-group>
