<mat-card-header class="browse-filter" style="background: #254A61; line-height:2">
    <span class="float-button-left" style="color:white; font-family: Lato; font-size: 20px">
    <img width="20px" height="20px" src="./assets/css/images/Triangle.png" alt="Filters"/>
          &nbsp; FILTERS
    </span>
	<div *ngIf="loading"><i class="pi pi-spin pi-spinner" style="font-size: 3em; color:white"></i></div>
	<span class="float-button-right"></span>
    <button mat-icon-button mat-primary label="Undo" id="clearAllSelections" (click)="clearAllSelections()" matTooltip="Clear all selection"
        *ngIf="selectedProjects.length > 0 || selectedPrograms.length > 0 || selectedPrimarySites.length > 0 || selectedDiseases.length > 0 || 
		selectedAnFracs.length > 0 || selectedExpStarts.length > 0 || selectedAcquisitions.length > 0 || selectedStudyFilter.length > 0 || 
		selectedSampleType.length > 0 || selectedEthnicity.length > 0 || selectedRace.length > 0 || selectedGender.length > 0 || selectedTumorGrade.length > 0 " style="color:white">
    <fa name="undo"></fa></button>
    </mat-card-header>
    <mat-tab-group animationDuration="0ms" class='side-bar-tabs' [selectedIndex]="selectedTab < 5 ? selectedTab : 0" >
      <mat-tab>
        <ng-template mat-tab-label>
            General
            <span class="float-button-right"></span>
            <button mat-icon-button mat-primary label="Undo" id="clearGeneralSelections" (click)="clearAllGeneralSelections()" matTooltip="Clear all General selection"
            *ngIf="selectedProjects.length > 0 || selectedPrograms.length > 0 || selectedPrimarySites.length > 0 || selectedDiseases.length > 0 || selectedAnFracs.length > 0 || selectedExpStarts.length > 0 || selectedAcquisitions.length > 0" >
            <fa name="undo"></fa></button>
        </ng-template>
        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
        <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
          <mat-panel-title>
          <a href="{{staticUrlBase}}dictionaryitem.html?eName=Project" target="_blank" class="browse-filter-title">Project</a>
          <span class="float-button-right"></span>
          <button mat-icon-button mat-primary class="browse-filter-title" id="clearProjectSelections" *ngIf="selectedProjects.length > 0"  label="Undo" (click)="clearSelectionsProjects()" matTooltip="Clear projects selection"><fa name="undo"></fa></button>
          <!-- @@@PDC-320 -->
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="projectFiltersList">
            <div *ngFor="let project of projectsFilter" class="browse-filter" >
            <label><mat-list-item [ngStyle]="getStyleForCheckbox(project.filterName, selectedProjects)" >
              <p-checkbox name="group1" id="group1{{project.filterName}}"
                value={{project.filterName}}
                [(ngModel)]="selectedProjects"
                [disabled]="project.filterCount == 0"
                (onChange)="filterDataByProject($event)">
              </p-checkbox> &nbsp; &nbsp;
            <div [ngStyle]="getStyleForCheckbox(project.filterName, selectedProjects)">
              {{project.filterName}} ({{project.filterCount}} {{project.filterCount > 1 ? 'Studies' : 'Study'}})
            </div>
            </mat-list-item></label>
          </div>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                  <a href="{{staticUrlBase}}dictionaryitem.html?eName=Case#primary_site" class="browse-filter-title" target="_blank" >Primary Site</a>
                  <!-- @@@PDC-320 -->
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title" id="clearPrimarysites" *ngIf="selectedPrimarySites.length > 0" label="Undo" (click)="clearSelectionsPrimarySite()" matTooltip="Clear primary sites selection"><fa name="undo"></fa></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="card-body card-list" id="primarySiteList">
                  <div *ngFor="let prim_site of primarySitesFilter" class="browse-filter">
                  <label><mat-list-item  [ngStyle]="getStyleForCheckbox(prim_site.filterName, selectedPrimarySites)" >
                        <p-checkbox name="group2" id="group2{{prim_site.filterName}}"
                              value={{prim_site.filterName}}
                              [(ngModel)]="selectedPrimarySites"
                  [disabled]="prim_site.filterCount == 0"
                              (onChange)="filterDataByPrimarySite($event)">
                          </p-checkbox> &nbsp; &nbsp;
                          <div [ngStyle]="getStyleForCheckbox(prim_site.filterName, selectedPrimarySites)">
                              {{prim_site.filterName}} ({{prim_site.filterCount}} {{prim_site.filterCount > 1 ? 'Studies' : 'Study'}})
                          </div>
                    </mat-list-item></label>
                  </div>
              </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                  <a href="{{staticUrlBase}}dictionaryitem.html?eName=Program" class="browse-filter-title" target="_blank">Program</a>
                    <!-- @@@PDC-320 -->
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title" id="clearPrograms" *ngIf="selectedPrograms.length > 0" label="Undo" (click)="clearSelectionsPrograms()" matTooltip="Clear programs selection"><fa name="undo"></fa></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="card-body card-list" id="programsList">
                  <div *ngFor="let program of programsFilter" class="browse-filter">
                  <label><mat-list-item  [ngStyle]="getStyleForCheckbox(program.filterName, selectedPrograms)">
                        <p-checkbox name="group3" id="group3{{program.filterName}}"
                              value={{program.filterName}}
                              [(ngModel)]="selectedPrograms"
                [disabled]="program.filterCount == 0"
                              (onChange)="filterDataByProgram($event)">
                          </p-checkbox> &nbsp; &nbsp;
                            <div [ngStyle]="getStyleForCheckbox(program.filterName, selectedPrograms)">
                              {{program.filterName}} ({{program.filterCount}} {{program.filterCount > 1 ? 'Studies' : 'Study'}})
                            </div>
                    </mat-list-item></label>
                  </div>
              </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <a href="{{staticUrlBase}}dictionaryitem.html?eName=Case#disease_type" class="browse-filter-title" target="_blank">Disease Type</a>
                    <!-- @@@PDC-320 -->
                    <span class="float-button-right"></span>
                    <button mat-icon-button mat-primary class="browse-filter-title" id="clearDiseaseTypes" *ngIf="selectedDiseases.length > 0" label="Undo" (click)="clearSelectionsDiseaseType()" matTooltip="Clear disease types selection"><fa name="undo"></fa></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="card-body card-list" id="diseaseTypeList">
                  <div *ngFor="let disease of diseaseTypesFilter" class="browse-filter">
                  <label><mat-list-item  [ngStyle]="getStyleForCheckbox(disease.filterName, selectedDiseases)">
                        <p-checkbox name="group4" id="group4{{disease.filterName}}"
                              value={{disease.filterName}}
                              [(ngModel)]="selectedDiseases"
                [disabled]="disease.filterCount == 0"
                              (onChange)="filterDataByDiseaseType($event)">
                          </p-checkbox> &nbsp; &nbsp;
                            <div [ngStyle]="getStyleForCheckbox(disease.filterName, selectedDiseases)">
                              {{disease.filterName}} ({{disease.filterCount}} {{disease.filterCount > 1 ? 'Studies' : 'Study'}})
                            </div>
                    </mat-list-item></label>
                  </div>
              </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <a href="{{staticUrlBase}}dictionaryitem.html?eName=Study#analytical_fraction" class="browse-filter-title" target="_blank">Analytical Fraction</a>
                    <!-- @@@PDC-320 -->
                    <span class="float-button-right"></span>
                    <button mat-icon-button mat-primary class="browse-filter-title" id="clearAnalyticalFractions" *ngIf="selectedAnFracs.length > 0" label="Undo" (click)="clearSelectionsAnalyticalFraction()" matTooltip="Clear analytical fractions selection"><fa name="undo"></fa></button>
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="card-body card-list" id="analyticalFractionList">
                  <div *ngFor="let an_frac of analyticalFractionsFilter" class="browse-filter">
                    <label><mat-list-item  [ngStyle]="getStyleForCheckbox(an_frac.filterName, selectedAnFracs)">
                    <p-checkbox name="group5" id="group5{{an_frac.filterName}}"
                                value={{an_frac.filterName}}

                                [(ngModel)]="selectedAnFracs"
                [disabled]="an_frac.filterCount == 0"
                                (onChange)="filterDataByAnalyticalFraction($event)">
                            </p-checkbox> &nbsp; &nbsp;
                              <div [ngStyle]="getStyleForCheckbox(an_frac.filterName, selectedAnFracs)">
                                {{an_frac.filterName}} ({{an_frac.filterCount}} {{an_frac.filterCount > 1 ? 'Studies' : 'Study'}})
                              </div>
                      </mat-list-item></label>
                  </div>
                </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <a href="{{staticUrlBase}}dictionaryitem.html?eName=Study#experiment_type" class="browse-filter-title" target="_blank">Experiment Type</a>
                    <!-- @@@PDC-320 -->
                    <span class="float-button-right"></span>
                    <button mat-icon-button mat-primary class="browse-filter-title" id="experimentTypes" *ngIf="selectedExpStarts.length > 0" label="Undo" (click)="clearSelectionsExperimentalStrategy()" matTooltip="Clear experiment types selection"><fa name="undo"></fa></button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list class="card-body card-list" id="experimentTypeList">
                  <div *ngFor="let exp_start of experimentalStrategiesFilter" class="browse-filter">
                    <label><mat-list-item  [ngStyle]="getStyleForCheckbox(exp_start.filterName, selectedExpStarts)">
                    <p-checkbox name="group6" id="group6{{exp_start.filterName}}"
                            value={{exp_start.filterName}}
                            [(ngModel)]="selectedExpStarts"
                [disabled]="exp_start.filterCount == 0"
                            (onChange)="filterDataByExperimentalStrategy($event)">
                        </p-checkbox> &nbsp; &nbsp;
                        <div [ngStyle]="getStyleForCheckbox(exp_start.filterName, selectedExpStarts)">
                          {{exp_start.filterName}} ({{exp_start.filterCount}} {{exp_start.filterCount > 1 ? 'Studies' : 'Study'}})
                        </div>
                      </mat-list-item></label>
                    </div>
                  </mat-list>
        </mat-expansion-panel>
		
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
            <mat-panel-title>
              <a href="{{staticUrlBase}}dictionaryitem.html?eName=Study#acquisition_type" class="browse-filter-title" target="_blank">Acquisition
                Type</a>
              <!-- @@@PDC-320 -->
              <span class="float-button-right"></span>
              <button mat-icon-button mat-primary class="browse-filter-title" id="experimentTypes" *ngIf="selectedAcquisitions.length > 0"
                label="Undo" (click)="clearSelectionsAcquisitions()" matTooltip="Clear acquisition types selection">
                <fa name="undo"></fa>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list class="card-body card-list" id="experimentTypeList">
            <div *ngFor="let acq_start of acquisitionFilter" class="browse-filter">
            <label><mat-list-item [ngStyle]="getStyleForCheckbox(acq_start.filterName, selectedAcquisitions)">
                <p-checkbox name="group6" id="group6{{acq_start.filterName}}" value={{acq_start.filterName}} [(ngModel)]="selectedAcquisitions"
                  [disabled]="acq_start.filterCount == 0" (onChange)="filterDataByAcquisition($event)">
                </p-checkbox> &nbsp; &nbsp;
                <div [ngStyle]="getStyleForCheckbox(acq_start.filterName, selectedAcquisitions)">
                  {{acq_start.filterName}} ({{acq_start.filterCount}} {{acq_start.filterCount > 1 ? 'Studies' : 'Study'}})
                </div>
              </mat-list-item></label>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </mat-tab>
	  <!--PDC-567-->
	  <mat-tab >
          <ng-template mat-tab-label>
              Biospecimen
              <button mat-icon-button mat-primary label="Undo" id="clearBioscpecimenDataCategory" (click)="clearAllBiospecimenSelections()" matTooltip="Clear all Biospecimen selections"
              *ngIf="selectedStudyFilter.length > 0 || selectedSampleType.length > 0" >
              <fa name="undo"></fa></button>
          </ng-template>
		  <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
              <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                  <span class="browse-filter-title float-button-left">
                    <a href="{{staticUrlBase}}dictionaryitem.html?eName=Study" target="_blank" class="browse-filter-title">Study</a>
                  </span>
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title" id="clearStudyFilterSelections" *ngIf="selectedStudyFilter.length > 0" label="Undo" (click)="clearSelectionsStudyID()" matTooltip="Clear studies selection"><fa name="undo"></fa></button>
                  </mat-panel-title>
                </mat-expansion-panel-header>
				<mat-select placeholder="Select one or more studies" class="card-body card-list" [(ngModel)]="selectedStudyFilter"  (selectionChange)="filterDataByStudy($event)" multiple>
					<mat-option *ngFor="let study of studyFilter" [value]="study.filterName">
						{{study.filterName}}
					</mat-option>
				</mat-select>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
              <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                  <span class="browse-filter-title float-button-left">
                    <a href="{{staticUrlBase}}dictionaryitem.html?eName=Sample#sample_type" target="_blank" class="browse-filter-title">Sample Type</a>
                  </span>
                  <span class="float-button-right"></span>
                  <button mat-icon-button mat-primary class="browse-filter-title" id="clearDataCategorySelections" *ngIf="selectedSampleType.length > 0" label="Undo" (click)="clearSelectionsSampleType()" matTooltip="Clear sample types selection"><fa name="undo"></fa></button>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="card-body card-list" id="dataCategoryList">
                    <div *ngFor="let sampleType of sampleTypeFilter" class="browse-filter">
                    <label><mat-list-item  [ngStyle]="getStyleForCheckbox(sampleType.filterName, selectedSampleType)">
                          <p-checkbox name="group7" id="group7{{sampleType}}"
                              value={{sampleType.filterName}}
                              [(ngModel)]="selectedSampleType"
                              [disabled]="sampleType.filterCount == 0"
                              (onChange)="filterDataBySampleType($event)">
                          </p-checkbox> &nbsp; &nbsp;
                          <div>
                            {{sampleType.filterName}} ({{sampleType.filterCount}} {{sampleType.filterCount > 1 ? 'Studies' : 'Study'}})
                          </div>
                        </mat-list-item></label>
                      </div>
                    </mat-list>
          </mat-expansion-panel>
      </mat-tab>
	  <!--End of PDC-567 -->
	  <!--PDC-535-->
	  <mat-tab>
        <ng-template mat-tab-label>
            Clinical
            <span class="float-button-right"></span>
            <button mat-icon-button mat-primary label="Undo" id="clearClinicalSelections" (click)="clearAllClinicalSelections()" matTooltip="Clear all selection"
            *ngIf="selectedEthnicity.length > 0 || selectedRace.length > 0 || selectedGender.length > 0 || selectedTumorGrade.length > 0" >
            <fa name="undo"></fa></button>
        </ng-template>
        <mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#ethnicity" target="_blank" class="browse-filter-title">Ethnicity</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title" id="clearEthnicitySelections" *ngIf="selectedEthnicity.length > 0"  label="Undo" (click)="clearSelectionsEthnicity()" matTooltip="Clear ethnicities selection"><fa name="undo"></fa></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
			</mat-expansion-panel-header>
            <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="ethnicityFiltersList">
				<div *ngFor="let ethnicity of ethnicityFilter" class="browse-filter" >
        <label><mat-list-item [ngStyle]="getStyleForCheckbox(ethnicity.filterName, selectedEthnicity)" >
					<p-checkbox name="group1" id="group1{{ethnicity.filterName}}"
						value={{ethnicity.filterName}}
						[(ngModel)]="selectedEthnicity"
						[disabled]="ethnicity.filterCount == 0"
						(onChange)="filterDataByEthnicity($event)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(ethnicity.filterName, selectedEthnicity)">
						{{ethnicity.filterName}} ({{ethnicity.filterCount}} {{ethnicity.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label>
				</div>
			</mat-list>
        </mat-expansion-panel>
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#race" target="_blank" class="browse-filter-title">Race</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title" id="clearRaceSelections" *ngIf="selectedRace.length > 0"  label="Undo" (click)="clearSelectionsRace()" matTooltip="Clear races selection"><fa name="undo"></fa></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
			</mat-expansion-panel-header>
            <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="raceFiltersList">
				<div *ngFor="let race of raceFilter" class="browse-filter" >
        <label><mat-list-item [ngStyle]="getStyleForCheckbox(race.filterName, selectedRace)" >
					<p-checkbox name="group1" id="group1{{race.filterName}}"
						value={{race.filterName}}
						[(ngModel)]="selectedRace"
						[disabled]="race.filterCount == 0"
						(onChange)="filterDataByRace($event)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(race.filterName, selectedRace)">
						{{race.filterName}} ({{race.filterCount}} {{race.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label>
				</div>
			</mat-list>
        </mat-expansion-panel>
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="{{staticUrlBase}}dictionaryitem.html?eName=Demographic#gender" target="_blank" class="browse-filter-title">Gender</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title" id="clearGenderSelections" *ngIf="selectedGender.length > 0"  label="Undo" (click)="clearSelectionsGender()" matTooltip="Clear genders selection"><fa name="undo"></fa></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
			</mat-expansion-panel-header>
            <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="genderFiltersList">
				<div *ngFor="let gender of genderFilter" class="browse-filter" >
        <label><mat-list-item [ngStyle]="getStyleForCheckbox(gender.filterName, selectedGender)" >
					<p-checkbox name="group1" id="group1{{gender.filterName}}"
						value={{gender.filterName}}
						[(ngModel)]="selectedGender"
						[disabled]="gender.filterCount == 0"
						(onChange)="filterDataByGender($event)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(gender.filterName, selectedGender)">
						{{gender.filterName}} ({{gender.filterCount}} {{gender.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label>
				</div>
			</mat-list>
        </mat-expansion-panel>
		<mat-expansion-panel [expanded]="true" class="sidenavFiltersPanel">
			<mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
			  <mat-panel-title>
			  <a href="{{staticUrlBase}}dictionaryitem.html?eName=Diagnosis#tumor_grade" target="_blank" class="browse-filter-title">Tumor Grade</a>
			  <span class="float-button-right"></span>
			  <button mat-icon-button mat-primary class="browse-filter-title" id="clearProjectGradeSelections" *ngIf="selectedTumorGrade.length > 0"  label="Undo" (click)="clearSelectionsTumorGrade()" matTooltip="Clear tumor grades selection"><fa name="undo"></fa></button>
			  <!-- @@@PDC-320 -->
			  </mat-panel-title>
			</mat-expansion-panel-header>
            <mat-list class="card-body card-list"  style="padding-left:0px; padding-right:0px;" id="tumorGradeFiltersList">
				<div *ngFor="let tumorGrade of tumorGradeFilter" class="browse-filter" >
        <label><mat-list-item [ngStyle]="getStyleForCheckbox(tumorGrade.filterName, selectedTumorGrade)" >
					<p-checkbox name="group1" id="group1{{tumorGrade.filterName}}"
						value={{tumorGrade.filterName}}
						[(ngModel)]="selectedTumorGrade"
						[disabled]="tumorGrade.filterCount == 0"
						(onChange)="filterDataByTumorGrade($event)">
					</p-checkbox> &nbsp; &nbsp;
					<div [ngStyle]="getStyleForCheckbox(tumorGrade.filterName, selectedTumorGrade)">
						{{tumorGrade.filterName}} ({{tumorGrade.filterCount}} {{tumorGrade.filterCount > 1 ? 'Studies' : 'Study'}})
					</div>
				  </mat-list-item></label>
				</div>
			</mat-list>
        </mat-expansion-panel>
	  </mat-tab>
    <!--   <mat-tab label="Third"  >Content 3</mat-tab> -->
    </mat-tab-group>
