.filters-wrapper{
	background: #254A61;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.24);
	border-radius: 0 0px 0px 0px;
}

$header-height: 128px;
$stateActiveBgColor: #3baae3;

.float-button-right {
  // This fills the remaining space, by using flexbox.
  flex: 1 1 auto;
}

.browse-filter {
	font-family: 'Lato';
	padding-left:0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 0px;
}

.browse-filter .checked-state{
	font-weight: 600;
}

.browse-filter .card-header {
	font-weight: 'regular';
	font-size: 14px;
	background: rgb(120, 167, 192);
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 0px;
	border: 1px;
	color: #000000;
	align-items: center;
}

.browse-filter .card-title {
	font-weight: 'regular';
	font-size: 14px;
//	background: #254A61;
	background: rgb(120, 167, 192);
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 8px;
	border: 0px;
	color: #000000;
}

//@@@PDC-683 - Add Gene Name filter to Gene filter tab with prepopulated genes list
.mat-select-value-text {
    white-space: pre-wrap!important;
    overflow: scroll!important;
    text-overflow: ellipsis!important;
}
.mat-select-panel .mat-option {
	font-size: 12px!important;
    line-height: 2em!important;
    height: 2em!important;
    min-width: 520px!important;
}

.mat-panel-title {
	font-size: 14px;
	font-family: 'Lato';
	background: rgb(120, 167, 192);
	margin-bottom: 0px;
	border-bottom: 0px;
	padding-bottom: 8px;
	border: 0px;
	color: #000000;
}
 .browse-filter .card-body {
 // background: rgb(149, 190, 212);
	background: #FFFFFF;
	padding-top: 0px;
  	padding-left: 0px;
	padding-bottom: 0px;
	//color: #000000;
	 flex:1 1 auto;
}

//@@@PDC-517 styling filter category title and align with reset button
.browse-filter-title{
	color:white;
	font-weight:600;
	font-size:15px;
	height:40px;
	line-height:40px;
}

.card-list-checkbox-single-ln {
	margin-top: -1.0rem;
	margin-bottom: -1.0rem;
	padding-bottom: 0rem;
	padding-top: -1.0rem;
}

.card-list-checkbox-multi-ln {
	margin-top: -0.8rem;
	margin-bottom: -0.8rem;
	padding-bottom: 0rem;
	padding-top: 0rem;
	height: 40px;
}

.browse-data {
	font-family: 'Lato';
	padding-left:0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 0px;
}

/* .side-bar-tabs ::ng-deep.mat-tab-label{
	min-width: 110px!important;
	padding: 10px!important;
	justify-content: left!important;
} */

::ng-deep .sidenavFiltersPanel .mat-expansion-panel-body {
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}

::ng-deep .sidenavFiltersPanel .mat-list-item {
	padding-right: 0px!important;
	height: 35px!important;
	line-height: 100%;
}

::ng-deep.mat-expansion-indicator {
    position: absolute!important;
	left: 7.5px!important;
  }

.mat-expansion-panel-header, .mat-expansion-panel-header:hover{
	background: rgb(120, 167, 192)!important;
	padding-right:0px!important;
}

.mat-expansion-panel-header-title{
	margin-right:0px!important;
}

//@@@PDC-4625: Implement the UI-UX changes to the filter sidebar
//@@@PDC-4871: UI-UX changes for stacking filters & improvements to the menu section
::ng-deep {
	.gene-page .mat-tab-labels {
		display: flex !important;
	}

	.gene-page .mat-tab-label {
		padding: 0px !important;
		// min-width: 120px !important;
		border: 0.5px solid lightgray !important;
		min-width: 102.9px !important;
		//box-shadow: rgb(0 0 0 / 20%) 0 3px 1px -2px , rgb(0 0 0 / 14%) 0 2px 2px 0 , rgb(0 0 0 / 12%) 0 1px 5px 0;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .25);;
		border-radius: 4px;
		height: 30px !important;
	}

	.side-bar-tabs .mat-tab-label-container {
		text-align: center;
	}

	.gene-page .mat-tab-label-active {
		//background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
		//background-color: #E8E8E8;
		border-bottom: 2px solid #3F51D4 !important;
		font-weight: 700;
	}

	.gene-page .mat-icon-button {
		width: 15px !important;
	}

	.gene-page .mat-icon-button i {
		line-height: 20px;
		font-size: 12px;
	}

	.sideBarNavigation .mat-expansion-panel-body {
		padding: 5px !important;
	}

	.sidenavFiltersPanel .selectedFilterDiv {
		background-color: #E8E8E8;
	}

	.card-list div {
		font-size: 14px !important;
	}

	.gene-page .mat-ink-bar {
		visibility: hidden !important;
	}

	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
		.gene-page .mat-tab-label-active {
			font-weight: 500 !important;
		}
	}}

	.gene-page .mat-tab-header-pagination.mat-tab-header-pagination-disabled,
	.gene-page .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    	display: none !important;
	}
}

.filter-section {
	max-height: 500px;
	overflow-y: auto;
}

.browse-filter-clear {
	font-size: 13px !important;
	//margin-right: 10%;
	width: 30% !important;
}

.card-list div {
	font-size: 14px !important;
}

// PDC-620: Make the filter selection tabs along the left side of the window
/* ::ng-deep {
	.sideBarNavigation .mat-tab-label-container {
		display: flex;
		flex-grow: 1;
		overflow: hidden;
		z-index: 1;
		width: 38px;
	}
	.sideBarNavigation .mat-tab-group {
		flex-direction: row;
	}
	.sideBarNavigation .mat-tab-labels {
		flex-direction: column;
		width: 60px;
		height: 540px;
		margin-left: -40px;
	}
	.sideBarNavigation .mat-tab-body-wrapper {
		flex: 1 1 auto;
	}
	.sideBarNavigation .mat-tab-header {
		border-bottom: none;
	}

	.sideBarNavigation .mat-ink-bar {
		height: 100%;
		left: 98% !important;
	}

	.sideBarNavigation .mat-tab-header-pagination {
		display: none !important;
	}

	.sideBarNavigation .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
		background-color: #F0F0F0;
	}

	.sideBarNavigation .mat-tab-label-active{
		background-color: #E8E8E8 !important;
		border-radius: 2px;
	}

	.sideBarNavigation .mat-tab-label {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		min-width: 200%;
		border-right: 1px solid #dddddd;
		height: 100%;
		text-transform: uppercase;
		font-weight: bold;
		color: black;
	}

	.sideBarNavigation #mat-tab-label-1-1 {
		min-width: 150px !important;
		padding-top: 50px !important;
	}

	.sideBarNavigation #mat-tab-label-1-0, .sideBarNavigation #mat-tab-label-1-1, .sideBarNavigation #mat-tab-label-1-2,
	.sideBarNavigation #mat-tab-label-1-3,  .sideBarNavigation #mat-tab-label-1-4{
		justify-content: center !important;
		padding-left: 20px !important;
	}

} */
