.browse-case {
    font-family: 'Lato';
    font-size: 12px;
}

.ui-datatable-odd {
    background: rgb(225, 239, 252);
}
.ui-datatable-even {
    background: none repeat scroll 0 0 rgb(154, 181, 204);
    
}

.ui-datatable-tableheader {
    background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important;
    border:0px !important;
    color: white !important;
}

.ui-datatable-tableheader-flex-container{
    display:-webkit-flex; 
    display:flex;
    float: left;
    align-items: center;
 }

 //@@@PDC-551: Need smaller font for paginator pages on Browse page tables to fit 3 digit numbers
 :host /deep/ .ui-paginator .ui-paginator-pages .ui-paginator-page{ 
    min-width: 2.5em !important; 
 }

  /* @@@PDC-1063: Implement select all, select page, select none for all tabs */
  :host /deep/ #dataForManifestExport .mat-select-value {
    display: none !important;
 }

 :host /deep/ .ui-table th {
    word-wrap: break-word;
 }

 /* @@@PDC-1419: Fix the tooltip position for "Export Full Manifest" feature on Browse Page */
 :host /deep/ .ui-table-caption {
    padding-left: 0px;
    text-align: unset !important;
 }

 .wholeManifestDownload {
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .manifestDownload {
    padding-top: 5px;
    padding-bottom: 5px;
 }