<mat-toolbar>
  <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
  <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
</mat-toolbar>
<div class="row" style="font-family:'Lato'; margin-top:-75px!important; margin-left:20px; margin-right: 20px; align-items: center;" >
<mat-card class="card card-body">
  <mat-card-content style="margin-bottom: 13%">
    <div #Top style="font-family:'LatoBold'; font-size: 20px; margin-bottom: 5px;">PDC Data Use Guidelines</div><br>
    <div>PDC data submission and data use are governed by <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons CC-BY 4.0</a> licensing terms.</div>
    Under CC-BY terms, that user is free to,
    <ul>
      <li>Share — copy and redistribute the material in any medium or format</li>
      <li>Adapt — remix, transform, and build upon the material for any purpose, even commercially.</li>
    </ul>
    <div>
      The licensor cannot revoke these freedoms as long as you follow the license terms. <br>
      Under the following terms:
      <ul>
        <li>Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li>
        <li>No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.</li>
      </ul>
    </div>
    <div class= "subHeading">
      <h4>Intellectual Property policy statement</h4>
      <p>Users of PDC shall acknowledge that they are encouraged not to acquire ownership interest in PDC data, nor any immediate or future intellectual property rights in any research conducted using the PDC data. NIH considers these data as pre-competitive and urges Users to avoid making IP claims derived directly from the proteomic dataset(s). It is expected that these NIH-provided data, and conclusions derived therefore, will remain freely available, without requirement for licensing. However, the NIH also recognizes the importance of the subsequent development of IP on downstream discoveries, especially in therapeutics, which will be necessary to support full investment in products that the public needs. For further information about the PDC Intellectual Property policy, please contact us at <a href="mailto:PDCHelpDesk@mail.nih.gov?Subject=PDC Help">PDCHelpDesk@mail.nih.gov</a>.</p>
    </div>
    <div class= "subHeading" #Cite_PDC id="Cite_PDC">
      <h4>Citing PDC</h4>
      <p>We ask that whenever using the PDC data in a publication, please cite the PDC resource and the primary publication of the data: <br>
        To cite the resource, cite PDC url - <a href="https://pdc.cancer.gov" target="_blank">https://pdc.cancer.gov</a><br>
          PDC uses human readable identifiers for representing studies.<br>
          To cite individual study, either cite the PDC study id (e.g., PDC000250) or an URL to the study (e.g., <a href="https://pdc.cancer.gov/pdc/study/PDC000250" target="_blank">https://pdc.cancer.gov/pdc/study/PDC000250</a>).
          <br>
          The primary publication from the original data producers is available on the individual study summary pages and also on the <a href="/pdc/publications" target="_blank">PDC publications page</a>. 
      </p>
      <div class= "importantNote">
        The CPTAC program requests that publications using data from the program cite the primary publication from the consortium (available on the individual study summary pages and on the <a href="/pdc/publications" target="_blank">PDC publications page</a>) and include the following statement: "Data used in this publication were generated by the National Cancer Institute Clinical Proteomic Tumor Analysis Consortium (CPTAC)."
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>
