<div class="row" style="padding-left:2px;">
  <div class="col-md-3">
  <div>Study: {{study_name}}</div>
    <mat-card class="analysis-manager">
    <mat-nav-list  class="menu heatmap-menu-label">
       <ul *ngFor="let map of map_files" class="browse-filter" style="padding-left:5px; margin-left: 0px">
            <div *ngIf="map.isParent === true">{{map.label}}</div>
            <a mat-list-item *ngIf="map.isParent === false" class="heatmap-menu-item" [matTooltipPosition]="'after'" 
                matTooltip="{{map.tooltip}}" style="color: #ffffff; font-family: 'Lato'; size: 14px !important;"
                (click)="onSelect(map.location, map.rowName, map.colName, map.label)">{{map.label}}</a>
       </ul>
    </mat-nav-list>
  </mat-card>   
</div>
<div class="col-md-9">
  <app-heat-map [map_file]="selectedMapFile" [title]="selectedMapTitle" 
    [colName]="selectedColName" [rowName]="selectedRowName"></app-heat-map>
</div>
</div>
