::ng-deep .tooltipStyle {
  white-space: pre-line;
  background: white;
  color:black !important;
  font-size: 1.2rem !important;
}

::ng-deep #oncoprintDiv .p-datatable-tbody {
	max-height: 350px!important;
	min-height: 90px!important; 
}

.aliquot:hover {
	stroke: black;
	stroke-width: 1;
}

.fixedWidthCol, .fixedMaxWidthCol {
  min-width: 300px;
  max-width: 300px;
  width: 300px; 
}

#aliquotsVisualizationByStudy tr td {
  height: 24px !important;
  border: none;
}

#aliquotsVisualizationByStudy tr th {
  background-color: #ebedf0;
  border-color: #d9d9d9;
  padding: 0.25em 0.5em;
  font-size: 14px !important;
  border: 2px solid #D5D5D5;
}
