<div id="oncoprintDiv">
	<div style="margin-left: 10px;margin-top: 10px;" *ngIf="loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i>&nbsp;&nbsp;&nbsp;Loading visualization. Please wait... </div>
	<p-table id="aliquotsVisualizationByStudy" [value]="dataByStudy" [scrollable]="true" scrollHeight="200px" [virtualRowHeight]="40" [virtualScroll]="true" [rows]="10"
			[totalRecords]="dataByStudy.length" responsive="true" styleClass="borderless" [columns]="cols" [frozenColumns]="frozenStudyColumn" frozenWidth="300px">
		<ng-template pTemplate="frozencolgroup" let-columns>
			<colgroup>
				<col style="word-wrap: break-word; white-space: normal; border:none; border-style:none;" [style.width]>
			</colgroup>
		</ng-template>
		<ng-template pTemplate="colgroup" let-columns>
			<colgroup>
				<col style="word-wrap: break-word; white-space: normal; border:none; border-style:none;">
			</colgroup>
		</ng-template>
		<ng-template style="font-size: 12px; background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%);" pTemplate="header" let-columns>
			<tr style="font-size: 12px;">
				 <th *ngFor="let col of columns">
					{{col.header}}
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-aliquotData let-columns="columns"> 
			<tr style="font-size: 11px;border:none; border-style:none;height:37.5px!important">
				<td *ngFor="let col of columns" style="word-wrap: break-word; white-space: normal; border:none; border-style:none;">
				  <span *ngIf="col.field=='study'">{{aliquotData}}</span>
				  <span *ngIf="col.field=='aliquotData'" >
					<svg [style.overflow]="scroll" [style.width.px]="vizWidth" [style.height.px]="32"> 
						<g *ngFor="let mut of dataByStudy[aliquotData] | keyvalue" attr.transform="translate({{calculateXPos(mut.key)}}, 0)">
							<rect class="aliquot" x="0" y="0" width="5" height="32" fill="rgb(209,209,209)" fill-opacity="1" matTooltip="{{tooltipText2(aliquotData, mut.key)}}" matTooltipClass="tooltipStyle"></rect>
							<rect *ngIf="mut.value.exists1" width="4" height="8" x="0" y="0" stroke="rgb(255,0,0)" stroke-opacity="1" stroke-width="0.3" fill="rgb(255,0,0)" [attr.fill-opacity]="mut.value.exists1Value"  matTooltip="{{tooltipText2(aliquotData, mut.key)}}" matTooltipClass="tooltipStyle"></rect>
							<rect *ngIf="mut.value.exists4" width="4" height="8" x="0" y="7" stroke="rgb(0,0,255)" stroke-opacity="1" stroke-width="0.3" fill="rgb(0,0,255)" [attr.fill-opacity]="mut.value.exists4Value"  matTooltip="{{tooltipText2(aliquotData, mut.key)}}" matTooltipClass="tooltipStyle"></rect>
							<rect *ngIf="mut.value.exists5" width="4" height="8" x="0" y="15" stroke="rgb(3,84,122)" stroke-opacity="1" stroke-width="0.3" fill="rgb(3,84,122)" [attr.fill-opacity]="mut.value.exists5Value" matTooltip="{{tooltipText2(aliquotData, mut.key)}}" matTooltipClass="tooltipStyle"></rect>
							<rect *ngIf="mut.value.exists6" width="4" height="8" x="0" y="23" stroke="rgb(122,3,84)" stroke-opacity="1" stroke-width="0.3" fill="rgb(122,3,84)" [attr.fill-opacity]="mut.value.exists6Value"  matTooltip="{{tooltipText2(aliquotData, mut.key)}}" matTooltipClass="tooltipStyle"></rect>
							
						</g>
					</svg>
				  </span>
				</td>
			</tr>
		</ng-template>
	</p-table>
	<br>
	<div id="legend">
		<svg width="930" height="50">
			<g transform="translate(0,0)">
				<g transform="translate(0,0)">
					<text x="0" y="12" font-size="12" font-family="Arial" font-weight="bold" text-anchor="start"><tspan x="0" dy="0">Legend</tspan></text>
					<g transform="translate(70,0)">
						<rect x="0" y="0" width="5" height="28" fill="rgb(190,190,190)" fill-opacity="1"></rect>
						<rect width="4" height="7" x="0" y="0" stroke="rgb(0,0,0)" stroke-opacity="0" stroke-width="0" fill="rgb(255,0,0)" fill-opacity="1"></rect>
						<text x="11" y="15" font-size="12" font-family="Arial" font-weight="normal" text-anchor="start">log2_ratio</text>
					</g>
					<g transform="translate(180,0)">
						<rect x="0" y="0" width="5" height="28" fill="rgb(190,190,190)" fill-opacity="1"></rect>
						<rect width="4" height="7" x="0" y="7" stroke="rgb(0,0,0)" stroke-opacity="0" stroke-width="0" fill="rgb(0,0,255)" fill-opacity="1"></rect>
						<text x="11" y="15" font-size="12" font-family="Arial" font-weight="normal" text-anchor="start">precursor_area</text>
					</g>
					<g transform="translate(310,0)">
						<rect x="0" y="0" width="5" height="28" fill="rgb(190,190,190)" fill-opacity="1"></rect>
						<rect width="4" height="7" x="0" y="14" stroke="rgb(0,0,0)" stroke-opacity="0" stroke-width="0" fill="rgb(3,84,122)" fill-opacity="1"></rect>
						<text x="11" y="15" font-size="12" font-family="Arial" font-weight="normal" text-anchor="start">unshared_precursor_area</text>
					</g>
					<g transform="translate(470,0)">
						<rect x="0" y="0" width="5" height="28" fill="rgb(190,190,190)" fill-opacity="1"></rect>
						<rect width="4" height="7" x="0" y="21" stroke="rgb(0,0,0)" stroke-opacity="0" stroke-width="0" fill="rgb(122,3,84)" fill-opacity="1"></rect>
						<text x="11" y="15" font-size="12" font-family="Arial" font-weight="normal" text-anchor="start">unshared_log2_ratio</text>
					</g>
					<g transform="translate(600,0)">
						<rect x="0" y="0" width="5" height="28" fill="rgb(190,190,190)" fill-opacity="1"></rect>
						<text x="11" y="15" font-size="12" font-family="Arial" font-weight="normal" text-anchor="start">All columns are empty</text>
					</g>
				</g>
			</g>
		</svg>
	  </div>
</div>
