	<div class="row" style="font-family:'Lato'; font-size: 12px;" (window:resize)="onResize($event)">
      <p-table class="table-striped ui-datatable-odd" #dt [columns]="cols" [value]="filteredGenesData" [lazy]="true" [paginator]="true" [(first)]="offset"
				[rows]="10" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50]" [totalRecords]="totalRecords"
				[loading]="loading" [resizableColumns]="true" columnResizeMode="expand" [ngStyle]="{'width':'100%'}"
				(onRowUnselect) ="onRowUnselected($event)" (onRowSelect)="onRowSelected($event)" [(selection)]="selectedGenesData"
				dataKey="gene_name" (onLazyLoad)="loadNewPage($event)" id="genesDataTable" paginatorPosition="both"
				scrollHeight="500px" [autoLayout]="true" [frozenColumns]="frozenColumns" [scrollable]="true" frozenWidth="150px">
		<ng-template pTemplate="caption">
			<div class="container-fluid ui-helper-clearfix button-container-fluid exportButtonsRow">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div *ngIf="totalRecords > 0 && !loading" >
									<h3 style="font-family: 'Lato'; font-size:14px;float:left;margin-top:10px!important">{{totalRecords > 1 ? 'Total records: ' + totalRecords : 'Total record: ' + totalRecords }}</h3>
							</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 manifestDownload">
								<div class="wholeManifestDownload">
									Export All Manifests
									&nbsp;<button matTooltip="Exports all manifests for the filters applied" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest('csv')" style="font-family:'Lato';font-weight:bold; min-width:1%;" [disabled]="iscompleteManifestDisabled()" aria-label="Download all Manifests">CSV</button>&nbsp;
									<button matTooltip="Exports all manifests for the filters applied" id="downloadWholeManifest" mat-raised-button mat-primary label="Download Selection" (click)="downloadAllManifest('tsv')" style="font-family:'Lato';font-weight:bold; min-width:1%;" [disabled]="iscompleteManifestDisabled()" aria-label="Download all Manifests">TSV</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="container-fluid ui-helper-clearfix button-container-fluid" style="border-top: 1px solid #ddd;">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 manifestDownload">
						  <div class="row">
						    <div class="col-12">
							  Export Genes Manifest
							  &nbsp;<button matTooltip="Exports all selected rows for the current data tab" id="downloadGeneData"  mat-raised-button mat-primary label="Download Selection" (click)="geneTableExportCSV(dt)" [disabled]="isDownloadDisabled()" style="font-family:'Lato'; min-width:1%;" aria-label="Download Genes Manifest">CSV</button>&nbsp;
							  <button matTooltip="Exports all selected rows for the current data tab" id="downloadGeneData"  mat-raised-button mat-primary label="Download Selection" (click)="geneTableExportTSV(dt)" [disabled]="isDownloadDisabled()" style="font-family:'Lato'; min-width:1%;" aria-label="Download Genes Manifest">TSV</button>&nbsp;
							</div>
						  </div>
						  <div class="row">
						    <div class="col-12">
							  <div id="selectedGenesDataCount" *ngIf="!isDownloadDisabled()" style="padding-top:5px;">Rows selected: {{selectedGenesData.length}}</div>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="frozenheader" let-frozenColumns>
			<tr>
				<!-- @@@PDC-7109 - update checkbox intuitiveness -->
				<th class="ui-datatable-tableheader" style="width:50px;overflow: unset;">
					<label><p-checkbox #geneDataChk id="geneDataChk" [(ngModel)]="headercheckbox" binary="true" (onChange)="triggerchangeHeaderCheckbox()" ></p-checkbox></label>
					<mat-select #dataForManifestExport id="dataForManifestExport" class="card-body card-list" [(ngModel)]="selectedHeaderCheckbox"
					(selectionChange)="changeHeaderCheckbox($event)">
						<mat-option *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption" (onSelectionChange)="chkBoxSelectionCheck(checkboxOption)">
							{{checkboxOption}}
						</mat-option>
					</mat-select>
					<span style="display:none;">Check All</span>
					</th>
					<!-- @@@PDC-4978 update links to migrated documentation pages -->
          <th class="ui-datatable-tableheader" style="width:100px;" [pSortableColumn]="cols[0].field"><a href="/pdc/data-dictionary/Gene#gene_name" target="_blank" style="color:white">Gene</a><p-sortIcon [field]="cols[0].field" ariaLabel="Sort Gene column in ascending/descending order"></p-sortIcon></th>
			</tr>
		</ng-template>
        <ng-template style="font-size: 12px; background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%);" pTemplate="header" let-columns>
            <tr class="safari_only">
			    <th class="ui-datatable-tableheader fixedWidthCol" [pSortableColumn]="cols[1].field"><a href="/pdc/data-dictionary/Gene#chromosome" target="_blank" style="color:white">Chromosome</a><p-sortIcon [field]="cols[1].field" ariaLabel="Sort Chromosome column in ascending/descending order"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader fixedWidthCol" [pSortableColumn]="cols[2].field"><a href="/pdc/data-dictionary/Gene#locus" target="_blank" style="color:white">Locus</a><p-sortIcon [field]="cols[2].field" ariaLabel="Sort Locus column in ascending/descending order"></p-sortIcon></th>
			    <th class="ui-datatable-tableheader fixedWidthCol">No of Studies</th>
			    <th class="ui-datatable-tableheader fixedWidthCol">PTM Sites</th>
			    <th class="ui-datatable-tableheader fixedWidthCol" [pSortableColumn]="cols[4].field"><a href="/pdc/data-dictionary/Gene#proteins" target="_blank" style="color:white">Proteins</a><p-sortIcon [field]="cols[4].field" ariaLabel="Sort Proteins column in ascending/descending order"></p-sortIcon></th>
            </tr>
				</ng-template>
				<ng-template pTemplate="frozenbody" let-geneData let-frozenColumns>
					<tr style="font-size: 11px;"[pSelectableRow]="geneData">
						<!-- @@@PDC-7110 - fix checkbox updates -->
						<td style="width:50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><p-tableCheckbox #browsePageCheckboxes id="geneData{{geneData.gene_name}}" [value]="geneData" class="browsePageCheckboxes"></p-tableCheckbox></td>
						<td style="width:100px;word-wrap: break-word; white-space: normal;"><a href="javascript:void(0);" (click)="showGeneSummary(geneData.gene_name)">{{geneData.gene_name }}</a></td>
					</tr>
				</ng-template>
        <ng-template pTemplate="body" let-geneData>
            <tr style="font-size: 11px;" [pSelectableRow]="geneData" >
                <td class="fixedWidthCol" style="word-wrap: break-word; white-space: normal;">{{geneData.chromosome}}</td>
                <td class="fixedWidthCol" style="word-wrap: break-word; white-space: normal;">{{geneData.locus}}</td>
                <td class="fixedWidthCol" style="word-wrap: break-word; white-space: normal;">{{geneData.num_study}}</td>
				<td class="fixedWidthCol" style="word-wrap: break-word; white-space: normal;">
					<div *ngFor="let ptmData of ptmStatsData[geneData.gene_name]?.ptm_type_counter" style="float:left"> {{ptmData.ptm_type}} ({{ptmData.counter}});</div>
				</td>
				<td class="fixedWidthCol" style="word-wrap: break-word; white-space: normal;">{{geneData.proteins}}</td>
            </tr>
        </ng-template>
		<p-paginator rows="10" totalRecords="120"></p-paginator>
      </p-table>
      <br>
    </div>
