.browse-file {
    font-family: 'Lato';
    font-size: 12px;
}

.ui-datatable-odd {
    background: rgb(225, 239, 252);
}
.ui-datatable-even {
    background: none repeat scroll 0 0 rgb(154, 181, 204);
}

.ui-datatable-tableheader {
    /* background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important; */
    background-color: #3A8BAF !important;
    border:0px !important;
    color: white !important;
}

.ui-datatable-tableheader-flex-container{
    display:-webkit-flex; 
    display:flex;
    float: left;
    align-items: center;
 }

 /* @@@PDC-551: Need smaller font for paginator pages on Browse page tables to fit 3 digit numbers */
 :host /deep/ .ui-paginator .ui-paginator-pages .ui-paginator-page{ 
    min-width: 2.5em !important; 
 }

 /* @@@PDC-1000: Column header for Gene list tab needs to be expanded */
 :host /deep/ .ui-table th {
    word-wrap: break-word;
 }

  /* @@@PDC-1063: Implement select all, select page, select none for all tabs */
  :host /deep/ #dataForManifestExport .mat-select-value {
    display:none !important;
 }

 /* @@@PDC-1419: Fix the tooltip position for "Export Full Manifest" feature on Browse Page */
 :host /deep/ .ui-table-caption {
    padding-left: 0px;
    text-align: unset !important;
 }

:host /deep/ .ui-table-unfrozen-view .ui-table-thead .fixedWidthCol,
:host /deep/ .ui-table-unfrozen-view .ui-table-tbody .fixedWidthCol {
   min-width: 100px !important;
   max-width: 100px !important;
   width: 100px !important;
} 

 :host /deep/ .ui-table table {
   table-layout: unset !important;
}

 /* @media only screen  and (max-width: 2500px) { 
   :host /deep/ .ui-table-unfrozen-view .ui-table-thead .fixedMaxWidthCol,
   :host /deep/ .ui-table-unfrozen-view .ui-table-tbody .fixedMaxWidthCol {
      min-width: 200px !important;
      max-width: 200px !important;
      width: 200px !important;
   }
  @media only screen and (min-width: 2500px) {
   :host /deep/ .ui-table-unfrozen-view .ui-table-thead .fixedMaxWidthCol {
      min-width: 200px !important;
      max-width: 200px !important;
      width: 200px !important;
   }

   :host /deep/ .ui-table-unfrozen-view .ui-table-tbody .fixedMaxWidthCol {
      min-width: 208px !important;
      max-width: 208px !important;
      width: 208px !important;
   } 
 } */
 