<mat-toolbar>
    <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
    <mat-toolbar-row style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%)"></mat-toolbar-row>
</mat-toolbar>
<div class="row" style="font:Lato; margin-top:-75px!important; margin-left:20px; margin-right: 20px; align-items: center;" >
  <mat-card class="about-page card card-body pageMargins">
	<mat-card-title class="about-page card-header" style="margin-bottom:0!important">
			<img mat-card-image class="title-image" src="assets/css/images/aboutBanner.png" alt="Proteomic Data Commons: Facilitating Proteogenomics to Revolutionize Precision Medicine">
	</mat-card-title>
    <mat-card-content style="padding-right: 55px;padding-left: 35px;display: block; margin: auto auto; vertical-align: middle;">
		<div class="row"><h3>About the Proteomic Data Commons</h3></div>
		<div class="row">
			<p>The objectives of the National Cancer Institute’s Proteomic Data Commons (PDC) are (1) to make cancer-related proteomic datasets easily accessible to the public, and (2) facilitate multiomic integration in support of precision medicine through interoperability with other resources.</p>
			<p>The PDC was developed to advance our understanding of how proteins help to shape the risk, diagnosis, development, progression, and treatment of cancer. In-depth analysis of proteomic data allows us to study both how and why cancer develops and to devise ways of personalizing treatment for patients using precision medicine. </p>
			<p>The PDC is one of several repositories within the <a href="https://datacommons.cancer.gov" target="_">NCI Cancer Research Data Commons (CRDC)</a>, a secure cloud-based infrastructure featuring diverse data sets and innovative analytic tools – all designed to advance data-driven scientific discovery. The CRDC enables researchers to link proteomic data with other data sets (e.g., genomic and imaging data) and to submit, collect, analyze, store, and share data throughout the cancer data ecosystem.</p>
		</div>
		<div class="row"><h3>Benefits of the PDC</h3>
		</div>
		<div class="row" style="display: block; margin: auto auto; vertical-align: middle;">
		  <mat-card style="padding: 5px;background-color: #ededed;line-height: 1.8;">
			<mat-card-content>
				<ul>
					<li>Access to highly curated and standardized biospecimen, clinical, and proteomic data</li>
					<li>Intuitive interface to filter, query, search, visualize and download the data and metadata.</li>
					<li>A common data harmonization pipeline to uniformly analyze all PDC data and provide advanced visualization of the quantitative information.</li>
					<li>Cloud based (Amazon Web Services) infrastructure facilitates interoperability with AWS based data analysis tools and platforms natively.</li>
					<li>Application programming interface (API) provides cloud-agnostic data access and allows third parties to extend the functionality beyond the PDC.</li>
					<li>A highly structured workspace that serves as a private user data store and also data submission portal.</li>
					<li>Distributes controlled access data, such as the patient-specific protein fasta sequence databases, with dbGaP authorization and eRA Commons authentication.</li>
				</ul>
			</mat-card-content>
		  </mat-card>
		</div>
     </mat-card-content>
  </mat-card>
</div>
<mat-card>
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-content>
        Feedback? Join our Google discussion group: <a href="https://groups.google.com/a/esacinc.com/forum/#!forum/pdc-mvp-feedback" target="_">PDC Feedback Group</a><a matTooltip="Exit Disclaimer" href="https://www.cancer.gov/policies/linking" target="_">&nbsp;<i class="fas fa-external-link-alt"></i><span style="display: none">Exit Disclaimer</span></a>
        <br>
        Contact us: <a href="mailto:PDCHelpDesk@mail.nih.gov?Subject=PDC Help" target="_top">Email</a>
    </mat-card-content>
</mat-card>
