.abstract-text {
}

.abstract-text-truncate {
   display: inline-block;
   word-wrap: break-word;
   //white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 400px;
   max-height: 3.6em;
   line-height: 1.8em;
}

.mat-button.mat-small {
  min-width: 1%;
}

.toolbar-second-row {
    background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%);
  }

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.ui-datatable-odd {
    background: rgb(225, 239, 252);

}
.ui-datatable-even {
    background: none repeat scroll 0 0 rgb(154, 181, 204);

}
.ui-datatable-tableheader {
    background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important;
    border:0px !important;
    color: white !important;
}

.ui-datatable-tableheader-collapsed {
    background-image: linear-gradient(-180deg, #3A8BB7 0%, #347da5 100%) !important;
    border:0px !important;
    color: white !important;
}
.ui-datatable-tableheader-continue {
    background-image: linear-gradient(-180deg, #347da5 0%, #245672 100%) !important;
    border:0px !important;
    color: white !important;
}
.ui-grid-render-container.ui-grid-render-container-body {
    left: 30px;
    top: 0;
    position: absolute;
  }

.ui-datatable-tableheader-flex-container{
    display:-webkit-flex;
    display:flex;
    float: left;
    align-items: center;
 }


.ui-dataview-tableheader {
    background-image: linear-gradient(-180deg, #3A8BB7 0%, #245672 100%) !important;
    border:0px !important;
    color: white !important;
}

.ui-dataview-tableheader-collapsed {
    background-image: linear-gradient(-180deg, #3A8BB7 0%, #347da5 100%) !important;
    border:0px !important;
    color: white !important;
}
.ui-dataview-tableheader-continue {
    background-image: linear-gradient(-180deg, #347da5 0%, #245672 100%) !important;
    border:0px !important;
    color: white !important;
}

.ui-dataview-tableheader-flex-container{
    display:-webkit-flex;
    display:flex;
    float: left;
    align-items: center;
 }

.ui-dataview-header .ui-widget-header .ui-corner-top {
	display: block;
	min-height: 40px!important;
}

.browse-filter-header-image {
  background-image: url('../../assets/css/images/Triangle.png');
}

//@@@PDC-277: Add a filter crumb bar at the top that explains the filter criteria selected
.breadCrumbButtons {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 3px;
}

::ng-deep .mat-expansion-indicator {
  margin-left: 1%;
}

::ng-deep #browsePageExpansionPanel .mat-expansion-panel-header {
  //height: 36px !important;
}

::ng-deep .mat-expansion-panel-header {
	height:25px!important;
}

::ng-deep {
	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

		.safari_only {
		  height: 68px !important;
		}
	}}
}

::ng-deep .publicationsOverlay .p-dataview {
  min-height: 100px !important;
}

.publicationsOverlay:has(div.p-dataview-loading-overlay) { 
  background: #F1F1F1;
  opacity: 0.3 !important;
}

::ng-deep #publicationsDataTable .p-dataview-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
