
<app-program-stats></app-program-stats>
<div style="background-color: #fafafa;">
  <div class="container-fluid pr-10">
    <div class="row">
	  <div class="container front-page-figures-row" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxFlexFill fxLayoutAlign="space-around stretch" >
		<div class="front-page" fxFlexFill id="tissueSites" style="width:100%; padding-left:15px!important; padding-right:15px!important; " >
          <mat-card class="front-page card card-body" style="background-image: radial-gradient(at center center, rgb(97, 162, 198) 0%, rgb(58, 139, 184) 48%, rgb(46, 111, 147) 100%);">
            <mat-card-title class="front-page cases-card-header">Cases by Major Primary site</mat-card-title>
            <!--<mat-card-title class="front-page card-header">TISSUE SITES</mat-card-title>-->
              <!--<div [chart]="tissuesChart"></div>-->

			  <!--<div [chart]="casesChart"></div>-->
			  <!-- PDC-1214 - Replace the sunburst chart with the human body image with drill down -->
			  <app-human-body-chart></app-human-body-chart>
          </mat-card>
		</div>
		<div class="front-page" fxFlexFill id="diseaseTypes" style="width:100%; padding-left:0!important; padding-right:15px!important;">
          <mat-card class="front-page card card-body disease-type-card-body">
            <mat-card-title matTooltip="Number of Cases for a disease type" class="front-page cases-card-header">Cases by Disease Type</mat-card-title>
            <mat-list class="list-group disease-type-card-list">
             <div class="disease-type-card-list" id="disease-type-card-list" *ngFor="let disease of diseasesTotalCounts">
              <div class="row">
                <div class="col-md-8">
                  <div class="disease-label" style="padding-left:10px"><a href="/pdc/browse/filters/disease_type:{{encodePDCURI(disease.disease_type)}}" class="frontPage_diseasetype">{{disease.disease_type}}</a></div>
                </div>
                <div matTooltip="Number of Cases for a disease type" class="col-md-4"><div class="disease-count">{{disease.cases_count}}</div>
                </div>
              </div>
             </div>
			</mat-list>
          </mat-card>
		</div>
	  </div>
	</div>
	<div class="row" style="padding-top:10px; padding-bottom: 20px">
		<div class="col-md-3 ml-0" id="recentReleases"  style="padding-left: 15px!important;padding-right: 0!important;">
			<mat-card class="bottom-card">
				<mat-card-header class="bottom-row-card-header">RECENT RELEASES</mat-card-header>
				<mat-card-content id="recentReleasesContent">
				  <mat-list >
					<mat-list-item class="bottom-card-list-item" id="list-item">
					  <div class="bottom-card-bullet-item"><div><i class="pi pi-circle-off bottom-card-bullet-icon"></i></div>
						<div>PDC Clinical data dictionaries updated (January 2022).</div>
					  </div>
					</mat-list-item>
					<mat-list-item class="bottom-card-list-item" id="list-item">
					  <div class="bottom-card-bullet-item"><div><i class="pi pi-circle-off bottom-card-bullet-icon"></i></div>
						<div>Additional Clinical follow-up outcome data added for the CPTAC cohorts - LSCC, LUAD, PDA, UCEC, GBM, ccRCC, HNSCC (January 2022).</div>
					  </div>
					</mat-list-item>
					<mat-list-item class="bottom-card-list-item" id="list-item">
					  <div class="bottom-card-bullet-item"><div><i class="pi pi-circle-off bottom-card-bullet-icon"></i></div>
						<div>Clinical outcome data updated for the CPTAC cohorts - LSCC, LUAD, PDA, UCEC, GBM, ccRCC, HNSCC (October 2021).</div>
					  </div>
					</mat-list-item>
					<mat-list-item class="bottom-card-list-item" id="list-item">
					  <div class="bottom-card-bullet-item"><div><i class="pi pi-circle-off bottom-card-bullet-icon"></i></div>
						<div>Embargo lifted and publication added to the CPTAC Lung Squamous Cell Carcinoma studies (September 2021).</div>
					  </div>
					</mat-list-item>
				  </mat-list>
				</mat-card-content>
			</mat-card>
		</div>
		<!-- @@@PDC-1711 add external link icon -->
		<div class="col-md-3 ml-0" id="newsSection"  style="padding-left: 0!important;padding-right: 0!important;">
			<mat-card class="bottom-card">
			  <mat-card-header class="bottom-row-card-header">NEWS</mat-card-header>
			  <mat-card-content id="newsSectionContent">
				<mat-list>
				  <mat-list-item *ngFor="let aNews of newsItems" id="list-item" class="bottom-card-list-item">
					<div class="bottom-card-bullet-item">
					  <div><i class="pi pi-circle-off bottom-card-bullet-icon"></i></div>
					  <div><a target="_" href="{{aNews.link}}">{{aNews.label}}</a><a matTooltip="Exit Disclaimer" href="https://www.cancer.gov/policies/linking" target="_">&nbsp;<i class="fas fa-external-link-alt"></i><span style="display: none">Exit Disclaimer</span></a></div></div>
				  </mat-list-item>
				</mat-list>
			  </mat-card-content>
			</mat-card>
    </div>
		<div class="col-md-3 ml-0" id="tools-and-pipelines"  style="padding-left: 0!important;padding-right: 0!important; overflow-y: scroll;">
				<mat-card class="bottom-card">
				  <mat-card-header class="bottom-row-card-header" style="padding-right: 10px!important;" >TECHNOLOGY ADVANCEMENT STUDIES</mat-card-header>
				  <mat-card-content id="CPTACLegacyData">
					<mat-list>
						<mat-list-item class="bottom-card-list-item">
						  <i class="pi pi-circle-off"></i>  &nbsp;&nbsp;&nbsp; <a href="/pdc/TechnologyAdvancementStudies" target="_blank">Technology Assessment Studies</a>
						</mat-list-item>
						<mat-list-item class="bottom-card-list-item">
						  <i class="pi pi-circle-off"></i>  &nbsp;&nbsp;&nbsp; <a href="/pdc/TechnologyAdvancementStudies" target="_blank">System Suitability Studies</a>
						</mat-list-item>
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i>&nbsp;&nbsp;&nbsp; <a href="/pdc/TechnologyAdvancementStudies" target="_blank">Non-CPTAC Methodology Studies</a>
						</mat-list-item>
					</mat-list>
				  </mat-card-content>
				</mat-card>
		</div>
		<div class="col-md-3 ml-0" id="helpSection"  style="padding-left: 0!important;padding-right: 15px!important;">
			<mat-card  class="bottom-card">
				<mat-card-header class="bottom-row-card-header">HELP</mat-card-header>
				<mat-card-content class="bottom-card" id="helpContent">
					<mat-list>
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i> &nbsp;&nbsp;&nbsp;
							<a id="releaseNotesHelpLink" href="https://drive.google.com/file/d/1k_sPoPuhusZPRDJWkVecWEnyCqvQm8nA/view?ths=true" target="_blank" style="font-weight:900">Software Release Notes</a>
						</mat-list-item>
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i> &nbsp;&nbsp;&nbsp; <a href="https://docs.google.com/document/d/1K8rSin-9KrDS08vB3Tpnfcch_NMK78MAt27rpkdM-HE/view?ths=true" target="_blank" style="font-weight:900">Data Release Notes</a>
						</mat-list-item>
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i> &nbsp;&nbsp;&nbsp; <a href={{dictionary_url}} target="_blank">Data Model and Dictionary</a>
						</mat-list-item>
						<!-- <mat-list-item class="bottom-card">
						  <mat-icon mat-help-icon>help</mat-icon> &nbsp; &nbsp; Portal Documentation
						</mat-list-item> -->
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i> &nbsp;&nbsp;&nbsp; <a href='https://pdc.cancer.gov/pdc/submit-data' target="_blank">Data Submission Documentation</a>
						</mat-list-item>
						 <mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i>  &nbsp;&nbsp;&nbsp; <a href = {{apidocumentation_url}} target="_blank">API Documentation</a>
						</mat-list-item>
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i>  &nbsp;&nbsp;&nbsp; <a href = 'https://list.nih.gov/cgi-bin/wa.exe?SUBED1=PDC-ANNOUNCE-L&A=1' target="_blank">Subscribe to PDC mailing list</a>
						</mat-list-item>
						<mat-list-item class="bottom-card-list-item">
							<i class="pi pi-circle-off"></i>  &nbsp;&nbsp;&nbsp; <a href = 'https://groups.google.com/a/esacinc.com/forum/#!forum/pdc-mvp-feedback' id="discussionForumLink" target="_" >Discussion Forum</a>
						</mat-list-item>
					</mat-list>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
<!--
    <div class="row bottom-card-row" style="padding-left:0px; width: 100%; margin-left: 0em;">
		<div class="col-md-3" id="recentReleases">
            <mat-card class="bottom-card">
              <mat-card-header class="bottom-row-card-header">RECENT RELEASES</mat-card-header>
              <mat-card-content id="recentReleasesContent">
                <mat-list >
                    <mat-list-item class="bottom-card">
                      <mat-icon mat-done-icon>done</mat-icon> &nbsp; &nbsp; MVP 0.1 API Release
                    </mat-list-item>
                    <mat-list-item class="bottom-card">
                      <mat-icon mat-done-icon>done</mat-icon> &nbsp; &nbsp; <div>MVP 0.2 Portal Release - July 15, 2018</div>
                    </mat-list-item>
                    <mat-list-item class="bottom-card">
                        <mat-icon mat-done-icon>done</mat-icon> &nbsp; &nbsp;<div>MVP 0.3 Workspace Release - September 15, 2018</div>
                    </mat-list-item>
                </mat-list>
                </mat-card-content>
            </mat-card>
		</div>
		<div class="col-md-3" id="newsSection">
			<mat-card class="bottom-card">
			  <mat-card-header class="bottom-row-card-header">NEWS</mat-card-header>
			  <mat-card-content id="newsSectionContent">
				<mat-list>
					<mat-list-item *ngFor="let aNews of newsItems" class="bottom-card" style="margin-bottom: 15px; padding-top: 10px!important">
						<mat-icon mat-open_in_browser-icon>open_in_browser</mat-icon>&nbsp;&nbsp;<a target="_" href="{{aNews.link}}">{{aNews.label}}</a>
					</mat-list-item>
				</mat-list>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col-md-3" id="tools-and-pipelines">
			<mat-card class="bottom-card">
			  <mat-card-header class="bottom-row-card-header">TOOLS & PIPELINES</mat-card-header>
			  <mat-card-content id="toolAndPipelinesContent">
				<mat-list>
					<mat-list-item class="bottom-card">
					  <mat-icon mat-dns-icon>dns</mat-icon>  &nbsp; &nbsp; <a href={{harmonization_url}} target="_blank">Common Data Analysis Pipeline (CDAP)</a>
					</mat-list-item>

				</mat-list>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col-md-3" id="helpSection">
			<mat-card  class="bottom-card">
			  <mat-card-header class="bottom-row-card-header">HELP</mat-card-header>
			  <mat-card-content class="bottom-card" id="helpContent">
				<mat-list>
					<mat-list-item class="bottom-card">
						<mat-icon mat-help-icon>help</mat-icon> &nbsp; &nbsp; <a href={{dictionary_url}} target="_blank">Data Dictionary</a>
					</mat-list-item>
					<mat-list-item class="bottom-card">
						<mat-icon mat-help-icon>help</mat-icon> &nbsp; &nbsp; <a [href]=getSubmissionPortalDocsURL() target="_blank">Submission Portal Documentation</a>
					</mat-list-item>
					 <mat-list-item class="bottom-card">
					  <mat-icon mat-help-icon>help</mat-icon>  &nbsp; &nbsp; <a href = {{apidocumentation_url}} target="_blank">API Documentation</a>
					</mat-list-item>
				</mat-list>
			  </mat-card-content>
			</mat-card>
		</div>
	</div>-->

  </div>
</div>
