<title>Welcome</title>
<mat-toolbar-row class="toolbar-second-row mat-toolbar-row"
	style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%);height: 120px; width:100%">
</mat-toolbar-row>
<mat-card style="padding-right:0; padding-left:0; margin-left:3%; margin-right:3%">
	<div class="row" style="margin:-10rem auto -10rem; background-color: white; padding-bottom: 5%; padding-top: 5%;">
		<div class="col-md-6">
			<img src="./assets/css/images/WelcomePageImage.png" class="welcome-page-img" style="padding:0;width:75%"/>
		</div>
		<div class="col-md-6">
		  <span style="display: inline-block; vertical-align: bottom; line-height: 35px; text-align: center; margin-right:10%;margin-top:7%">
			<h2 style="color:#245672; text-align: center;"><b>Join NCI Proteomic Data Portal Alpha Program!</b></h2>
			<br>
			<div class="welcome-page-message">
					<p style="text-align: justify">NCI Proteomic Data Commons (PDC) is a pilot project aimed to democratize access to cancer-related proteomic datasets
							as well as to provide sustainable computational support to the cancer research community.
					This is a Minimally Viable Product (MVP) with a set of features targeted at early adopters.
							We would like to invite you to <strong><i>alpha</i></strong> test the MVP and provide feedback
							so we can improve and build a resource that better meets the community needs.
							Please send us your feedback or comments on any issues you experience at <a href="mailTo:PDCHelpDesk@mail.nih.gov">PDCHelpDesk@mail.nih.gov</a></p>
					<p style="text-align: justify">If you are interested in joining the MVP Alpha program, please login or join via the links below:</p>

					</div>
			<br>
			<div class="row">
				<div class="col" style="width:50%; padding:5px; text-align: center;">
					<span style="width: 195px; height: 50px;"><input type="submit" id="socialSignIn" (click)="socialSignIn('google')" name="" value="Sign in with Google"></span>
				</div>
				<div class="col" style="width:50%; padding: 5px; text-align: center;">
					<form ngNoForm method="post" action="/pdc/sp/authnih" name="nihLoginForm">
 						<input type="submit" value="Sign in with NIH/eRA" id="nihSignIn">
				    </form>
				</div>
			</div>
			<!-- @@@PDC-419 handle system error	-->
			<div class="row">
				<h4 *ngIf="systemErrorMessage!=''"><br><span style="color:red">{{systemErrorMessage}}</span><br></h4>
			</div>

			 <br>
		  </span>
		</div>
	</div>
</mat-card>
<mat-toolbar-row class="toolbar-second-row mat-toolbar-row"
	style="background-image: linear-gradient(-133deg, #246A92 0%, #245571 100%);height: 120px; width:100%">
</mat-toolbar-row>
